<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<!-- segunda b-->

				<key>864</key>
		  		<dict>
					<key>name</key>
					<string>Huesca</string>
					<key>teamWS</key>
					<string>/fichas/equipo/365/864/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_huesca_size02.png</string>
						<key>calendar</key>
						<string>escudo_huesca_size03.png</string>
						<key>detail</key>
						<string>escudo_huesca_size01.png</string>
					</dict>
				</dict>

				<key>98989898</key>
		  		<dict>
					<key>name</key>
					<string>Villanovense</string>
					<key>teamWS</key>
					<string></string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string></string>
						<key>calendar</key>
						<string></string>
						<key>detail</key>
						<string></string>
					</dict>
				</dict>

				<key>485</key>
		  		<dict>
					<key>name</key>
					<string>Ponferradina</string>
					<key>teamWS</key>
					<string>/fichas/equipo/485/485/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_ponferradina_size02.png</string>
						<key>calendar</key>
						<string>escudo_ponferradina_size03.png</string>
						<key>detail</key>
						<string>escudo_ponferradina_size01.png</string>
					</dict>
				</dict>

				<key>180</key>
		  		<dict>
					<key>name</key>
					<string>Barakaldo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/180/180/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_barakaldo_size02.png</string>
						<key>calendar</key>
						<string>escudo_barakaldo_size03.png</string>
						<key>detail</key>
						<string>escudo_barakaldo_size01.png</string>
					</dict>
				</dict>

				<key>91</key>
		  		<dict>
					<key>name</key>
					<string>Cádiz</string>
					<key>teamWS</key>
					<string>/fichas/equipo/091/91/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cadiz_size02.png</string>
						<key>calendar</key>
						<string>escudo_cadiz_size03.png</string>
						<key>detail</key>
						<string>escudo_cadiz_size01.png</string>
					</dict>
				</dict>

				<key>969696</key>
		  		<dict>
					<key>name</key>
					<string>Reus</string>
					<key>teamWS</key>
					<string></string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string></string>
						<key>calendar</key>
						<string></string>
						<key>detail</key>
						<string></string>
					</dict>
				</dict>

				<key>97979797</key>
		  		<dict>
					<key>name</key>
					<string>UD Logroñés</string>
					<key>teamWS</key>
					<string></string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string></string>
						<key>calendar</key>
						<string></string>
						<key>detail</key>
						<string></string>
					</dict>
				</dict>

				<!-- segunda -->

				<key>95959595</key>
		  		<dict>
					<key>name</key>
					<string>RB Linense</string>
					<key>teamWS</key>
					<string></string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string></string>
						<key>calendar</key>
						<string></string>
						<key>detail</key>
						<string></string>
					</dict>
				</dict>

		    <key>8</key>
		    	<dict>
					<key>name</key>
					<string>Espanyol</string>
					<key>teamWS</key>
					<string>/fichas/equipo/008/8/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/8.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_espanyol_size02.png</string>
						<key>calendar</key>
						<string>escudo_espanyol_size03.png</string>
						<key>detail</key>
						<string>escudo_espanyol_size01.png</string>
					</dict>
				</dict>

				<key>76</key>
		  		<dict>
					<key>name</key>
					<string>Sporting</string>
					<key>teamWS</key>
					<string>/fichas/equipo/076/76/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sporting_size02.png</string>
						<key>calendar</key>
						<string>escudo_sporting_size03.png</string>
						<key>detail</key>
						<string>escudo_sporting_size01.png</string>
					</dict>
				</dict>

				<key>108</key>
		  		<dict>
					<key>name</key>
					<string>Eibar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/108/108/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/108.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_eibar_size02.png</string>
						<key>calendar</key>
						<string>escudo_eibar_size03.png</string>
						<key>detail</key>
						<string>escudo_eibar_size01.png</string>
					</dict>
				</dict>

				<key>9</key>
		  		<dict>
					<key>name</key>
					<string>Las Palmas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/009/9/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/9.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_canarias_size02.png</string>
						<key>calendar</key>
						<string>escudo_canarias_size03.png</string>
						<key>detail</key>
						<string>escudo_canarias_size01.png</string>
					</dict>
				</dict>

			<!-- primera -->

				<key>132</key>
					<dict>
						<key>name</key>
						<string>Leganés</string>
						<key>teamWS</key>
						<string>/fichas/equipo/132/132/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_leganes_size02.png</string>
							<key>calendar</key>
							<string>escudo_leganes_size03.png</string>
							<key>detail</key>
							<string>escudo_leganes_size01.png</string>
						</dict>
				</dict>

				<key>3375</key>
					<dict>
					<key>name</key>
					<string>Llagostera</string>
					<key>teamWS</key>
					<string>/fichas/equipo/381/3375/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_llagostera_size02.png</string>
						<key>calendar</key>
						<string>escudo_llagostera_size03.png</string>
						<key>detail</key>
						<string>escudo_llagostera_size01.png</string>
					</dict>
				</dict>

				<key>17</key>
					<dict>
					<key>name</key>
					<string>Valencia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/017/17/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/17.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_valencia_size02.png</string>
						<key>calendar</key>
						<string>escudo_valencia_size03.png</string>
						<key>detail</key>
						<string>escudo_valencia_size01.png</string>
					</dict>
				</dict>

				<key>53</key>
					<dict>
					<key>name</key>
					<string>Sevilla</string>
					<key>teamWS</key>
					<string>/fichas/equipo/053/53/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/53.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sevilla_size02.png</string>
						<key>calendar</key>
						<string>escudo_sevilla_size03.png</string>
						<key>detail</key>
						<string>escudo_sevilla_size01.png</string>
					</dict>
				</dict>

				<key>16</key>
				 <dict>
					<key>name</key>
					<string>Real Sociedad</string>
					<key>teamWS</key>
					<string>/fichas/equipo/016/16/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/16.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realsociedad_size02.png</string>
						<key>calendar</key>
						<string>escudo_realsociedad_size03.png</string>
						<key>detail</key>
						<string>escudo_realsociedad_size01.png</string>
					</dict>
				</dict>

				<key>1</key>
				 <dict>
					<key>name</key>
					<string>Real Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/001/1/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/1.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realmadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_realmadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_realmadrid_size01.png</string>
					</dict>
				</dict>

				<key>2</key>
				 <dict>
					<key>name</key>
					<string>Rayo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/002/2/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/2.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rayo_size02.png</string>
						<key>calendar</key>
						<string>escudo_rayo_size03.png</string>
						<key>detail</key>
						<string>escudo_rayo_size01.png</string>
					</dict>
				</dict>

				<key>7</key>
				 <dict>
					<key>name</key>
					<string>Deportivo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/007/7/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/7.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_deportivo_size02.png</string>
						<key>calendar</key>
						<string>escudo_deportivo_size03.png</string>
						<key>detail</key>
						<string>escudo_deportivo_size01.png</string>
					</dict>
				</dict>

				<key>10</key>
				 <dict>
					<key>name</key>
					<string>Málaga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/010/10/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/10.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_malaga_size02.png</string>
						<key>calendar</key>
						<string>escudo_malaga_size03.png</string>
						<key>detail</key>
						<string>escudo_malaga_size01.png</string>
					</dict>
				</dict>

				<key>136</key>
				 <dict>
					<key>name</key>
					<string>Levante</string>
					<key>teamWS</key>
					<string>/fichas/equipo/136/136/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/136.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_levante_size02.png</string>
						<key>calendar</key>
						<string>escudo_levante_size03.png</string>
						<key>detail</key>
						<string>escudo_levante_size01.png</string>
					</dict>
				</dict>

				<key>347</key>
				 <dict>
					<key>name</key>
					<string>Granada</string>
					<key>teamWS</key>
					<string>/fichas/equipo/347/347/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/347.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_granada_size02.png</string>
						<key>calendar</key>
						<string>escudo_granada_size03.png</string>
						<key>detail</key>
						<string>escudo_granada_size01.png</string>
					</dict>
				</dict>

				<key>172</key>
				 <dict>
					<key>name</key>
					<string>Getafe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/172/172/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/172.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_getafe_size02.png</string>
						<key>calendar</key>
						<string>escudo_getafe_size03.png</string>
						<key>detail</key>
						<string>escudo_getafe_size01.png</string>
					</dict>
				</dict>

				<key>843</key>
				 <dict>
					<key>name</key>
					<string>Mirandés</string>
					<key>teamWS</key>
					<string>/fichas/equipo/344/843/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_mirandes_size02.png</string>
						<key>calendar</key>
						<string>escudo_mirandes_size03.png</string>
						<key>detail</key>
						<string>escudo_mirandes_size01.png</string>
					</dict>
				</dict>

				<key>6</key>
				 <dict>
					<key>name</key>
					<string>Celta</string>
					<key>teamWS</key>
					<string>/fichas/equipo/006/6/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/6.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_celta_size02.png</string>
						<key>calendar</key>
						<string>escudo_celta_size03.png</string>
						<key>detail</key>
						<string>escudo_celta_size01.png</string>
					</dict>
				</dict>

				<key>171</key>
				 <dict>
					<key>name</key>
					<string>Betis</string>
					<key>teamWS</key>
					<string>/fichas/equipo/171/171/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/171.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_betis_size02.png</string>
						<key>calendar</key>
						<string>escudo_betis_size03.png</string>
						<key>detail</key>
						<string>escudo_betis_size01.png</string>
					</dict>
				</dict>

				<key>3</key>
				 <dict>
					<key>name</key>
					<string>Barcelona</string>
					<key>teamWS</key>
					<string>/fichas/equipo/003/3/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/3.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_barcelona_size02.png</string>
						<key>calendar</key>
						<string>escudo_barcelona_size03.png</string>
						<key>detail</key>
						<string>escudo_barcelona_size01.png</string>
					</dict>
				</dict>

				<key>5</key>
				 <dict>
					<key>name</key>
					<string>Athletic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/5/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/5.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_athletic_size02.png</string>
						<key>calendar</key>
						<string>escudo_athletic_size03.png</string>
						<key>detail</key>
						<string>escudo_athletic_size01.png</string>
					</dict>
				</dict>

				<key>85</key>
				 <dict>
					<key>name</key>
					<string>Almería</string>
					<key>teamWS</key>
					<string>/fichas/equipo/085/85/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/85.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_almeria_size02.png</string>
						<key>calendar</key>
						<string>escudo_almeria_size03.png</string>
						<key>detail</key>
						<string>escudo_almeria_size01.png</string>
					</dict>
				</dict>

				<key>42</key>
				 <dict>
					<key>name</key>
					<string>Atlético de Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/042/42/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/42.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atleticomadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_atleticomadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_atleticomadrid_size01.png</string>
					</dict>
				</dict>

				<key>19</key>
				 <dict>
					<key>name</key>
					<string>Villarreal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/019/19/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/teams/19.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_villarreal_size02.png</string>
						<key>calendar</key>
						<string>escudo_villarreal_size03.png</string>
						<key>detail</key>
						<string>escudo_villarreal_size01.png</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias</string>
			<key>noticiasWS</key>
			<string>rss/futbol/copa_del_rey.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/2f20e04bc699cd5610e185d365602b08/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/copa_del_rey/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/2f20e04bc699cd5610e185d365602b08/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/2f20e04bc699cd5610e185d365602b08/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<!-- <dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>http://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict> -->
	</array>
</dict>
</plist>
