<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<!-- A -->

				<key>67</key>
					<dict>
					<key>name</key>
					<string>Manchester</string>
					<key>teamWS</key>
					<string>/fichas/equipo/067/67/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/67.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_manchester_size02.png</string>
						<key>calendar</key>
						<string>escudo_manchester_size03.png</string>
						<key>detail</key>
						<string>escudo_manchester_size01.png</string>
					</dict>
				</dict>

				<key>90</key>
					<dict>
					<key>name</key>
					<string>Fenerbahçe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/090/90/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_fenerbahce_size02.png</string>
						<key>calendar</key>
						<string>escudo_fenerbahce_size03.png</string>
						<key>detail</key>
						<string>escudo_fenerbahce_size01.png</string>
					</dict>
				</dict>

				<key>223</key>
					<dict>
					<key>name</key>
					<string>Feyenoord</string>
					<key>teamWS</key>
					<string>/fichas/equipo/223/223/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_feyenoord_size02.png</string>
						<key>calendar</key>
						<string>escudo_feyenoord_size03.png</string>
						<key>detail</key>
						<string>escudo_feyenoord_size01.png</string>
					</dict>
				</dict>

				<key>4293</key>
					<dict>
					<key>name</key>
					<string>Zorya Luhansk</string>
					<key>teamWS</key>
					<string>/fichas/equipo/301/4293/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_zorya_size02.png</string>
						<key>calendar</key>
						<string>escudo_zorya_size03.png</string>
						<key>detail</key>
						<string>escudo_zorya_size01.png</string>
					</dict>
				</dict>

				<!-- B -->

				<key>3219</key>
		  		<dict>
					<key>name</key>
					<string>Astana</string>
					<key>teamWS</key>
					<string>/fichas/equipo/225/3219/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_astana_size02.png</string>
						<key>calendar</key>
						<string>escudo_astana_size03.png</string>
						<key>detail</key>
						<string>escudo_astana_size01.png</string>
					</dict>
				</dict>

				<key>916</key>
		  		<dict>
					<key>name</key>
					<string>APOEL</string>
					<key>teamWS</key>
					<string>/fichas/equipo/417/916/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/916.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_apoel_size02.png</string>
						<key>calendar</key>
						<string>escudo_apoel_size03.png</string>
						<key>detail</key>
						<string>escudo_apoel_size01.png</string>
					</dict>
				</dict>

				<key>137</key>
		  		<dict>
					<key>name</key>
					<string>Olympiacos</string>
					<key>teamWS</key>
					<string>/fichas/equipo/137/137/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/137.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_olympiakos_size02.png</string>
						<key>calendar</key>
						<string>escudo_olympiakos_size03.png</string>
						<key>detail</key>
						<string>escudo_olympiakos_size01.png</string>
					</dict>
				</dict>

				<key>1251</key>
					<dict>
					<key>name</key>
					<string>Young Boys</string>
					<key>teamWS</key>
					<string>/fichas/equipo/253/1251/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_young_size02.png</string>
						<key>calendar</key>
						<string>escudo_young_size03.png</string>
						<key>detail</key>
						<string>escudo_young_size01.png</string>
					</dict>
				</dict>

				<!-- C -->

				<key>115</key>
		  		<dict>
					<key>name</key>
					<string>Anderlecht</string>
					<key>teamWS</key>
					<string>/fichas/equipo/115/115/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/115.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_anderlecht_size02.png</string>
						<key>calendar</key>
						<string>escudo_anderlecht_size03.png</string>
						<key>detail</key>
						<string>escudo_anderlecht_size01.png</string>
					</dict>
				</dict>

				<key>473</key>
		  		<dict>
					<key>name</key>
					<string>Saint-Etienne</string>
					<key>teamWS</key>
					<string>/fichas/equipo/473/473/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_saintetienne_size02.png</string>
						<key>calendar</key>
						<string>escudo_saintetienne_size03.png</string>
						<key>detail</key>
						<string>escudo_saintetienne_size01.png</string>
					</dict>
				</dict>

				<key>1674</key>
					<dict>
					<key>name</key>
					<string>Mainz 05</string>
					<key>teamWS</key>
					<string>/fichas/equipo/177/1674/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_mainz_size02.png</string>
						<key>calendar</key>
						<string>escudo_mainz_size03.png</string>
						<key>detail</key>
						<string>escudo_mainz_size01.png</string>
					</dict>
				</dict>

				<key>4255</key>
					<dict>
					<key>name</key>
					<string>Qabala</string>
					<key>teamWS</key>
					<string>/fichas/equipo/263/4255/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_qabala_size02.png</string>
						<key>calendar</key>
						<string>escudo_qabala_size03.png</string>
						<key>detail</key>
						<string>escudo_qabala_size01.png</string>
					</dict>
				</dict>

				<!-- D -->

				<key>1575</key>
		  		<dict>
					<key>name</key>
					<string>Zenit</string>
					<key>teamWS</key>
					<string>/fichas/equipo/078/1575/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/1575.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_zenit_size02.png</string>
						<key>calendar</key>
						<string>escudo_zenit_size03.png</string>
						<key>detail</key>
						<string>escudo_zenit_size01.png</string>
					</dict>
				</dict>

				<key>2168</key>
					<dict>
					<key>name</key>
					<string>Dundalk</string>
					<key>teamWS</key>
					<string>/fichas/equipo/172/2168/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_dundalk_size02.png</string>
						<key>calendar</key>
						<string>escudo_dundalk_size03.png</string>
						<key>detail</key>
						<string>escudo_dundalk_size01.png</string>
					</dict>
				</dict>

				<key>1181</key>
					<dict>
					<key>name</key>
					<string>AZ Alkmaar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/183/1181/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_az_alkmaar_size02.png</string>
						<key>calendar</key>
						<string>escudo_az_alkmaar_size03.png</string>
						<key>detail</key>
						<string>escudo_az_alkmaar_size01.png</string>
					</dict>
				</dict>

				<key>1784</key>
				<dict>
								<key>name</key>
								<string>M. Tel-Aviv</string>
								<key>teamWS</key>
								<string>/fichas/equipo/287/1784/equipo.js2</string>
								<key>shields</key>
								<dict>
										<key>grid</key>
										<string>escudo_maccabi_size02.png</string>
										<key>calendar</key>
										<string>escudo_maccabi_size03.png</string>
										<key>detail</key>
										<string>escudo_maccabi_size01.png</string>
								</dict>
				</dict>

				<!-- E -->

				<key>1871</key>
				<dict>
						<key>name</key>
						<string>Viktoria Plzen</string>
						<key>teamWS</key>
						<string>/fichas/equipo/374/1871/equipo.js2</string>
						<key>teamInfo</key>
						<string>http://as.com/apps/guia_de_la_liga/data/teams/1871.xml</string>
						<key>shields</key>
						<dict>
								<key>grid</key>
								<string>escudo_viktoria_size02.png</string>
								<key>calendar</key>
								<string>escudo_viktoria_size03.png</string>
								<key>detail</key>
								<string>escudo_viktoria_size01.png</string>
						</dict>
				</dict>

				<key>24</key>
		  		<dict>
					<key>name</key>
					<string>Roma</string>
					<key>teamWS</key>
					<string>/fichas/equipo/024/24/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/24.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_roma_size02.png</string>
						<key>calendar</key>
						<string>escudo_roma_size03.png</string>
						<key>detail</key>
						<string>escudo_roma_size01.png</string>
					</dict>
				</dict>

				<key>1491</key>
					<dict>
					<key>name</key>
					<string>Austria Viena</string>
					<key>teamWS</key>
					<string>/fichas/equipo/493/1491/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_austriaviena_size02.png</string>
						<key>calendar</key>
						<string>escudo_austriaviena_size03.png</string>
						<key>detail</key>
						<string>escudo_austriaviena_size01.png</string>
					</dict>
				</dict>

				<key>4169</key>
					<dict>
					<key>name</key>
					<string>Astra Giurgiu</string>
					<key>teamWS</key>
					<string>/fichas/equipo/177/4169/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_astra_size02.png</string>
						<key>calendar</key>
						<string>escudo_astra_size03.png</string>
						<key>detail</key>
						<string>escudo_astra_size01.png</string>
					</dict>
				</dict>

				<!-- F -->

				<key>543</key>
				<dict>
						<key>name</key>
						<string>R. Viena</string>
						<key>teamWS</key>
						<string>/fichas/equipo/044/543/equipo.js2</string>
						<key>shields</key>
						<dict>
								<key>grid</key>
								<string>escudo_rapidwien_size02.png</string>
								<key>calendar</key>
								<string>escudo_rapidwien_size03.png</string>
								<key>detail</key>
								<string>escudo_rapidwien_size01.png</string>
						</dict>
				</dict>

				<key>248</key>
					<dict>
					<key>name</key>
					<string>Genk</string>
					<key>teamWS</key>
					<string>/fichas/equipo/248/248/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_genk_size02.png</string>
						<key>calendar</key>
						<string>escudo_genk_size03.png</string>
						<key>detail</key>
						<string>escudo_genk_size01.png</string>
					</dict>
				</dict>

				<key>5</key>
					<dict>
					<key>name</key>
					<string>Athletic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/5/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/5.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_athletic_size02.png</string>
						<key>calendar</key>
						<string>escudo_athletic_size03.png</string>
						<key>detail</key>
						<string>escudo_athletic_size01.png</string>
					</dict>
				</dict>

				<key>2863</key>
					<dict>
					<key>name</key>
					<string>Sassuolo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/368/2863/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sassuolo_size02.png</string>
						<key>calendar</key>
						<string>escudo_sassuolo_size03.png</string>
						<key>detail</key>
						<string>escudo_sassuolo_size01.png</string>
					</dict>
				</dict>

				<!-- G -->

				<key>40</key>
		  		<dict>
					<key>name</key>
					<string>Ajax</string>
					<key>teamWS</key>
					<string>/fichas/equipo/040/40/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/40.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_ajax_size02.png</string>
						<key>calendar</key>
						<string>escudo_ajax_size03.png</string>
						<key>detail</key>
						<string>escudo_ajax_size01.png</string>
					</dict>
				</dict>

				<key>6</key>
				<dict>
					<key>name</key>
					<string>Celta</string>
					<key>teamWS</key>
					<string>/fichas/equipo/006/6/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/6.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_celta_size02.png</string>
						<key>calendar</key>
						<string>escudo_celta_size03.png</string>
						<key>detail</key>
						<string>escudo_celta_size01.png</string>
					</dict>
				</dict>

				<key>335</key>
					<dict>
					<key>name</key>
					<string>Panathinaikos</string>
					<key>teamWS</key>
					<string>/fichas/equipo/335/335/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_panathinaikos_size02.png</string>
						<key>calendar</key>
						<string>escudo_panathinaikos_size03.png</string>
						<key>detail</key>
						<string>escudo_panathinaikos_size01.png</string>
					</dict>
				</dict>

				<key>1111</key>
					<dict>
					<key>name</key>
					<string>Standard</string>
					<key>teamWS</key>
					<string>/fichas/equipo/113/1111/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_standard_size02.png</string>
						<key>calendar</key>
						<string>escudo_standard_size03.png</string>
						<key>detail</key>
						<string>escudo_standard_size01.png</string>
					</dict>
				</dict>

				<!-- H -->

				<key>288</key>
		  		<dict>
					<key>name</key>
					<string>Shakhtar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/288/288/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/288.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_shackhtar_size02.png</string>
						<key>calendar</key>
						<string>escudo_shackhtar_size03.png</string>
						<key>detail</key>
						<string>escudo_shackhtar_size01.png</string>
					</dict>
				</dict>

				<key>83</key>
		  		<dict>
					<key>name</key>
					<string>Braga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/083/83/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_braga_size02.png</string>
						<key>calendar</key>
						<string>escudo_braga_size03.png</string>
						<key>detail</key>
						<string>escudo_braga_size01.png</string>
					</dict>
				</dict>

				<key>1428</key>
		  		<dict>
					<key>name</key>
					<string>Gent</string>
					<key>teamWS</key>
					<string>/fichas/equipo/430/1428/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_gent_size02.png</string>
						<key>calendar</key>
						<string>escudo_gent_size03.png</string>
						<key>detail</key>
						<string>escudo_gent_size01.png</string>
					</dict>
				</dict>

				<key>4292</key>
					<dict>
					<key>name</key>
					<string>Konyaspor</string>
					<key>teamWS</key>
					<string>/fichas/equipo/300/4292/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_konyaspor_size02.png</string>
						<key>calendar</key>
						<string>escudo_konyaspor_size03.png</string>
						<key>detail</key>
						<string>escudo_konyaspor_size01.png</string>
					</dict>
				</dict>

				<!-- I -->

				<key>468</key>
		  		<dict>
					<key>name</key>
					<string>Schalke 04</string>
					<key>teamWS</key>
					<string>/fichas/equipo/468/468/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/468.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_schalke04_size02.png</string>
						<key>calendar</key>
						<string>escudo_schalke04_size03.png</string>
						<key>detail</key>
						<string>escudo_schalke04_size01.png</string>
					</dict>
				</dict>

				<key>966</key>
					<dict>
					<key>name</key>
					<string>Salzburgo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/467/966/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_salzburgo_size02.png</string>
						<key>calendar</key>
						<string>escudo_salzburgo_size03.png</string>
						<key>detail</key>
						<string>escudo_salzburgo_size01.png</string>
					</dict>
				</dict>

				<key>4171</key>
					<dict>
					<key>name</key>
					<string>Krasnodar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/179/4171/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_krasnodar_size02.png</string>
						<key>calendar</key>
						<string>escudo_krasnodar_size03.png</string>
						<key>detail</key>
						<string>escudo_krasnodar_size01.png</string>
					</dict>
				</dict>

				<key>118</key>
					<dict>
					<key>name</key>
					<string>Niza</string>
					<key>teamWS</key>
					<string>/fichas/equipo/118/118/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_niza_size02.png</string>
						<key>calendar</key>
						<string>escudo_niza_size03.png</string>
						<key>detail</key>
						<string>escudo_niza_size01.png</string>
					</dict>
				</dict>

				<!-- J -->

				<key>544</key>
				<dict>
					<key>name</key>
					<string>Sl Liberec</string>
					<key>teamWS</key>
					<string>/fichas/equipo/045/544/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_liberec_size02.png</string>
						<key>calendar</key>
						<string>escudo_liberec_size03.png</string>
						<key>detail</key>
						<string>escudo_liberec_size01.png</string>
					</dict>
				</dict>

				<key>3263</key>
		  		<dict>
					<key>name</key>
					<string>FK Qarabag</string>
					<key>teamWS</key>
					<string>/fichas/equipo/269/3263/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_qarabagh_size02.png</string>
						<key>calendar</key>
						<string>escudo_qarabagh_size03.png</string>
						<key>detail</key>
						<string>escudo_qarabagh_size01.png</string>
					</dict>
				</dict>

				<key>31</key>
		  		<dict>
					<key>name</key>
					<string>Fiorentina</string>
					<key>teamWS</key>
					<string>/fichas/equipo/031/31/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_fiorentina_size02.png</string>
						<key>calendar</key>
						<string>escudo_fiorentina_size03.png</string>
						<key>detail</key>
						<string>escudo_fiorentina_size01.png</string>
					</dict>
				</dict>

				<key>953</key>
					<dict>
					<key>name</key>
					<string>PAOK</string>
					<key>teamWS</key>
					<string>/fichas/equipo/454/953/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_paok_size02.png</string>
						<key>calendar</key>
						<string>escudo_paok_size03.png</string>
						<key>detail</key>
						<string>escudo_paok_size01.png</string>
					</dict>
				</dict>

				<!-- K -->

				<key>215</key>
		  		<dict>
					<key>name</key>
					<string>S. Praga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/215/215/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sparta_size02.png</string>
						<key>calendar</key>
						<string>escudo_sparta_size03.png</string>
						<key>detail</key>
						<string>escudo_sparta_size01.png</string>
					</dict>
				</dict>

				<key>35</key>
					<dict>
					<key>name</key>
					<string>Inter</string>
					<key>teamWS</key>
					<string>/fichas/equipo/035/35/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_inter_size02.png</string>
						<key>calendar</key>
						<string>escudo_inter_size03.png</string>
						<key>detail</key>
						<string>escudo_inter_size01.png</string>
					</dict>
				</dict>

				<key>4294</key>
					<dict>
					<key>name</key>
					<string>Hapoel</string>
					<key>teamWS</key>
					<string>/fichas/equipo/302/4294/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_hapoel_size02.png</string>
						<key>calendar</key>
						<string>escudo_hapoel_size03.png</string>
						<key>detail</key>
						<string>escudo_hapoel_size01.png</string>
					</dict>
				</dict>

				<key>70</key>
					<dict>
					<key>name</key>
					<string>Southampton</string>
					<key>teamWS</key>
					<string>/fichas/equipo/070/70/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_southampton_size02.png</string>
						<key>calendar</key>
						<string>escudo_southampton_size03.png</string>
						<key>detail</key>
						<string>escudo_southampton_size01.png</string>
					</dict>
				</dict>

				<!-- L -->

				<key>19</key>
		  		<dict>
					<key>name</key>
					<string>Villarreal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/019/19/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/19.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_villarreal_size02.png</string>
						<key>calendar</key>
						<string>escudo_villarreal_size03.png</string>
						<key>detail</key>
						<string>escudo_villarreal_size01.png</string>
					</dict>
				</dict>

				<key>144</key>
					<dict>
					<key>name</key>
					<string>Steaua</string>
					<key>teamWS</key>
					<string>/fichas/equipo/144/144/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_steaua_size02.png</string>
						<key>calendar</key>
						<string>escudo_steaua_size03.png</string>
						<key>detail</key>
						<string>escudo_steaua_size01.png</string>
					</dict>
				</dict>

				<key>295</key>
					<dict>
					<key>name</key>
					<string>Zürich</string>
					<key>teamWS</key>
					<string>/fichas/equipo/295/295/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_zurich_size02.png</string>
						<key>calendar</key>
						<string>escudo_zurich_size03.png</string>
						<key>detail</key>
						<string>escudo_zurich_size01.png</string>
					</dict>
				</dict>

				<key>4295</key>
				<dict>
					<key>name</key>
					<string>Osmanlispor</string>
					<key>teamWS</key>
					<string>/fichas/equipo/303/4295/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_osmanlispor_size02.png</string>
						<key>calendar</key>
						<string>escudo_osmanlispor_size03.png</string>
						<key>detail</key>
						<string>escudo_osmanlispor_size01.png</string>
					</dict>
				</dict>

			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias</string>
			<key>noticiasWS</key>
			<string>rss/futbol/uefa.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/b76a6aa514debe6b267da003202ce97e/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/europa_league/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/b76a6aa514debe6b267da003202ce97e/clasificacion_grupos.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/b76a6aa514debe6b267da003202ce97e/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<!-- <dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>http://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict> -->
	</array>
</dict>
</plist>
