<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<key>4210</key>
		  		<dict>
					<key>name</key>
					<string>Tigres</string>
					<key>teamWS</key>
					<string>/fichas/equipo/218/4210/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_tigres_size02.png</string>
						<key>calendar</key>
						<string>escudo_tigres_size03.png</string>
						<key>detail</key>
						<string>escudo_tigres_size01.png</string>
					</dict>
				</dict>

				<key>96</key>
		  		<dict>
					<key>name</key>
					<string>América</string>
					<key>teamWS</key>
					<string>/fichas/equipo/096/96/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_america_size02.png</string>
						<key>calendar</key>
						<string>escudo_america_size03.png</string>
						<key>detail</key>
						<string>escudo_america_size01.png</string>
					</dict>
				</dict>

				<key>4247</key>
		  		<dict>
					<key>name</key>
					<string>Veracruz</string>
					<key>teamWS</key>
					<string>/fichas/equipo/255/4247/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_veracruz_size02.png</string>
						<key>calendar</key>
						<string>escudo_veracruz_size03.png</string>
						<key>detail</key>
						<string>escudo_veracruz_size01.png</string>
					</dict>
				</dict>

				<key>4223</key>
		  		<dict>
					<key>name</key>
					<string>Atlas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/231/4223/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atlas_size02.png</string>
						<key>calendar</key>
						<string>escudo_atlas_size03.png</string>
						<key>detail</key>
						<string>escudo_atlas_size01.png</string>
					</dict>
				</dict>

				<key>4282</key>
		  		<dict>
					<key>name</key>
					<string>Necaxa</string>
					<key>teamWS</key>
					<string>/fichas/equipo/290/4282/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_necaxa_size02.png</string>
						<key>calendar</key>
						<string>escudo_necaxa_size03.png</string>
						<key>detail</key>
						<string>escudo_necaxa_size01.png</string>
					</dict>
				</dict>

				<key>4251</key>
		  		<dict>
					<key>name</key>
					<string>Querétaro</string>
					<key>teamWS</key>
					<string>/fichas/equipo/259/4251/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_queretaro_size02.png</string>
						<key>calendar</key>
						<string>escudo_queretaro_size03.png</string>
						<key>detail</key>
						<string>escudo_queretaro_size01.png</string>
					</dict>
				</dict>

				<key>4245</key>
		  		<dict>
					<key>name</key>
					<string>Pachuca</string>
					<key>teamWS</key>
					<string>/fichas/equipo/253/4245/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_pachuca_size02.png</string>
						<key>calendar</key>
						<string>escudo_pachuca_size03.png</string>
						<key>detail</key>
						<string>escudo_pachuca_size01.png</string>
					</dict>
				</dict>

				<key>4250</key>
		  		<dict>
					<key>name</key>
					<string>Santos Laguna</string>
					<key>teamWS</key>
					<string>/fichas/equipo/258/4250/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_laguna_size02.png</string>
						<key>calendar</key>
						<string>escudo_laguna_size03.png</string>
						<key>detail</key>
						<string>escudo_laguna_size01.png</string>
					</dict>
				</dict>

				<key>4204</key>
		  		<dict>
					<key>name</key>
					<string>Cruz Azul</string>
					<key>teamWS</key>
					<string>/fichas/equipo/212/4204/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cruzazul_size02.png</string>
						<key>calendar</key>
						<string>escudo_cruzazul_size03.png</string>
						<key>detail</key>
						<string>escudo_cruzazul_size01.png</string>
					</dict>
				</dict>

				<key>4249</key>
		  		<dict>
					<key>name</key>
					<string>Toluca</string>
					<key>teamWS</key>
					<string>/fichas/equipo/257/4249/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_toluca_size02.png</string>
						<key>calendar</key>
						<string>escudo_toluca_size03.png</string>
						<key>detail</key>
						<string>escudo_toluca_size01.png</string>
					</dict>
				</dict>

				<key>3828</key>
		  		<dict>
					<key>name</key>
					<string>Tijuana</string>
					<key>teamWS</key>
					<string>/fichas/equipo/335/3828/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_tijuana_size02.png</string>
						<key>calendar</key>
						<string>escudo_tijuana_size03.png</string>
						<key>detail</key>
						<string>escudo_tijuana_size01.png</string>
					</dict>
				</dict>

				<key>4248</key>
		  		<dict>
					<key>name</key>
					<string>Monterrey</string>
					<key>teamWS</key>
					<string>/fichas/equipo/256/4248/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_monterrey_size02.png</string>
						<key>calendar</key>
						<string>escudo_monterrey_size03.png</string>
						<key>detail</key>
						<string>escudo_monterrey_size01.png</string>
					</dict>
				</dict>

				<key>1597</key>
		  		<dict>
					<key>name</key>
					<string>Pumas UNAM</string>
					<key>teamWS</key>
					<string>/fichas/equipo/100/1597/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_pumas_size02.png</string>
						<key>calendar</key>
						<string>escudo_pumas_size03.png</string>
						<key>detail</key>
						<string>escudo_pumas_size01.png</string>
					</dict>
				</dict>

				<key>4246</key>
		  		<dict>
					<key>name</key>
					<string>Puebla</string>
					<key>teamWS</key>
					<string>/fichas/equipo/254/4246/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_puebla_size02.png</string>
						<key>calendar</key>
						<string>escudo_puebla_size03.png</string>
						<key>detail</key>
						<string>escudo_puebla_size01.png</string>
					</dict>
				</dict>

				<key>3829</key>
		  		<dict>
					<key>name</key>
					<string>Jaguares de Chiapas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/336/3829/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_jaguareschiapas_size02.png</string>
						<key>calendar</key>
						<string>escudo_jaguareschiapas_size03.png</string>
						<key>detail</key>
						<string>escudo_jaguareschiapas_size01.png</string>
					</dict>
				</dict>

				<key>3678</key>
		  		<dict>
					<key>name</key>
					<string>Guadalajara Chivas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/185/3678/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_guadalajarachivas_size02.png</string>
						<key>calendar</key>
						<string>escudo_guadalajarachivas_size03.png</string>
						<key>detail</key>
						<string>escudo_guadalajarachivas_size01.png</string>
					</dict>
				</dict>

				<key>3981</key>
		  		<dict>
					<key>name</key>
					<string>León F.C</string>
					<key>teamWS</key>
					<string>/fichas/equipo/488/3981/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_leon_size02.png</string>
						<key>calendar</key>
						<string>escudo_leon_size03.png</string>
						<key>detail</key>
						<string>escudo_leon_size01.png</string>
					</dict>
				</dict>

				<key>3827</key>
		  		<dict>
					<key>name</key>
					<string>Monarcas Morelia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/334/3827/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_monarcasmorelia_size02.png</string>
						<key>calendar</key>
						<string>escudo_monarcasmorelia_size03.png</string>
						<key>detail</key>
						<string>escudo_monarcasmorelia_size01.png</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias tag</string>
			<key>noticiasWS</key>
			<string>tag/j/liga_mexicana/a/</string>
			<key>viewType</key>
			<string>tag_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/06907945b5072894b09503c9c3bb0a84/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/mexico_apertura/2015/calendario/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/06907945b5072894b09503c9c3bb0a84/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/06907945b5072894b09503c9c3bb0a84/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<!-- <dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>http://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict> -->
	</array>
</dict>
</plist>
