<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

		    	<key>486</key>
		    	<dict>
						<key>name</key>
						<string>Alcorcón</string>
						<key>teamWS</key>
						<string>/fichas/equipo/486/486/equipo.js2</string>
						<key>teamInfo</key>
						<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/486.xml</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_alcorcon_size02.png</string>
							<key>calendar</key>
							<string>escudo_alcorcon_size03.png</string>
							<key>detail</key>
							<string>escudo_alcorcon_size01.png</string>
						</dict>
					</dict>

					<key>136</key>
					<dict>
						<key>name</key>
						<string>Levante</string>
						<key>teamWS</key>
						<string>/fichas/equipo/136/136/equipo.js2</string>
						<key>teamInfo</key>
						<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/136.xml</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_levante_size02.png</string>
							<key>calendar</key>
							<string>escudo_levante_size03.png</string>
							<key>detail</key>
							<string>escudo_levante_size01.png</string>
						</dict>
					</dict>

				<key>85</key>
		  		<dict>
						<key>name</key>
						<string>Almería</string>
						<key>teamWS</key>
						<string>/fichas/equipo/085/85/equipo.js2</string>
						<key>teamInfo</key>
						<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/85.xml</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_almeria_size02.png</string>
							<key>calendar</key>
							<string>escudo_almeria_size03.png</string>
							<key>detail</key>
							<string>escudo_almeria_size01.png</string>
						</dict>
				</dict>

				<key>91</key>
				<dict>
					<key>name</key>
					<string>Cádiz</string>
					<key>teamWS</key>
					<string>/fichas/equipo/091/91/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/91.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cadiz_size02.png</string>
						<key>calendar</key>
						<string>escudo_cadiz_size03.png</string>
						<key>detail</key>
						<string>escudo_cadiz_size01.png</string>
					</dict>
				</dict>

				<key>18</key>
				<dict>
					<key>name</key>
					<string>Valladolid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/018/18/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/18.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_valladolid_size02.png</string>
						<key>calendar</key>
						<string>escudo_valladolid_size03.png</string>
						<key>detail</key>
						<string>escudo_valladolid_size01.png</string>
					</dict>
				</dict>

				<key>648</key>
				<dict>
					<key>name</key>
					<string>Girona</string>
					<key>teamWS</key>
					<string>/fichas/equipo/149/648/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/648.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_girona_size02.png</string>
						<key>calendar</key>
						<string>escudo_girona_size03.png</string>
						<key>detail</key>
						<string>escudo_girona_size01.png</string>
					</dict>
				</dict>

				<!--<key>93</key>
		  		<dict>
					<key>name</key>
					<string>Hércules</string>
					<key>teamWS</key>
					<string>/fichas/equipo/093/93/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/93.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_hercules_size02.png</string>
						<key>calendar</key>
						<string>escudo_hercules_size03.png</string>
						<key>detail</key>
						<string>escudo_hercules_size01.png</string>
					</dict>
				</dict>

				<key>253</key>
		  		<dict>
					<key>name</key>
					<string>Jaén</string>
					<key>teamWS</key>
					<string>/fichas/equipo/253/253/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/253.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_jaen_size02.png</string>
						<key>calendar</key>
						<string>escudo_jaen_size03.png</string>
						<key>detail</key>
						<string>escudo_jaen_size01.png</string>
					</dict>
				</dict>-->

				<key>172</key>
				<dict>
					<key>name</key>
					<string>Getafe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/172/172/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/172.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_getafe_size02.png</string>
						<key>calendar</key>
						<string>escudo_getafe_size03.png</string>
						<key>detail</key>
						<string>escudo_getafe_size01.png</string>
					</dict>
				</dict>

				<key>342</key>
				<dict>
					<key>name</key>
					<string>Córdoba</string>
					<key>teamWS</key>
					<string>/fichas/equipo/342/342/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/342.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cordoba_size02.png</string>
						<key>calendar</key>
						<string>escudo_cordoba_size03.png</string>
						<key>detail</key>
						<string>escudo_cordoba_size01.png</string>
					</dict>
				</dict>

				<key>263</key>
				<dict>
					<key>name</key>
					<string>Lugo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/263/263/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/263.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lugo_size02.png</string>
						<key>calendar</key>
						<string>escudo_lugo_size03.png</string>
						<key>detail</key>
						<string>escudo_lugo_size01.png</string>
					</dict>
				</dict>

				<key>11</key>
		  	<dict>
					<key>name</key>
					<string>Mallorca</string>
					<key>teamWS</key>
					<string>/fichas/equipo/011/11/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/11.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_mallorca_size02.png</string>
						<key>calendar</key>
						<string>escudo_mallorca_size03.png</string>
						<key>detail</key>
						<string>escudo_mallorca_size01.png</string>
					</dict>
				</dict>

				<key>843</key>
		  	<dict>
					<key>name</key>
					<string>Mirandés</string>
					<key>teamWS</key>
					<string>/fichas/equipo/344/843/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/843.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_mirandes_size02.png</string>
						<key>calendar</key>
						<string>escudo_mirandes_size03.png</string>
						<key>detail</key>
						<string>escudo_mirandes_size01.png</string>
					</dict>
				</dict>

				<!--<key>164</key>
		  		<dict>
					<key>name</key>
					<string>Murcia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/164/164/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/164.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_murcia_size02.png</string>
						<key>calendar</key>
						<string>escudo_murcia_size03.png</string>
						<key>detail</key>
						<string>escudo_murcia_size01.png</string>
					</dict>
				</dict>-->

				<key>12</key>
		  	<dict>
					<key>name</key>
					<string>Numancia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/012/12/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/12.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_numancia_size02.png</string>
						<key>calendar</key>
						<string>escudo_numancia_size03.png</string>
						<key>detail</key>
						<string>escudo_numancia_size01.png</string>
					</dict>
				</dict>

				<key>3498</key>
		  	<dict>
					<key>name</key>
					<string>UCAM Murcia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/3498/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/3498.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_ucam_size02.png</string>
						<key>calendar</key>
						<string>escudo_ucam_size03.png</string>
						<key>detail</key>
						<string>escudo_ucam_size01.png</string>
					</dict>
				</dict>
<!--
				<key>187</key>
		  		<dict>
					<key>name</key>
					<string>RM Castilla</string>
					<key>teamWS</key>
					<string>/fichas/equipo/187/187/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/187.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realmadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_realmadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_realmadrid_size01.png</string>
					</dict>
				</dict>-->

				<key>121</key>
		  	<dict>
					<key>name</key>
					<string>Elche</string>
					<key>teamWS</key>
					<string>/fichas/equipo/121/121/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/121.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_elche_size02.png</string>
						<key>calendar</key>
						<string>escudo_elche_size03.png</string>
						<key>detail</key>
						<string>escudo_elche_size01.png</string>
					</dict>
				</dict>

				<key>504</key>
		  	<dict>
					<key>name</key>
					<string>Gimnàstic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/504/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/504.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_gimnastic_size02.png</string>
						<key>calendar</key>
						<string>escudo_gimnastic_size03.png</string>
						<key>detail</key>
						<string>escudo_gimnastic_size01.png</string>
					</dict>
				</dict>

				<key>864</key>
		  	<dict>
					<key>name</key>
					<string>Huesca</string>
					<key>teamWS</key>
					<string>/fichas/equipo/365/864/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/864.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_huesca_size02.png</string>
						<key>calendar</key>
						<string>escudo_huesca_size03.png</string>
						<key>detail</key>
						<string>escudo_huesca_size01.png</string>
					</dict>
				</dict>

				<key>162</key>
		  	<dict>
					<key>name</key>
					<string>Tenerife</string>
					<key>teamWS</key>
					<string>/fichas/equipo/162/162/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/162.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_tenerife_size02.png</string>
						<key>calendar</key>
						<string>escudo_tenerife_size03.png</string>
						<key>detail</key>
						<string>escudo_tenerife_size01.png</string>
					</dict>
				</dict>

				<key>20</key>
		  	<dict>
					<key>name</key>
					<string>Real Zaragoza</string>
					<key>teamWS</key>
					<string>/fichas/equipo/020/20/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/20.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_zaragoza_size02.png</string>
						<key>calendar</key>
						<string>escudo_zaragoza_size03.png</string>
						<key>detail</key>
						<string>escudo_zaragoza_size01.png</string>
					</dict>
				</dict>
				<key>14</key>
		  	<dict>
					<key>name</key>
					<string>Oviedo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/014/14/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/14.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_oviedo_size02.png</string>
						<key>calendar</key>
						<string>escudo_oviedo_size03.png</string>
						<key>detail</key>
						<string>escudo_oviedo_size01.png</string>
					</dict>
				</dict>

				<key>661</key>
		  	<dict>
					<key>name</key>
					<string>Reus</string>
					<key>teamWS</key>
					<string>/fichas/equipo/162/661/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/661.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_reus_size02.png</string>
						<key>calendar</key>
						<string>escudo_reus_size03.png</string>
						<key>detail</key>
						<string>escudo_reus_size01.png</string>
					</dict>
				</dict>

				<key>326</key>
		  	<dict>
					<key>name</key>
					<string>Sevilla B</string>
					<key>teamWS</key>
					<string>/fichas/equipo/326/326/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/326.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sevillaat_size02.png</string>
						<key>calendar</key>
						<string>escudo_sevillaat_size03.png</string>
						<key>detail</key>
						<string>escudo_sevillaat_size01.png</string>
					</dict>
				</dict>

				<key>2</key>
				<dict>
					<key>name</key>
					<string>Rayo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/002/2/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2016_2017/teams/2.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rayo_size02.png</string>
						<key>calendar</key>
						<string>escudo_rayo_size03.png</string>
						<key>detail</key>
						<string>escudo_rayo_size01.png</string>
					</dict>
				</dict>

			</dict>
		</dict>

		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias</string>
			<key>noticiasWS</key>
			<string>rss/futbol/segunda.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/e428a3042b1046346255f8ddeba591bf/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/segunda/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/e428a3042b1046346255f8ddeba591bf/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/e428a3042b1046346255f8ddeba591bf/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<!-- <dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>http://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict> -->
	</array>
</dict>
</plist>
