<plist version="1.0">
<dict>
<!--  menu  -->
<key>menu</key>
<array>
<dict>
<key>name</key>
<string>grid</string>
<!--  alpha|group  -->
<key>order</key>
<string>group</string>
<key>default</key>
<true/>
<!--
 tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view
-->
<key>viewType</key>
<string>principal_view</string>
<key>available</key>
<true/>
<!--  equipos  -->
<key>teamsByGroup</key>
<dict>
<key>A</key>
<!--  USA, Colombia, Costa Rica, Paraguay  -->
<array>
<dict>
<key>name</key>
<string>EE.UU.</string>
<key>id</key>
<string>1895</string>
<key>teamWS</key>
<string>/fichas/equipo/398/1895/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1895.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1895.png</string>
<key>calendar</key>
<string>1895.png</string>
<key>detail</key>
<string>1895.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Colombia</string>
<key>id</key>
<string>2087</string>
<key>teamWS</key>
<string>/fichas/equipo/091/2087/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/2087.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>2087.png</string>
<key>calendar</key>
<string>2087.png</string>
<key>detail</key>
<string>2087.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Costa Rica</string>
<key>id</key>
<string>1883</string>
<key>teamWS</key>
<string>/fichas/equipo/386/1883/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1883.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1883.png</string>
<key>calendar</key>
<string>1883.png</string>
<key>detail</key>
<string>1883.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Paraguay</string>
<key>id</key>
<string>1916</string>
<key>teamWS</key>
<string>/fichas/equipo/419/1916/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1916.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1916.png</string>
<key>calendar</key>
<string>1916.png</string>
<key>detail</key>
<string>1916.png</string>
</dict>
</dict>
</array>
<key>B</key>
<!--  Brasil, Ecuador, Haití, Perú  -->
<array>
<dict>
<key>name</key>
<string>Brasil</string>
<key>id</key>
<string>1881</string>
<key>teamWS</key>
<string>/fichas/equipo/384/1881/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1881.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1881.png</string>
<key>calendar</key>
<string>1881.png</string>
<key>detail</key>
<string>1881.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Ecuador</string>
<key>id</key>
<string>1887</string>
<key>teamWS</key>
<string>/fichas/equipo/390/1887/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1887.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1887.png</string>
<key>calendar</key>
<string>1887.png</string>
<key>detail</key>
<string>1887.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Haití</string>
<key>id</key>
<string>2102</string>
<key>teamWS</key>
<string>/fichas/equipo/106/2102/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/2102.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>2102.png</string>
<key>calendar</key>
<string>2102.png</string>
<key>detail</key>
<string>2102.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Perú</string>
<key>id</key>
<string>1429</string>
<key>teamWS</key>
<string>/fichas/equipo/431/1429/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1429.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1429.png</string>
<key>calendar</key>
<string>1429.png</string>
<key>detail</key>
<string>1429.png</string>
</dict>
</dict>
</array>
<key>C</key>
<!--  México, Uruguay, Jamaica, Venezuela  -->
<array>
<dict>
<key>name</key>
<string>México</string>
<key>id</key>
<string>1824</string>
<key>teamWS</key>
<string>/fichas/equipo/327/1824/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1824.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1824.png</string>
<key>calendar</key>
<string>1824.png</string>
<key>detail</key>
<string>1824.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Uruguay</string>
<key>id</key>
<string>1901</string>
<key>teamWS</key>
<string>/fichas/equipo/404/1901/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1901.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1901.png</string>
<key>calendar</key>
<string>1901.png</string>
<key>detail</key>
<string>1901.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Jamaica</string>
<key>id</key>
<string>2085</string>
<key>teamWS</key>
<string>/fichas/equipo/089/2085/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/2085.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>2085.png</string>
<key>calendar</key>
<string>2085.png</string>
<key>detail</key>
<string>2085.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Venezuela</string>
<key>id</key>
<string>2930</string>
<key>teamWS</key>
<string>/fichas/equipo/435/2930/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/2930.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>2930.png</string>
<key>calendar</key>
<string>2930.png</string>
<key>detail</key>
<string>2930.png</string>
</dict>
</dict>
</array>
<key>D</key>
<!--  Argentina, Chile, Panamá, Bolivia  -->
<array>
<dict>
<key>name</key>
<string>Argentina</string>
<key>id</key>
<string>1879</string>
<key>teamWS</key>
<string>/fichas/equipo/382/1879/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1879.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1879.png</string>
<key>calendar</key>
<string>1879.png</string>
<key>detail</key>
<string>1879.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Chile</string>
<key>id</key>
<string>2077</string>
<key>teamWS</key>
<string>/fichas/equipo/081/2077/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/2077.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>2077.png</string>
<key>calendar</key>
<string>2077.png</string>
<key>detail</key>
<string>2077.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Panamá</string>
<key>id</key>
<string>4276</string>
<key>teamWS</key>
<string>/fichas/equipo/284/4276/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/4276.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>4276.png</string>
<key>calendar</key>
<string>4276.png</string>
<key>detail</key>
<string>4276.png</string>
</dict>
</dict>
<dict>
<key>name</key>
<string>Bolivia</string>
<key>id</key>
<string>1905</string>
<key>teamWS</key>
<string>/fichas/equipo/408/1905/equipo.js2</string>
<key>teamInfo</key>
<string>
http://as.com/apps/guia_copa_america/data/teams/1905.xml
</string>
<key>shields</key>
<dict>
<key>grid</key>
<string>1905.png</string>
<key>calendar</key>
<string>1905.png</string>
<key>detail</key>
<string>1905.png</string>
</dict>
</dict>
</array>
</dict>
</dict>
<dict>
<key>name</key>
<string>calendar</string>
<key>calendarWS</key>
<string>
/calendario/fd541fe025198162f0e4cd1f03c27612/calendario.js2
</string>
<key>resultsURL</key>
<string>
http://resultados.as.com/resultados/futbol/copa_america/2016/calendario/
</string>
<key>viewType</key>
<string>principal_view</string>
<key>available</key>
<true/>
</dict>
<dict>
<key>name</key>
<string>noticias</string>
<key>noticiasWS</key>
<string>tag/j/copa_america</string>
<key>viewType</key>
<string>tag_view</string>
<key>available</key>
<true/>
</dict>
<dict>
<key>name</key>
<string>stadiums</string>
<key>stadiumInfo</key>
<string>
http://as.com/especiales/futbol/copa_america/2016/sedes/index.html
</string>
<key>viewType</key>
<string>web_view</string>
<key>available</key>
<true/>
</dict>
<dict>
<key>name</key>
<string>palmares</string>
<key>palmaresInfo</key>
<string>
http://as.com/especiales/futbol/copa_america/comunes/palmares/
</string>
<key>viewType</key>
<string>web_view</string>
<key>available</key>
<false/>
<!--  leyenda Palmarés  -->
<key>legendHistoricalPalmares</key>
<dict>
<!--  Posicion X del gráfico  -->
<key>positionX</key>
<dict>
<key>00</key>
<dict>
<key>year</key>
<string>1930</string>
<key>country</key>
<string>URU</string>
</dict>
<key>01</key>
<dict>
<key>year</key>
<string>1934</string>
<key>country</key>
<string>ITA</string>
</dict>
<key>02</key>
<dict>
<key>year</key>
<string>1938</string>
<key>country</key>
<string>FRA</string>
</dict>
<key>03</key>
<dict>
<key>year</key>
<string>1950</string>
<key>country</key>
<string>BRA</string>
<key>legend</key>
<string>1</string>
</dict>
<key>04</key>
<dict>
<key>year</key>
<string>1954</string>
<key>country</key>
<string>SUI</string>
</dict>
<key>05</key>
<dict>
<key>year</key>
<string>1958</string>
<key>country</key>
<string>SUE</string>
</dict>
<key>06</key>
<dict>
<key>year</key>
<string>1962</string>
<key>country</key>
<string>CHI</string>
</dict>
<key>07</key>
<dict>
<key>year</key>
<string>1966</string>
<key>country</key>
<string>ING</string>
</dict>
<key>08</key>
<dict>
<key>year</key>
<string>1970</string>
<key>country</key>
<string>MEX</string>
</dict>
<key>09</key>
<dict>
<key>year</key>
<string>1974</string>
<key>country</key>
<string>ALE</string>
<key>legend</key>
<string>2</string>
</dict>
<key>10</key>
<dict>
<key>year</key>
<string>1978</string>
<key>country</key>
<string>ARG</string>
<key>legend</key>
<string>2</string>
</dict>
<key>11</key>
<dict>
<key>year</key>
<string>1982</string>
<key>country</key>
<string>ESP</string>
<key>legend</key>
<string>3</string>
</dict>
<key>12</key>
<dict>
<key>year</key>
<string>1986</string>
<key>country</key>
<string>MEX</string>
</dict>
<key>13</key>
<dict>
<key>year</key>
<string>1990</string>
<key>country</key>
<string>ITA</string>
</dict>
<key>14</key>
<dict>
<key>year</key>
<string>1994</string>
<key>country</key>
<string>USA</string>
</dict>
<key>15</key>
<dict>
<key>year</key>
<string>1998</string>
<key>country</key>
<string>FRA</string>
</dict>
<key>16</key>
<dict>
<key>year</key>
<string>2002</string>
<key>country</key>
<string>JAP</string>
</dict>
<key>17</key>
<dict>
<key>year</key>
<string>2006</string>
<key>country</key>
<string>ALE</string>
</dict>
<key>18</key>
<dict>
<key>year</key>
<string>2010</string>
<key>country</key>
<string>SUD</string>
</dict>
</dict>
<!--  Posicion Y del gráfico  -->
<key>positionY</key>
<dict>
<key>00</key>
<string>NC</string>
<key>01</key>
<string>FG</string>
<key>02</key>
<string>OF</string>
<key>03</key>
<string>CF</string>
<key>04</key>
<string>SF</string>
<key>05</key>
<string>F</string>
<key>06</key>
<string>C</string>
</dict>
<!--  leyenda  -->
<key>legend</key>
<dict>
<key>1</key>
<string>
Todo el sistema de competición fue por grupos: Una primera fase con cuatro grupos y una segunda fase con un solo grupo integrado por los campeones de grupo de la fase anterior, que por sistema de liguilla determinaron los cuatro primeros.
</string>
<key>2</key>
<string>
Dos fases de grupos. La segunda fase, con dos grupos, determinó los contendientes de la final.
</string>
<key>3</key>
<string>
Dos fases de grupos. La segunda fase, con cuatro grupos, determina los cuatro semifinalistas (los campeones de cada grupo).
</string>
</dict>
</dict>
</dict>
<!--
 <dict>
		<key>name</key>
		<string>photoGallery</string>
		<key>photoGalleryWS</key>
		<string>tag/c/j/b215a543b20216a63400daf79e4ed06b</string>
		<key>viewType</key>
		<string>principal_view</string>
		<key>available</key>
		<true/>
	</dict>
-->
<!--
 <dict>
		<key>name</key>
		<string>videos</string>
		<key>videosWS</key>
		<string>rss/tags/agr_copa_america_a.js2</string>
		<key>viewType</key>
		<string>principal_view</string>
		<key>available</key>
		<true/>
	</dict>
-->
<dict>
<key>name</key>
<string>search</string>
<key>queryPath</key>
<string>/buscador_copa_america.pl</string>
<key>viewType</key>
<string>principal_view</string>
<key>available</key>
<true/>
</dict>
<dict>
<key>name</key>
<string>comparador</string>
<key>viewType</key>
<string>principal_view</string>
<key>available</key>
<true/>
</dict>
<dict>
<key>name</key>
<string>clasification</string>
<key>clasificationWS</key>
<dict>
<key>Fase Grupos</key>
<string>
/clasificacion/fd541fe025198162f0e4cd1f03c27612/clasificacion_grupos.js2
</string>
</dict>
<key>viewType</key>
<string>principal_view</string>
<key>available</key>
<true/>
</dict>
<dict>
<key>name</key>
<string>carrusel</string>
<key>carruselWS</key>
<string>
/carrusel/fd541fe025198162f0e4cd1f03c27612/carrusel.js2
</string>
<key>viewType</key>
<string>principal_view</string>
<key>available</key>
<false/>
</dict>
<!--
<dict>
		<key>name</key>
		<string>triviaAS</string>
		<key>triviaWV</key>
		<string>http://as.com/apps/appDownloadLink.html?appname=guia_copa_america</string>
		<key>viewType</key>
		<string>external_view</string>
		<key>available</key>
		<true/>
	</dict>
-->
</array>
</dict>
</plist>