<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group --> 
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>

			<key>teams</key>
			<dict>

				<key>65</key>
		  		<dict>
					<key>name</key>
					<string>Liverpool</string>
					<key>teamWS</key>
					<string>/fichas/equipo/065/65/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/65.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_liverpool_size02.png</string>
						<key>calendar</key>
						<string>escudo_liverpool_size03.png</string>
						<key>detail</key>
						<string>escudo_liverpool_size01.png</string>
					</dict>
				</dict>

				<key>99999</key>
		  		<dict>
					<key>name</key>
					<string>Malmö</string>
					<key>teamWS</key>
					<string>/fichas/equipo///equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/3955.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_malmo_size02.png</string>
						<key>calendar</key>
						<string>escudo_malmo_size03.png</string>
						<key>detail</key>
						<string>escudo_malmo_size01.png</string>
					</dict>
				</dict>

				<key>169</key>
		  		<dict>
					<key>name</key>
					<string>Leverkusen</string>
					<key>teamWS</key>
					<string>/fichas/equipo/169/169/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/169.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bayernleverkusen_size02.png</string>
						<key>calendar</key>
						<string>escudo_bayernleverkusen_size03.png</string>
						<key>detail</key>
						<string>escudo_bayernleverkusen_size01.png</string>
					</dict>
				</dict>

				<key>3955</key>
		  		<dict>
					<key>name</key>
					<string>L. Razgrad</string>
					<key>teamWS</key>
					<string>/fichas/equipo/462/3955/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/3955.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_ludogorets_size02.png</string>
						<key>calendar</key>
						<string>escudo_ludogorets_size03.png</string>
						<key>detail</key>
						<string>escudo_ludogorets_size01.png</string>
					</dict>
				</dict>

				<key>288</key>
		  		<dict>
					<key>name</key>
					<string>Shakhtar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/288/288/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/288.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_shackhtar_size02.png</string>
						<key>calendar</key>
						<string>escudo_shackhtar_size03.png</string>
						<key>detail</key>
						<string>escudo_shackhtar_size01.png</string>
					</dict>
				</dict>

				<key>109</key>
		  		<dict>
					<key>name</key>
					<string>Galatasaray</string>
					<key>teamWS</key>
					<string>/fichas/equipo/109/109/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/109.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_galatasaray_size02.png</string>
						<key>calendar</key>
						<string>escudo_galatasaray_size03.png</string>
						<key>detail</key>
						<string>escudo_galatasaray_size01.png</string>
					</dict>
				</dict>

				<key>1</key>
		  		<dict>
					<key>name</key>
					<string>Real Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/001/1/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/1.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realmadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_realmadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_realmadrid_size01.png</string>
					</dict>
				</dict>

				<key>197</key>
		  		<dict>
					<key>name</key>
					<string>Mónaco</string>
					<key>teamWS</key>
					<string>/fichas/equipo/197/197/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/197.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_monaco_size02.png</string>
						<key>calendar</key>
						<string>escudo_monaco_size03.png</string>
						<key>detail</key>
						<string>escudo_monaco_size01.png</string>
					</dict>
				</dict>

				<key>29</key>
		  		<dict>
					<key>name</key>
					<string>Juventus</string>
					<key>teamWS</key>
					<string>/fichas/equipo/029/29/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/29.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_juventus_size02.png</string>
						<key>calendar</key>
						<string>escudo_juventus_size03.png</string>
						<key>detail</key>
						<string>escudo_juventus_size01.png</string>
					</dict>
				</dict>

				<key>115</key>
		  		<dict>
					<key>name</key>
					<string>Anderlecht</string>
					<key>teamWS</key>
					<string>/fichas/equipo/115/115/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/115.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_anderlecht_size02.png</string>
						<key>calendar</key>
						<string>escudo_anderlecht_size03.png</string>
						<key>detail</key>
						<string>escudo_anderlecht_size01.png</string>
					</dict>
				</dict>

				<key>44</key>
		  		<dict>
					<key>name</key>
					<string>Benfica</string>
					<key>teamWS</key>
					<string>/fichas/equipo/044/44/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/44.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_benfica_size02.png</string>
						<key>calendar</key>
						<string>escudo_benfica_size03.png</string>
						<key>detail</key>
						<string>escudo_benfica_size01.png</string>
					</dict>
				</dict>

				<key>137</key>
		  		<dict>
					<key>name</key>
					<string>Olympiacos</string>
					<key>teamWS</key>
					<string>/fichas/equipo/137/137/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/137.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_olympiakos_size02.png</string>
						<key>calendar</key>
						<string>escudo_olympiakos_size03.png</string>
						<key>detail</key>
						<string>escudo_olympiakos_size01.png</string>
					</dict>
				</dict>

				<key>49</key>
		  		<dict>
					<key>name</key>
					<string>PSG</string>
					<key>teamWS</key>
					<string>/fichas/equipo/049/49/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/49.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_psg_size02.png</string>
						<key>calendar</key>
						<string>escudo_psg_size03.png</string>
						<key>detail</key>
						<string>escudo_psg_size01.png</string>
					</dict>
				</dict>

				<key>170</key>
		  		<dict>
					<key>name</key>
					<string>Bayern Munich</string>
					<key>teamWS</key>
					<string>/fichas/equipo/170/170/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/170.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bayern_size02.png</string>
						<key>calendar</key>
						<string>escudo_bayern_size03.png</string>
						<key>detail</key>
						<string>escudo_bayern_size01.png</string>
					</dict>
				</dict>

				<key>165</key>
		  		<dict>
					<key>name</key>
					<string>Cska Moscú</string>
					<key>teamWS</key>
					<string>/fichas/equipo/165/165/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/165.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_moscu_size02.png</string>
						<key>calendar</key>
						<string>escudo_moscu_size03.png</string>
						<key>detail</key>
						<string>escudo_moscu_size01.png</string>
					</dict>
				</dict>

				<key>66</key>
		  		<dict>
					<key>name</key>
					<string>Manchester City</string>
					<key>teamWS</key>
					<string>/fichas/equipo/066/66/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/66.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_manchester_city_size02.png</string>
						<key>calendar</key>
						<string>escudo_manchester_city_size03.png</string>
						<key>detail</key>
						<string>escudo_manchester_city_size01.png</string>
					</dict>
				</dict>

				<key>24</key>
		  		<dict>
					<key>name</key>
					<string>Roma</string>
					<key>teamWS</key>
					<string>/fichas/equipo/024/24/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/24.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_roma_size02.png</string>
						<key>calendar</key>
						<string>escudo_roma_size03.png</string>
						<key>detail</key>
						<string>escudo_roma_size01.png</string>
					</dict>
				</dict>

				<key>1458</key>
		  		<dict>
					<key>name</key>
					<string>Basilea</string>
					<key>teamWS</key>
					<string>/fichas/equipo/460/1458/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/1458.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_basilea_size02.png</string>
						<key>calendar</key>
						<string>escudo_basilea_size03.png</string>
						<key>detail</key>
						<string>escudo_basilea_size01.png</string>
					</dict>
				</dict>

				<key>58</key>
		  		<dict>
					<key>name</key>
					<string>Chelsea</string>
					<key>teamWS</key>
					<string>/fichas/equipo/058/58/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/58.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_chelsea_size02.png</string>
						<key>calendar</key>
						<string>escudo_chelsea_size03.png</string>
						<key>detail</key>
						<string>escudo_chelsea_size01.png</string>
					</dict>
				</dict>

				<key>468</key>
		  		<dict>
					<key>name</key>
					<string>Schalke 04</string>
					<key>teamWS</key>
					<string>/fichas/equipo/468/468/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/468.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_schalke04_size02.png</string>
						<key>calendar</key>
						<string>escudo_schalke04_size03.png</string>
						<key>detail</key>
						<string>escudo_schalke04_size01.png</string>
					</dict>
				</dict>

				<key>916</key>
		  		<dict>
					<key>name</key>
					<string>APOEL</string>
					<key>teamWS</key>
					<string>/fichas/equipo/417/916/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/916.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_apoel_size02.png</string>
						<key>calendar</key>
						<string>escudo_apoel_size03.png</string>
						<key>detail</key>
						<string>escudo_apoel_size01.png</string>
					</dict>
				</dict>

				<key>54</key>
		  		<dict>
					<key>name</key>
					<string>Arsenal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/054/54/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/54.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_arsenal_size02.png</string>
						<key>calendar</key>
						<string>escudo_arsenal_size03.png</string>
						<key>detail</key>
						<string>escudo_arsenal_size01.png</string>
					</dict>
				</dict>

				<key>87</key>
		  		<dict>
					<key>name</key>
					<string>Borussia Dortmund</string>
					<key>teamWS</key>
					<string>/fichas/equipo/087/87/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/87.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bayerdortmund_size02.png</string>
						<key>calendar</key>
						<string>escudo_bayerdortmund_size03.png</string>
						<key>detail</key>
						<string>escudo_bayerdortmund_size01.png</string>
					</dict>
				</dict>

				<key>1682</key>
		  		<dict>
					<key>name</key>
					<string>NK Maribor</string>
					<key>teamWS</key>
					<string>/fichas/equipo/185/1682/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/1682.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_maribor_size02.png</string>
						<key>calendar</key>
						<string>escudo_maribor_size03.png</string>
						<key>detail</key>
						<string>escudo_maribor_size01.png</string>
					</dict>
				</dict>

				<key>39</key>
		  		<dict>
					<key>name</key>
					<string>Sp. Portugal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/039/39/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/39.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lisboa_size02.png</string>
						<key>calendar</key>
						<string>escudo_lisboa_size03.png</string>
						<key>detail</key>
						<string>escudo_lisboa_size01.png</string>
					</dict>
				</dict>

				<key>42</key>
		  		<dict>
					<key>name</key>
					<string>Atlético de Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/042/42/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/42.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atleticomadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_atleticomadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_atleticomadrid_size01.png</string>
					</dict>
				</dict>

				<key>2814</key>
		  		<dict>
					<key>name</key>
					<string>Bate Borisov</string>
					<key>teamWS</key>
					<string>/fichas/equipo/319/2814/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/2814.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_borisov_size02.png</string>
						<key>calendar</key>
						<string>escudo_borisov_size03.png</string>
						<key>detail</key>
						<string>escudo_borisov_size01.png</string>
					</dict>
				</dict>

				<key>45</key>
		  		<dict>
					<key>name</key>
					<string>Oporto</string>
					<key>teamWS</key>
					<string>/fichas/equipo/045/45/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/45.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_oporto_size02.png</string>
						<key>calendar</key>
						<string>escudo_oporto_size03.png</string>
						<key>detail</key>
						<string>escudo_oporto_size01.png</string>
					</dict>
				</dict>

				<key>1575</key>
		  		<dict>
					<key>name</key>
					<string>Zenit</string>
					<key>teamWS</key>
					<string>/fichas/equipo/078/1575/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/1575.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_zenit_size02.png</string>
						<key>calendar</key>
						<string>escudo_zenit_size03.png</string>
						<key>detail</key>
						<string>escudo_zenit_size01.png</string>
					</dict>
				</dict>

				<key>40</key>
		  		<dict>
					<key>name</key>
					<string>Ajax</string>
					<key>teamWS</key>
					<string>/fichas/equipo/040/40/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/40.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_ajax_size02.png</string>
						<key>calendar</key>
						<string>escudo_ajax_size03.png</string>
						<key>detail</key>
						<string>escudo_ajax_size01.png</string>
					</dict>
				</dict>

				<key>3</key>
		  		<dict>
					<key>name</key>
					<string>Barcelona</string>
					<key>teamWS</key>
					<string>/fichas/equipo/003/3/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/3.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_barcelona_size02.png</string>
						<key>calendar</key>
						<string>escudo_barcelona_size03.png</string>
						<key>detail</key>
						<string>escudo_barcelona_size01.png</string>
					</dict>
				</dict>

				<key>5</key>
		  		<dict>
					<key>name</key>
					<string>Athletic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/5/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/5.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_athletic_size02.png</string>
						<key>calendar</key>
						<string>escudo_athletic_size03.png</string>
						<key>detail</key>
						<string>escudo_athletic_size01.png</string>
					</dict>
				</dict>
			</dict>
		</dict>

		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/b5d6e486a43ec6d6b0610ee336e23021/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/champions/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/b5d6e486a43ec6d6b0610ee336e23021/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/b5d6e486a43ec6d6b0610ee336e23021/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>adidas</string>
			<key>urlWV</key>
			<string>http://www.adidas.es/futbol</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>