<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group --> 
			<key>order</key>
			<string>group</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			
		<!-- equipos -->
		<key>teamsByGroup</key>
		<dict>
			<key>A</key>
			<array>
				<dict>
					<key>name</key>
					<string>Brasil</string>
					<key>id</key>
					<string>1881</string>
					<key>teamWS</key>
					<string>/fichas/equipo/384/1881/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1881.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1881.png</string>
						<key>calendar</key>
						<string>1881.png</string>
						<key>detail</key>
						<string>1881.png</string>
					</dict>
				</dict>
						
				<dict>
					<key>name</key>
					<string>Croacia</string>
					<key>id</key>
					<string>1885</string>
					<key>teamWS</key>
					<string>/fichas/equipo/388/1885/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1885.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1885.png</string>
						<key>calendar</key>
						<string>1885.png</string>
						<key>detail</key>
						<string>1885.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>México</string>
					<key>id</key>
					<string>1824</string>
					<key>teamWS</key>
					<string>/fichas/equipo/327/1824/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1824.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1824.png</string>
						<key>calendar</key>
						<string>1824.png</string>
						<key>detail</key>
						<string>1824.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Camerún</string>
					<key>id</key>
					<string>1880</string>
					<key>teamWS</key>
					<string>/fichas/equipo/383/1880/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1880.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1880.png</string>
						<key>calendar</key>
						<string>1880.png</string>
						<key>detail</key>
						<string>1880.png</string>
					</dict>
				</dict>			
			</array>
			
			<key>B</key>
			<array>
				<dict>
					<key>name</key>
					<string>España</string>
					<key>id</key>
					<string>956</string>
					<key>teamWS</key>
					<string>/fichas/equipo/457/956/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/956.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>956.png</string>
						<key>calendar</key>
						<string>956.png</string>
						<key>detail</key>
						<string>956.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Holanda</string>
					<key>id</key>
					<string>1878</string>
					<key>teamWS</key>
					<string>/fichas/equipo/381/1878/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1878.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1878.png</string>
						<key>calendar</key>
						<string>1878.png</string>
						<key>detail</key>
						<string>1878.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Chile</string>
					<key>id</key>
					<string>2077</string>
					<key>teamWS</key>
					<string>/fichas/equipo/081/2077/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2077.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2077.png</string>
						<key>calendar</key>
						<string>2077.png</string>
						<key>detail</key>
						<string>2077.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Australia</string>
					<key>id</key>
					<string>2100</string>
					<key>teamWS</key>
					<string>/fichas/equipo/104/2100/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2100.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2100.png</string>
						<key>calendar</key>
						<string>2100.png</string>
						<key>detail</key>
						<string>2100.png</string>
					</dict>
				</dict>
				
			</array>
			
			<key>C</key>
			<array>
							
				<dict>
					<key>name</key>
					<string>Colombia</string>
					<key>id</key>
					<string>2087</string>
					<key>teamWS</key>
					<string>/fichas/equipo/091/2087/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2087.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2087.png</string>
						<key>calendar</key>
						<string>2087.png</string>
						<key>detail</key>
						<string>2087.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Grecia</string>
					<key>id</key>
					<string>1896</string>
					<key>teamWS</key>
					<string>/fichas/equipo/399/1896/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1896.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1896.png</string>
						<key>calendar</key>
						<string>1896.png</string>
						<key>detail</key>
						<string>1896.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>C. Marfil</string>
					<key>id</key>
					<string>2952</string>
					<key>teamWS</key>
					<string>/fichas/equipo/457/2952/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2952.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2952.png</string>
						<key>calendar</key>
						<string>2952.png</string>
						<key>detail</key>
						<string>2952.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Japón</string>
					<key>id</key>
					<string>1187</string>
					<key>teamWS</key>
					<string>/fichas/equipo/189/1187/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1187.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1187.png</string>
						<key>calendar</key>
						<string>1187.png</string>
						<key>detail</key>
						<string>1187.png</string>
					</dict>
				</dict>
				
			</array>
			
			
			<key>D</key>
			<array>
				<dict>
					<key>name</key>
					<string>Uruguay</string>
					<key>id</key>
					<string>1901</string>
					<key>teamWS</key>
					<string>/fichas/equipo/404/1901/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1901.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1901.png</string>
						<key>calendar</key>
						<string>1901.png</string>
						<key>detail</key>
						<string>1901.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Costa Rica</string>
					<key>id</key>
					<string>1883</string>
					<key>teamWS</key>
					<string>/fichas/equipo/386/1883/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1883.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1883.png</string>
						<key>calendar</key>
						<string>1883.png</string>
						<key>detail</key>
						<string>1883.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Inglaterra</string>
					<key>id</key>
					<string>1889</string>
					<key>teamWS</key>
					<string>/fichas/equipo/392/1889/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1889.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1889.png</string>
						<key>calendar</key>
						<string>1889.png</string>
						<key>detail</key>
						<string>1889.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Italia</string>
					<key>id</key>
					<string>1890</string>
					<key>teamWS</key>
					<string>/fichas/equipo/393/1890/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1890.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1890.png</string>
						<key>calendar</key>
						<string>1890.png</string>
						<key>detail</key>
						<string>1890.png</string>
					</dict>
				</dict>
			</array>
			
			<key>E</key>
			<array>
				<dict>
					<key>name</key>
					<string>Suiza</string>
					<key>id</key>
					<string>1907</string>
					<key>teamWS</key>
					<string>/fichas/equipo/410/1907/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1907.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1907.png</string>
						<key>calendar</key>
						<string>1907.png</string>
						<key>detail</key>
						<string>1907.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Ecuador</string>
					<key>id</key>
					<string>1887</string>
					<key>teamWS</key>
					<string>/fichas/equipo/390/1887/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1887.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1887.png</string>
						<key>calendar</key>
						<string>1887.png</string>
						<key>detail</key>
						<string>1887.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Francia</string>
					<key>id</key>
					<string>961</string>
					<key>teamWS</key>
					<string>/fichas/equipo/462/961/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/961.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>961.png</string>
						<key>calendar</key>
						<string>961.png</string>
						<key>detail</key>
						<string>961.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Honduras</string>
					<key>id</key>
					<string>2098</string>
					<key>teamWS</key>
					<string>/fichas/equipo/102/2098/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2098.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2098.png</string>
						<key>calendar</key>
						<string>2098.png</string>
						<key>detail</key>
						<string>2098.png</string>
					</dict>
				</dict>
				
			</array>
			
			<key>F</key>
			<array>
				<dict>
					<key>name</key>
					<string>Argentina</string>
					<key>id</key>
					<string>1879</string>
					<key>teamWS</key>
					<string>/fichas/equipo/382/1879/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1879.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1879.png</string>
						<key>calendar</key>
						<string>1879.png</string>
						<key>detail</key>
						<string>1879.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Bosnia</string>
					<key>id</key>
					<string>959</string>
					<key>teamWS</key>
					<string>/fichas/equipo/460/959/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/959.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>959.png</string>
						<key>calendar</key>
						<string>959.png</string>
						<key>detail</key>
						<string>959.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Irán</string>
					<key>id</key>
					<string>2088</string>
					<key>teamWS</key>
					<string>/fichas/equipo/092/2088/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2088.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2088.png</string>
						<key>calendar</key>
						<string>2088.png</string>
						<key>detail</key>
						<string>2088.png</string>
					</dict>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Nigeria</string>
					<key>id</key>
					<string>1917</string>
					<key>teamWS</key>
					<string>/fichas/equipo/420/1917/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1917.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1917.png</string>
						<key>calendar</key>
						<string>1917.png</string>
						<key>detail</key>
						<string>1917.png</string>
					</dict>
				</dict>
					
			</array>
			
			
			<key>G</key>
			<array>
				<dict>
					<key>name</key>
					<string>Alemania</string>
					<key>id</key>
					<string>1894</string>
					<key>teamWS</key>
					<string>/fichas/equipo/397/1894/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1894.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1894.png</string>
						<key>calendar</key>
						<string>1894.png</string>
						<key>detail</key>
						<string>1894.png</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>Portugal</string>
					<key>id</key>
					<string>1844</string>
					<key>teamWS</key>
					<string>/fichas/equipo/347/1844/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1844.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1844.png</string>
						<key>calendar</key>
						<string>1844.png</string>
						<key>detail</key>
						<string>1844.png</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>Ghana</string>
					<key>id</key>
					<string>2949</string>
					<key>teamWS</key>
					<string>/fichas/equipo/454/2949/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2949.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2949.png</string>
						<key>calendar</key>
						<string>2949.png</string>
						<key>detail</key>
						<string>2949.png</string>
					</dict>
				</dict>
						
				<dict>
					<key>name</key>
					<string>EE.UU.</string>
					<key>id</key>
					<string>1895</string>
					<key>teamWS</key>
					<string>/fichas/equipo/398/1895/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1895.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1895.png</string>
						<key>calendar</key>
						<string>1895.png</string>
						<key>detail</key>
						<string>1895.png</string>
					</dict>
				</dict>
						
			</array>
			
			
			<key>H</key>
			<array>
				<dict>
					<key>name</key>
					<string>Bélgica</string>
					<key>id</key>
					<string>1897</string>
					<key>teamWS</key>
					<string>/fichas/equipo/400/1897/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1897.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1897.png</string>
						<key>calendar</key>
						<string>1897.png</string>
						<key>detail</key>
						<string>1897.png</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>Argelia</string>
					<key>id</key>
					<string>2093</string>
					<key>teamWS</key>
					<string>/fichas/equipo/097/2093/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2093.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2093.png</string>
						<key>calendar</key>
						<string>2093.png</string>
						<key>detail</key>
						<string>2093.png</string>
					</dict>
				</dict>
						
				<dict>
					<key>name</key>
					<string>Rusia</string>
					<key>id</key>
					<string>1892</string>
					<key>teamWS</key>
					<string>/fichas/equipo/395/1892/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/1892.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>1892.png</string>
						<key>calendar</key>
						<string>1892.png</string>
						<key>detail</key>
						<string>1892.png</string>
					</dict>
				</dict>
						
				<dict>
					<key>name</key>
					<string>Corea del Sur</string>
					<key>id</key>
					<string>2086</string>
					<key>teamWS</key>
					<string>/fichas/equipo/090/2086/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_del_mundial/data/teams/2086.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>2086.png</string>
						<key>calendar</key>
						<string>2086.png</string>
						<key>detail</key>
						<string>2086.png</string>
					</dict>
				</dict>
			</array>
			</dict>
		
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/d77a3d38b590f6e35713ac780b5b9beb/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/mundial/2014/calendario</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>palmares</string>
			<key>palmaresInfo</key>
			<string>http://as.com/apps/guia_del_mundial/config/v1.x/v1.2/conf-guia-mundial-palmares.xml</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
					
			<!-- leyenda Palmarés -->
			<key>legendHistoricalPalmares</key>
			<dict>
				<!-- Posicion X del gráfico -->
				<key>positionX</key>
				<dict>
					<key>00</key>
					<dict>
						<key>year</key>
						<string>1930</string>
						<key>country</key>
						<string>URU</string>
					</dict>
					<key>01</key>
					<dict>
						<key>year</key>
						<string>1934</string>
						<key>country</key>
						<string>ITA</string>
					</dict>
					<key>02</key>
					<dict>
						<key>year</key>
						<string>1938</string>
						<key>country</key>
						<string>FRA</string>
					</dict>
					<key>03</key>
					<dict>
						<key>year</key>
						<string>1950</string>
						<key>country</key>
						<string>BRA</string>
						<key>legend</key>
						<string>1</string>
					</dict>
					<key>04</key>
					<dict>
						<key>year</key>
						<string>1954</string>
						<key>country</key>
						<string>SUI</string>
					</dict>
					<key>05</key>
					<dict>
						<key>year</key>
						<string>1958</string>
						<key>country</key>
						<string>SUE</string>
					</dict>
					<key>06</key>
					<dict>
						<key>year</key>
						<string>1962</string>
						<key>country</key>
						<string>CHI</string>
					</dict>
					<key>07</key>
					<dict>
						<key>year</key>
						<string>1966</string>
						<key>country</key>
						<string>ING</string>
					</dict>
					<key>08</key>
					<dict>
						<key>year</key>
						<string>1970</string>
						<key>country</key>
						<string>MEX</string>
					</dict>
					<key>09</key>
					<dict>
						<key>year</key>
						<string>1974</string>
						<key>country</key>
						<string>ALE</string>
						<key>legend</key>
						<string>2</string>
					</dict>
					<key>10</key>
					<dict>
						<key>year</key>
						<string>1978</string>
						<key>country</key>
						<string>ARG</string>
						<key>legend</key>
						<string>2</string>
					</dict>
					<key>11</key>
					<dict>
						<key>year</key>
						<string>1982</string>
						<key>country</key>
						<string>ESP</string>
						<key>legend</key>
						<string>3</string>
					</dict>
					<key>12</key>
					<dict>
						<key>year</key>
						<string>1986</string>
						<key>country</key>
						<string>MEX</string>
					</dict>
					<key>13</key>
					<dict>
						<key>year</key>
						<string>1990</string>
						<key>country</key>
						<string>ITA</string>
					</dict>
					<key>14</key>
					<dict>
						<key>year</key>
						<string>1994</string>
						<key>country</key>
						<string>USA</string>
					</dict>
					<key>15</key>
					<dict>
						<key>year</key>
						<string>1998</string>
						<key>country</key>
						<string>FRA</string>
					</dict>
					<key>16</key>
					<dict>
						<key>year</key>
						<string>2002</string>
						<key>country</key>
						<string>JAP</string>
					</dict>
					<key>17</key>
					<dict>
						<key>year</key>
						<string>2006</string>
						<key>country</key>
						<string>ALE</string>
					</dict>
					<key>18</key>
					<dict>
						<key>year</key>
						<string>2010</string>
						<key>country</key>
						<string>SUD</string>
					</dict>
				</dict>
					
					
				<!-- Posicion Y del gráfico -->
				<key>positionY</key>
				<dict>
					<key>00</key>
					<string>NC</string>
					<key>01</key>
					<string>FG</string>
					<key>02</key>
					<string>OF</string>
					<key>03</key>
					<string>CF</string>
					<key>04</key>
					<string>SF</string>
					<key>05</key>
					<string>F</string>
					<key>06</key>
					<string>C</string>
				</dict>
				
				<!-- leyenda -->
				<key>legend</key>
				<dict>
					<key>1</key>
					<string>Todo el sistema de competición fue por grupos: Una primera fase con cuatro grupos y una segunda fase con un solo grupo integrado por los campeones de grupo de la fase anterior, que por sistema de liguilla determinaron los cuatro primeros.</string>
					<key>2</key>
					<string>Dos fases de grupos. La segunda fase, con dos grupos, determinó los contendientes de la final.</string>
					<key>3</key>
					<string>Dos fases de grupos. La segunda fase, con cuatro grupos, determina los cuatro semifinalistas (los campeones de cada grupo).</string>
				</dict>

			</dict>
			
		</dict>
		<dict>
			<key>name</key>
			<string>stadiums</string>
			<key>stadiumInfo</key>
			<string>http://as.com/apps/guia_del_mundial/config/v1.x/v1.2/conf-guia-mundial-sedes.xml</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias</string>
			<key>noticiasWS</key>
			<string>/futbol/mundial.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>photoGallery</string>
			<key>photoGalleryWS</key>
			<string>http://as.com/tag/listado/G3n3r4_json_qu3ry_combinado.pl?rule=bcdb87b6568be15097513debc8f271ff</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>videos</string>
			<key>videosWS</key>
			<string>/tags/agr_mundial_a-f02.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador_mundial.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/d77a3d38b590f6e35713ac780b5b9beb/clasificacion_grupos.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/d77a3d38b590f6e35713ac780b5b9beb/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>triviaAS</string>
			<key>triviaWV</key>
			<string>http://as.com/apps/appDownloadLink.html?appname=guia_del_mundial</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict>
	</array>
	
</dict>
</plist>