<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- splash -->
	<key>splash</key>
	<dict>
		<key>available</key>
		<true/>
		<key>imageURL</key>
		<string>http://as.com/apps/guia_de_la_liga/patrocinio/2014_2015/img_adidas_splash.png</string>
		<key>seconds</key>
		<integer>1</integer>
	</dict>

	<!-- header -->
	<key>header</key>
	<dict>
		<key>available</key>
		<false/>
		<key>imageURL</key>
		<string>http://as.com/apps/guia_de_la_liga/patrocinio/2014_2015/img_adidas_header.png</string>
	</dict>

    <!-- prefijos -->
	<key>URLPrefixes</key>
	<dict>
		<!-- url  de imagenes -->
		<key>imageURLPrefix</key>
		<string>http://as02.epimg.net/</string>
		<!-- url  de videos -->
		<key>videoURLPrefix</key>
		<string>http://as02.epimg.net/</string>
		<!-- datos de dinamicos -->
		<key>dataURLPrefix</key>
		<string>http://as.com/apps/datos/</string>
		<!-- url de resultados -->
		<key>resultsURLPrefix</key>
		<string>http://resultados.as.com/</string>
		<!-- contenido editorial -->
		<key>dataServiceURLPrefix</key>
		<string>http://as.com/rss/</string>
	</dict>

	<!-- estados partido -->
	<key>status</key>
	<dict>
		<key>0</key><string>Sin comenzar</string>
		<key>1</key><string>1ª parte</string>
		<key>2</key><string>Descanso</string>
		<key>3</key><string>2ª parte</string>
		<key>4</key><string>1ª parte (prórroga)</string>
		<key>5</key><string>2ª parte (prórroga)</string>
		<key>6</key><string>Penaltis</string>
		<key>7</key><string>Finalizado</string>
		<key>8</key><string>Suspendido</string>
		<key>9</key><string>Aplazado</string>
		<key>100</key><string>Anulado</string>
	</dict>

	<!-- sistemas de juego -->
	<key>system</key>
	<dict>
		<key>19</key>
		<string>5-4-1</string>
		<key>20</key>
		<string>4-2-3-1</string>
		<key>21</key>
		<string>4-4-2-DP</string>
		<key>22</key>
		<string>4-4-2-Rombo</string>
		<key>23</key>
		<string>3-4-3</string>
		<key>24</key>
		<string>5-3-2</string>
		<key>25</key>
		<string>4-3-3</string>
		<key>26</key>
		<string>4-1-4-1</string>
		<key>27</key>
		<string>4-4-1-1</string>
		<key>28</key>
		<string>4-3-1-2</string>
		<key>29</key>
		<string>4-1-3-2</string>
		<key>30</key>
		<string>3-5-2</string>
		<key>31</key>
		<string>4-5-1</string>
		<key>32</key>
		<string>4-3-2-1</string>
		<key>33</key>
		<string>3-5-1-1</string>
		<key>34</key>
		<string>3-4-2-1</string>
		<key>35</key>
		<string>3-4-1-2</string>
	</dict>

	<!-- picas -->
	<key>spades</key>
	<dict>
		<key>-2</key>
		<string></string>
		<key>-1</key>
		<string>SC</string>
		<key>0</key>
		<string>-</string>
		<key>1</key>
		<string>1</string>
		<key>2</key>
		<string>2</string>
		<key>3</key>
		<string>3</string>
		<key>4</key>
		<string>4</string>
	</dict>

	<!-- leyenda_clasificacion -->
	<key>clasificationLabels</key>
	<dict>
		<key>top-1</key>
		<string>#005480</string>
		<key>top-2</key>
		<string>#0099CC</string>
		<key>top-3</key>
		<string>#339900</string>
		<key>top-4</key>
		<string>#66CC00</string>
		<key>bottom-1</key>
		<string>#A30000</string>
		<key>bottom-2</key>
		<string>#EE0202</string>
		<key>bottom-3</key>
		<string>#FF8000</string>
		<key>bottom-4</key>
		<string>#FFCC33</string>
	</dict>

	<!-- competiciones -->
	<key>competitions</key>
	<dict>
		<key>10</key>
		<dict>
			<key>order</key>
			<string>1</string>
			<key>description</key>
			<string>Liga BBVA</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-primera.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_LigaBBVA.png</string>
			<key>conFileTimestamp</key>
			<date>2015-07-23T14:00:00Z</date>
		</dict>
		<key>7</key>
		<dict>
			<key>order</key>
			<string>3</string>
			<key>description</key>
			<string>Liga Adelante</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-segunda.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_ligaadelante.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-23T12:00:00Z</date>
		</dict>
		<!--<key>13</key>
		<dict>
			<key>order</key>
			<string>3</string>
			<key>description</key>
			<string>Liga de Campeones</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-champions.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_champions.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-22T00:00:00Z</date>
		</dict>
		<key>12</key>
		<dict>
			<key>order</key>
			<string>4</string>
			<key>description</key>
			<string>Europa Liga</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-uefa.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_europaleague.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-22T00:00:00Z</date>
		</dict>
		<key>107</key>
		<dict>
			<key>order</key>
			<string>5</string>
			<key>description</key>
			<string>Copa</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-copa.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_copa.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-22T00:00:00Z</date>
		</dict>-->
		<key>9</key>
		<dict>
			<key>order</key>
			<string>7</string>
			<key>description</key>
			<string>Serie A</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-italia.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_italia.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-22T00:00:00Z</date>
		</dict>
		<key>8</key>
		<dict>
			<key>order</key>
			<string>4</string>
			<key>description</key>
			<string>Premier League</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-inglaterra.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_inglaterra.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-22T00:00:00Z</date>
		</dict>
		<key>5</key>
		<dict>
			<key>order</key>
			<string>5</string>
			<key>description</key>
			<string>Bundesliga</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-alemania.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_alemania.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-22T00:00:00Z</date>
		</dict>
		<key>6</key>
		<dict>
			<key>order</key>
			<string>6</string>
			<key>description</key>
			<string>Liga Francesa</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_de_la_liga/config/v2.x/v2.0/conf-guia-francia.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_francia.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-22T10:00:00Z</date>
		</dict>
		<key>17</key>
		<dict>
			<key>order</key>
			<string>2</string>
			<key>description</key>
			<string>mundial</string>
			<key>confFileURL</key>
			<string>http://as.com/apps/guia_del_mundial/config/v1.x/v1.2/conf-guia-mundial.xml</string>
			<key>headerLogo</key>
			<string>sliding_logo_ligaadelante.png</string>
			<key>conFileTimestamp</key>
			<date>2014-07-23T00:00:00Z</date>
		</dict>

	</dict>

</dict>
</plist>