<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group --> 
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<!-- segunda b-->

				<key>864</key>
		  		<dict>
					<key>name</key>
					<string>Huesca</string>
					<key>teamWS</key>
					<string>/fichas/equipo/365/864/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_huesca_size02.png</string>
						<key>calendar</key>
						<string>escudo_huesca_size03.png</string>
						<key>detail</key>
						<string>escudo_huesca_size01.png</string>
					</dict>
				</dict>

				<key>658</key>
		  		<dict>
					<key>name</key>
					<string>Cornellà</string>
					<key>teamWS</key>
					<string>/fichas/equipo/159/658/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cornella_size02.png</string>
						<key>calendar</key>
						<string>escudo_cornella_size03.png</string>
						<key>detail</key>
						<string>escudo_cornella_size01.png</string>
					</dict>
				</dict>

				<key>244</key>
		  		<dict>
					<key>name</key>
					<string>L'Hospitalet</string>
					<key>teamWS</key>
					<string>/fichas/equipo/244/244/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_hospitalet_size02.png</string>
						<key>calendar</key>
						<string>escudo_hospitalet_size03.png</string>
						<key>detail</key>
						<string>escudo_hospitalet_size01.png</string>
					</dict>
				</dict>

				<key>676</key>
		  		<dict>
					<key>name</key>
					<string>Alcoyano</string>
					<key>teamWS</key>
					<string>/fichas/equipo/177/676/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_alcoyano_size02.png</string>
						<key>calendar</key>
						<string>escudo_alcoyano_size03.png</string>
						<key>detail</key>
						<string>escudo_alcoyano_size01.png</string>
					</dict>
				</dict>

				<key>91</key>
		  		<dict>
					<key>name</key>
					<string>Cádiz</string>
					<key>teamWS</key>
					<string>/fichas/equipo/091/91/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cadiz_size02.png</string>
						<key>calendar</key>
						<string>escudo_cadiz_size03.png</string>
						<key>detail</key>
						<string>escudo_cadiz_size01.png</string>
					</dict>
				</dict>

				<key>14</key>
		  		<dict>
					<key>name</key>
					<string>Oviedo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/014/14/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_oviedo_size02.png</string>
						<key>calendar</key>
						<string>escudo_oviedo_size03.png</string>
						<key>detail</key>
						<string>escudo_oviedo_size01.png</string>
					</dict>
				</dict>

				<key>163</key>
		  		<dict>
					<key>name</key>
					<string>Sabadell</string>
					<key>teamWS</key>
					<string>/fichas/equipo/163/163/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/163.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sabadell_size02.png</string>
						<key>calendar</key>
						<string>escudo_sabadell_size03.png</string>
						<key>detail</key>
						<string>escudo_sabadell_size01.png</string>
					</dict>
				</dict>

				<!-- segunda -->

				<key>4</key>
		  		<dict>
					<key>name</key>
					<string>Alavés</string>
					<key>teamWS</key>
					<string>/fichas/equipo/004/4/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/4.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_alaves_size02.png</string>
						<key>calendar</key>
						<string>escudo_alaves_size03.png</string>
						<key>detail</key>
						<string>escudo_alaves_size01.png</string>
					</dict>
				</dict>

		    	<key>8</key>
		    	<dict>
					<key>name</key>
					<string>Espanyol</string>
					<key>teamWS</key>
					<string>/fichas/equipo/008/8/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/8.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_espanyol_size02.png</string>
						<key>calendar</key>
						<string>escudo_espanyol_size03.png</string>
						<key>detail</key>
						<string>escudo_espanyol_size01.png</string>
					</dict>
				</dict>

				<key>103</key>
		  		<dict>
					<key>name</key>
					<string>Albacete</string>
					<key>teamWS</key>
					<string>/fichas/equipo/103/103/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/103.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_albacete_size02.png</string>
						<key>calendar</key>
						<string>escudo_albacete_size03.png</string>
						<key>detail</key>
						<string>escudo_albacete_size01.png</string>
					</dict>
				</dict>

				<key>108</key>
		  		<dict>
					<key>name</key>
					<string>Éibar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/108/108/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/108.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_eibar_size02.png</string>
						<key>calendar</key>
						<string>escudo_eibar_size03.png</string>
						<key>detail</key>
						<string>escudo_eibar_size01.png</string>
					</dict>
				</dict>

				<key>9</key>
		  		<dict>
					<key>name</key>
					<string>Las Palmas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/009/9/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/9.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_canarias_size02.png</string>
						<key>calendar</key>
						<string>escudo_canarias_size03.png</string>
						<key>detail</key>
						<string>escudo_canarias_size01.png</string>
					</dict>
				</dict>

			<!-- primera -->

				<key>342</key>
				<dict>
					<key>name</key>
					<string>Córdoba</string>
					<key>teamWS</key>
					<string>/fichas/equipo/342/342/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/19.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cordoba_size02.png</string>
						<key>calendar</key>
						<string>escudo_cordoba_size03.png</string>
						<key>detail</key>
						<string>escudo_cordoba_size01.png</string>
					</dict>
				</dict>

				<key>18</key>
				<dict>
					<key>name</key>
					<string>Valladolid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/018/18/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/18.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_valladolid_size02.png</string>
						<key>calendar</key>
						<string>escudo_valladolid_size03.png</string>
						<key>detail</key>
						<string>escudo_valladolid_size01.png</string>
					</dict>
				</dict>

				<key>17</key>
				<dict>
					<key>name</key>
					<string>Valencia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/017/17/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/17.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_valencia_size02.png</string>
						<key>calendar</key>
						<string>escudo_valencia_size03.png</string>
						<key>detail</key>
						<string>escudo_valencia_size01.png</string>
					</dict>
				</dict>

				<key>53</key>
				<dict>
					<key>name</key>
					<string>Sevilla</string>
					<key>teamWS</key>
					<string>/fichas/equipo/053/53/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/53.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sevilla_size02.png</string>
						<key>calendar</key>
						<string>escudo_sevilla_size03.png</string>
						<key>detail</key>
						<string>escudo_sevilla_size01.png</string>
					</dict>
				</dict>

				<key>16</key>
				<dict>
					<key>name</key>
					<string>Real Sociedad</string>
					<key>teamWS</key>
					<string>/fichas/equipo/016/16/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/16.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realsociedad_size02.png</string>
						<key>calendar</key>
						<string>escudo_realsociedad_size03.png</string>
						<key>detail</key>
						<string>escudo_realsociedad_size01.png</string>
					</dict>
				</dict>

				<key>1</key>
				<dict>
					<key>name</key>
					<string>Real Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/001/1/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/1.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realmadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_realmadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_realmadrid_size01.png</string>
					</dict>
				</dict>

				<key>2</key>
				<dict>
					<key>name</key>
					<string>Rayo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/002/2/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/2.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rayo_size02.png</string>
						<key>calendar</key>
						<string>escudo_rayo_size03.png</string>
						<key>detail</key>
						<string>escudo_rayo_size01.png</string>
					</dict>
				</dict>

				<key>7</key>
				<dict>
					<key>name</key>
					<string>Deportivo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/007/7/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/7.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_deportivo_size02.png</string>
						<key>calendar</key>
						<string>escudo_deportivo_size03.png</string>
						<key>detail</key>
						<string>escudo_deportivo_size01.png</string>
					</dict>
				</dict>

				<key>10</key>
				<dict>
					<key>name</key>
					<string>Málaga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/010/10/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/10.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_malaga_size02.png</string>
						<key>calendar</key>
						<string>escudo_malaga_size03.png</string>
						<key>detail</key>
						<string>escudo_malaga_size01.png</string>
					</dict>
				</dict>

				<key>136</key>
				<dict>
					<key>name</key>
					<string>Levante</string>
					<key>teamWS</key>
					<string>/fichas/equipo/136/136/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/136.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_levante_size02.png</string>
						<key>calendar</key>
						<string>escudo_levante_size03.png</string>
						<key>detail</key>
						<string>escudo_levante_size01.png</string>
					</dict>
				</dict>

				<key>347</key>
				<dict>
					<key>name</key>
					<string>Granada</string>
					<key>teamWS</key>
					<string>/fichas/equipo/347/347/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/347.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_granada_size02.png</string>
						<key>calendar</key>
						<string>escudo_granada_size03.png</string>
						<key>detail</key>
						<string>escudo_granada_size01.png</string>
					</dict>
				</dict>

				<key>172</key>
				<dict>
					<key>name</key>
					<string>Getafe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/172/172/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/172.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_getafe_size02.png</string>
						<key>calendar</key>
						<string>escudo_getafe_size03.png</string>
						<key>detail</key>
						<string>escudo_getafe_size01.png</string>
					</dict>
				</dict>

				<key>8</key>
				<dict>
					<key>name</key>
					<string>Espanyol</string>
					<key>teamWS</key>
					<string>/fichas/equipo/008/8/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/8.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_espanyol_size02.png</string>
						<key>calendar</key>
						<string>escudo_espanyol_size03.png</string>
						<key>detail</key>
						<string>escudo_espanyol_size01.png</string>
					</dict>
				</dict>

				<key>121</key>
				<dict>
					<key>name</key>
					<string>Elche</string>
					<key>teamWS</key>
					<string>/fichas/equipo/121/121/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/121.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_elche_size02.png</string>
						<key>calendar</key>
						<string>escudo_elche_size03.png</string>
						<key>detail</key>
						<string>escudo_elche_size01.png</string>
					</dict>
				</dict>

				<key>6</key>
				<dict>
					<key>name</key>
					<string>Celta</string>
					<key>teamWS</key>
					<string>/fichas/equipo/006/6/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/6.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_celta_size02.png</string>
						<key>calendar</key>
						<string>escudo_celta_size03.png</string>
						<key>detail</key>
						<string>escudo_celta_size01.png</string>
					</dict>
				</dict>

				<key>171</key>
				<dict>
					<key>name</key>
					<string>Betis</string>
					<key>teamWS</key>
					<string>/fichas/equipo/171/171/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/171.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_betis_size02.png</string>
						<key>calendar</key>
						<string>escudo_betis_size03.png</string>
						<key>detail</key>
						<string>escudo_betis_size01.png</string>
					</dict>
				</dict>

				<key>3</key>
				<dict>
					<key>name</key>
					<string>Barcelona</string>
					<key>teamWS</key>
					<string>/fichas/equipo/003/3/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/3.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_barcelona_size02.png</string>
						<key>calendar</key>
						<string>escudo_barcelona_size03.png</string>
						<key>detail</key>
						<string>escudo_barcelona_size01.png</string>
					</dict>
				</dict>

				<key>5</key>
				<dict>
					<key>name</key>
					<string>Athletic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/5/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/5.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_athletic_size02.png</string>
						<key>calendar</key>
						<string>escudo_athletic_size03.png</string>
						<key>detail</key>
						<string>escudo_athletic_size01.png</string>
					</dict>
				</dict>

				<key>85</key>
				<dict>
					<key>name</key>
					<string>Almería</string>
					<key>teamWS</key>
					<string>/fichas/equipo/085/85/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/85.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_almeria_size02.png</string>
						<key>calendar</key>
						<string>escudo_almeria_size03.png</string>
						<key>detail</key>
						<string>escudo_almeria_size01.png</string>
					</dict>
				</dict>

				<key>42</key>
				<dict>
					<key>name</key>
					<string>Atlético de Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/042/42/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/42.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atleticomadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_atleticomadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_atleticomadrid_size01.png</string>
					</dict>
				</dict>

				<key>19</key>
				<dict>
					<key>name</key>
					<string>Villareal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/019/19/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/teams/19.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_villareal_size02.png</string>
						<key>calendar</key>
						<string>escudo_villareal_size03.png</string>
						<key>detail</key>
						<string>escudo_villareal_size01.png</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/4e5de9f7e66a77a80c9e091f9e98b34a/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/copa_del_rey/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/4e5de9f7e66a77a80c9e091f9e98b34a/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/4e5de9f7e66a77a80c9e091f9e98b34a/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>adidas</string>
			<key>urlWV</key>
			<string>http://www.adidas.es/futbol</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>