<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<key>4194</key>
		  		<dict>
					<key>name</key>
					<string>Santa Fe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/202/4194/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_santafe_size02.png</string>
						<key>calendar</key>
						<string>escudo_santafe_size03.png</string>
						<key>detail</key>
						<string>escudo_santafe_size01.png</string>
					</dict>
				</dict>

				<key>4222</key>
		  		<dict>
					<key>name</key>
					<string>Atlético Mineiro</string>
					<key>teamWS</key>
					<string>/fichas/equipo/230/4222/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atleticominero_size02.png</string>
						<key>calendar</key>
						<string>escudo_atleticominero_size03.png</string>
						<key>detail</key>
						<string>escudo_atleticominero_size01.png</string>
					</dict>
				</dict>

				<key>4155</key>
		  		<dict>
					<key>name</key>
					<string>Colo Colo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/163/4155/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_colocolo_size02.png</string>
						<key>calendar</key>
						<string>escudo_colocolo_size03.png</string>
						<key>detail</key>
						<string>escudo_colocolo_size01.png</string>
					</dict>
				</dict>

				<key>4223</key>
				<dict>
					<key>name</key>
					<string>Atlas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/231/4223/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atlas_size02.png</string>
						<key>calendar</key>
						<string>escudo_atlas_size03.png</string>
						<key>detail</key>
						<string>escudo_atlas_size01.png</string>
					</dict>
				</dict>

				<key>4216</key>
		  		<dict>
					<key>name</key>
					<string>Corinthians</string>
					<key>teamWS</key>
					<string>/fichas/equipo/224/4216/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_corinthians_size02.png</string>
						<key>calendar</key>
						<string>escudo_corinthians_size03.png</string>
						<key>detail</key>
						<string>escudo_corinthians_size01.png</string>
					</dict>
				</dict>

				<key>4224</key>
		  		<dict>
					<key>name</key>
					<string>São Paulo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/232/4224/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_saopaulo_size02.png</string>
						<key>calendar</key>
						<string>escudo_saopaulo_size03.png</string>
						<key>detail</key>
						<string>escudo_saopaulo_size01.png</string>
					</dict>
				</dict>

				<key>3790</key>
		  		<dict>
					<key>name</key>
					<string>San Lorenzo de Almagro</string>
					<key>teamWS</key>
					<string>/fichas/equipo/297/3790/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_almagro_size02.png</string>
						<key>calendar</key>
						<string>escudo_almagro_size03.png</string>
						<key>detail</key>
						<string>escudo_almagro_size01.png</string>
					</dict>
				</dict>

				<key>4218</key>
		  		<dict>
					<key>name</key>
					<string>Danubio</string>
					<key>teamWS</key>
					<string>/fichas/equipo/226/4218/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_danubio_size02.png</string>
						<key>calendar</key>
						<string>escudo_danubio_size03.png</string>
						<key>detail</key>
						<string>escudo_danubio_size01.png</string>
					</dict>
				</dict>

				<key>4211</key>
		  		<dict>
					<key>name</key>
					<string>Cruzeiro</string>
					<key>teamWS</key>
					<string>/fichas/equipo/219/4211/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cruzeiro_size02.png</string>
						<key>calendar</key>
						<string>escudo_cruzeiro_size03.png</string>
						<key>detail</key>
						<string>escudo_cruzeiro_size01.png</string>
					</dict>
				</dict>

				<key>3939</key>
		  		<dict>
					<key>name</key>
					<string>Universitario de Sucre</string>
					<key>teamWS</key>
					<string>/fichas/equipo/446/3939/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_universitariosucre_size02.png</string>
						<key>calendar</key>
						<string>escudo_universitariosucre_size03.png</string>
						<key>detail</key>
						<string>escudo_universitariosucre_size01.png</string>
					</dict>
				</dict>

				<key>4215</key>
		  		<dict>
					<key>name</key>
					<string>Huracán</string>
					<key>teamWS</key>
					<string>/fichas/equipo/223/4215/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_huracan_size02.png</string>
						<key>calendar</key>
						<string>escudo_huracan_size03.png</string>
						<key>detail</key>
						<string>escudo_huracan_size01.png</string>
					</dict>
				</dict>

				<key>3898</key>
		  		<dict>
					<key>name</key>
					<string>Mineros de Guayana</string>
					<key>teamWS</key>
					<string>/fichas/equipo/405/3898/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_minerosguayana_size02.png</string>
						<key>calendar</key>
						<string>escudo_minerosguayana_size03.png</string>
						<key>detail</key>
						<string>escudo_minerosguayana_size01.png</string>
					</dict>
				</dict>

				<key>1196</key>
		  		<dict>
					<key>name</key>
					<string>Internacional</string>
					<key>teamWS</key>
					<string>/fichas/equipo/198/1196/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_internacional_size02.png</string>
						<key>calendar</key>
						<string>escudo_internacional_size03.png</string>
						<key>detail</key>
						<string>escudo_internacional_size01.png</string>
					</dict>
				</dict>

				<key>4219</key>
		  		<dict>
					<key>name</key>
					<string>Emelec</string>
					<key>teamWS</key>
					<string>/fichas/equipo/227/4219/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_emelec_size02.png</string>
						<key>calendar</key>
						<string>escudo_emelec_size03.png</string>
						<key>detail</key>
						<string>escudo_emelec_size01.png</string>
					</dict>
				</dict>

				<key>3941</key>
		  		<dict>
					<key>name</key>
					<string>The Strongest</string>
					<key>teamWS</key>
					<string>/fichas/equipo/448/3941/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_strongest_size02.png</string>
						<key>calendar</key>
						<string>escudo_strongest_size03.png</string>
						<key>detail</key>
						<string>escudo_strongest_size01.png</string>
					</dict>
				</dict>

				<key>4153</key>
		  		<dict>
					<key>name</key>
					<string>U. de Chile</string>
					<key>teamWS</key>
					<string>/fichas/equipo/161/4153/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_uchile_size02.png</string>
						<key>calendar</key>
						<string>escudo_uchile_size03.png</string>
						<key>detail</key>
						<string>escudo_uchile_size01.png</string>
					</dict>
				</dict>

				<key>157</key>
		  		<dict>
					<key>name</key>
					<string>Boca Juniors</string>
					<key>teamWS</key>
					<string>/fichas/equipo/157/157/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_boca_size02.png</string>
						<key>calendar</key>
						<string>escudo_boca_size03.png</string>
						<key>detail</key>
						<string>escudo_boca_size01.png</string>
					</dict>
				</dict>

				<key>3907</key>
		  		<dict>
					<key>name</key>
					<string>Montevideo Wanderers FC</string>
					<key>teamWS</key>
					<string>/fichas/equipo/414/3907/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_wanderers_size02.png</string>
						<key>calendar</key>
						<string>escudo_wanderers_size03.png</string>
						<key>detail</key>
						<string>escudo_wanderers_size01.png</string>
					</dict>
				</dict>

				<key>4162</key>
		  		<dict>
					<key>name</key>
					<string>Palestino</string>
					<key>teamWS</key>
					<string>/fichas/equipo/170/4162/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_palestino_size02.png</string>
						<key>calendar</key>
						<string>escudo_palestino_size03.png</string>
						<key>detail</key>
						<string>escudo_palestino_size01.png</string>
					</dict>
				</dict>

				<key>3889</key>
		  		<dict>
					<key>name</key>
					<string>Zamora F.C</string>
					<key>teamWS</key>
					<string>/fichas/equipo/396/3889/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_zamora_size02.png</string>
						<key>calendar</key>
						<string>escudo_zamora_size03.png</string>
						<key>detail</key>
						<string>escudo_zamora_size01.png</string>
					</dict>
				</dict>

				<key>4210</key>
		  		<dict>
					<key>name</key>
					<string>Tigres</string>
					<key>teamWS</key>
					<string>/fichas/equipo/218/4210/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_tigres_size02.png</string>
						<key>calendar</key>
						<string>escudo_tigres_size03.png</string>
						<key>detail</key>
						<string>escudo_tigres_size01.png</string>
					</dict>
				</dict>

				<key>107</key>
		  		<dict>
					<key>name</key>
					<string>River Plate</string>
					<key>teamWS</key>
					<string>/fichas/equipo/107/107/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_river_size02.png</string>
						<key>calendar</key>
						<string>escudo_river_size03.png</string>
						<key>detail</key>
						<string>escudo_river_size01.png</string>
					</dict>
				</dict>

				<key>3862</key>
		  		<dict>
					<key>name</key>
					<string>Juan Aurich</string>
					<key>teamWS</key>
					<string>/fichas/equipo/369/3862/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_juanaurich_size02.png</string>
						<key>calendar</key>
						<string>escudo_juanaurich_size03.png</string>
						<key>detail</key>
						<string>escudo_juanaurich_size01.png</string>
					</dict>
				</dict>

				<key>4212</key>
		  		<dict>
					<key>name</key>
					<string>San José</string>
					<key>teamWS</key>
					<string>/fichas/equipo/220/4212/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sanjose_size02.png</string>
						<key>calendar</key>
						<string>escudo_sanjose_size03.png</string>
						<key>detail</key>
						<string>escudo_sanjose_size01.png</string>
					</dict>
				</dict>

				<key>3855</key>
		  		<dict>
					<key>name</key>
					<string>Nacional</string>
					<key>teamWS</key>
					<string>/fichas/equipo/362/3855/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_nacional_size02.png</string>
						<key>calendar</key>
						<string>escudo_nacional_size03.png</string>
						<key>detail</key>
						<string>escudo_nacional_size01.png</string>
					</dict>
				</dict>

				<key>233</key>
		  		<dict>
					<key>name</key>
					<string>Estudiantes</string>
					<key>teamWS</key>
					<string>/fichas/equipo/233/233/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_estudiantes_size02.png</string>
						<key>calendar</key>
						<string>escudo_estudiantes_size03.png</string>
						<key>detail</key>
						<string>escudo_estudiantes_size01.png</string>
					</dict>
				</dict>

				<key>4217</key>
		  		<dict>
					<key>name</key>
					<string>Libertad</string>
					<key>teamWS</key>
					<string>/fichas/equipo/225/4217/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_libertad_size02.png</string>
						<key>calendar</key>
						<string>escudo_libertad_size03.png</string>
						<key>detail</key>
						<string>escudo_libertad_size01.png</string>
					</dict>
				</dict>

				<key>3825</key>
		  		<dict>
					<key>name</key>
					<string>Barcelona S.C</string>
					<key>teamWS</key>
					<string>/fichas/equipo/332/3825/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_barcelonasc_size02.png</string>
						<key>calendar</key>
						<string>escudo_barcelonasc_size03.png</string>
						<key>detail</key>
						<string>escudo_barcelonasc_size01.png</string>
					</dict>
				</dict>

				<key>4225</key>
		  		<dict>
					<key>name</key>
					<string>Racing Club</string>
					<key>teamWS</key>
					<string>/fichas/equipo/233/4225/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_racingclub_size02.png</string>
						<key>calendar</key>
						<string>escudo_racingclub_size03.png</string>
						<key>detail</key>
						<string>escudo_racingclub_size01.png</string>
					</dict>
				</dict>

				<key>4221</key>
		  		<dict>
					<key>name</key>
					<string>Guaraní</string>
					<key>teamWS</key>
					<string>/fichas/equipo/229/4221/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_guarani_size02.png</string>
						<key>calendar</key>
						<string>escudo_guarani_size03.png</string>
						<key>detail</key>
						<string>escudo_guarani_size01.png</string>
					</dict>
				</dict>

				<key>4220</key>
				<dict>
					<key>name</key>
					<string>Sporting Cristal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/228/4220/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sportingcristal_size02.png</string>
						<key>calendar</key>
						<string>escudo_sportingcristal_size03.png</string>
						<key>detail</key>
						<string>escudo_sportingcristal_size01.png</string>
					</dict>
				</dict>

				<key>3896</key>
		  		<dict>
					<key>name</key>
					<string>Deportivo Táchira</string>
					<key>teamWS</key>
					<string>/fichas/equipo/403/3896/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_deportivotachira_size02.png</string>
						<key>calendar</key>
						<string>escudo_deportivotachira_size03.png</string>
						<key>detail</key>
						<string>escudo_deportivotachira_size01.png</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/bfd240ae46efd6d760f4d905fc2a1287/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/europa_league/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/bfd240ae46efd6d760f4d905fc2a1287/clasificacion_segunda_ronda.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/bfd240ae46efd6d760f4d905fc2a1287/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>adidas</string>
			<key>urlWV</key>
			<string>http://www.adidas.es/futbol</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
