<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        
        <!-- menu -->
        <key>menu</key>
        <array>
            <dict>
                <key>name</key>
                <string>grid</string>
                <!-- alpha|group -->
                <key>order</key>
                <string>alpha</string>
                <key>default</key>
                <true/>
                <!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
                <key>viewType</key>
                <string>principal_view</string>
                <key>available</key>
                <true/>
                <key>teams</key>
                <dict>
                    
                    <key>4</key>
                    <dict>
                        <key>name</key>
                        <string>Alavés</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/004/4/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/4.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_alaves_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_alaves_size03.png</string>
                            <key>detail</key>
                            <string>escudo_alaves_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>486</key>
                    <dict>
                        <key>name</key>
                        <string>Alcorcón</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/486/486/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/486.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_alcorcon_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_alcorcon_size03.png</string>
                            <key>detail</key>
                            <string>escudo_alcorcon_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>13</key>
                    <dict>
                        <key>name</key>
                        <string>Osasuna</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/013/13/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/13.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_osasuna_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_osasuna_size03.png</string>
                            <key>detail</key>
                            <string>escudo_osasuna_size01.png</string>
                        </dict>
                    </dict>
                    
                    
                    <key>181</key>
                    <dict>
                        <key>name</key>
                        <string>Barcelona B</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/181/181/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/181.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_barcelona_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_barcelona_size03.png</string>
                            <key>detail</key>
                            <string>escudo_barcelona_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>171</key>
                    <dict>
                        <key>name</key>
                        <string>Betis</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/171/171/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/171.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_betis_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_betis_size03.png</string>
                            <key>detail</key>
                            <string>escudo_betis_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>18</key>
                    <dict>
                        <key>name</key>
                        <string>Valladolid</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/018/18/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/18.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_valladolid_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_valladolid_size03.png</string>
                            <key>detail</key>
                            <string>escudo_valladolid_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>648</key>
                    <dict>
                        <key>name</key>
                        <string>Girona</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/149/648/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/648.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_girona_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_girona_size03.png</string>
                            <key>detail</key>
                            <string>escudo_girona_size01.png</string>
                        </dict>
                    </dict>
                    
                    <!--<key>93</key>
                     <dict>
                     <key>name</key>
                     <string>Hércules</string>
                     <key>teamWS</key>
                     <string>/fichas/equipo/093/93/equipo.js2</string>
                     <key>teamInfo</key>
                     <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/93.xml</string>
                     <key>shields</key>
                     <dict>
                     <key>grid</key>
                     <string>escudo_hercules_size02.png</string>
                     <key>calendar</key>
                     <string>escudo_hercules_size03.png</string>
                     <key>detail</key>
                     <string>escudo_hercules_size01.png</string>
                     </dict>
                     </dict>
                     
                     <key>253</key>
                     <dict>
                     <key>name</key>
                     <string>Jaén</string>
                     <key>teamWS</key>
                     <string>/fichas/equipo/253/253/equipo.js2</string>
                     <key>teamInfo</key>
                     <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/253.xml</string>
                     <key>shields</key>
                     <dict>
                     <key>grid</key>
                     <string>escudo_jaen_size02.png</string>
                     <key>calendar</key>
                     <string>escudo_jaen_size03.png</string>
                     <key>detail</key>
                     <string>escudo_jaen_size01.png</string>
                     </dict>
                     </dict>-->
                    
                    <key>132</key>
                    <dict>
                        <key>name</key>
                        <string>Leganés</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/132/132/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/132.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_leganes_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_leganes_size03.png</string>
                            <key>detail</key>
                            <string>escudo_leganes_size01.png</string>
                        </dict>
                    </dict>
                    <key>9</key>
                    <dict>
                        <key>name</key>
                        <string>Las Palmas</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/009/9/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/9.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_canarias_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_canarias_size03.png</string>
                            <key>detail</key>
                            <string>escudo_canarias_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>263</key>
                    <dict>
                        <key>name</key>
                        <string>Lugo</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/263/263/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/263.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_lugo_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_lugo_size03.png</string>
                            <key>detail</key>
                            <string>escudo_lugo_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>11</key>
                    <dict>
                        <key>name</key>
                        <string>Mallorca</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/011/11/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/11.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_mallorca_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_mallorca_size03.png</string>
                            <key>detail</key>
                            <string>escudo_mallorca_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>843</key>
                    <dict>
                        <key>name</key>
                        <string>Mirandés</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/344/843/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/843.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_mirandes_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_mirandes_size03.png</string>
                            <key>detail</key>
                            <string>escudo_mirandes_size01.png</string>
                        </dict>
                    </dict>
                    
                    <!--<key>164</key>
                     <dict>
                     <key>name</key>
                     <string>Murcia</string>
                     <key>teamWS</key>
                     <string>/fichas/equipo/164/164/equipo.js2</string>
                     <key>teamInfo</key>
                     <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/164.xml</string>
                     <key>shields</key>
                     <dict>
                     <key>grid</key>
                     <string>escudo_murcia_size02.png</string>
                     <key>calendar</key>
                     <string>escudo_murcia_size03.png</string>
                     <key>detail</key>
                     <string>escudo_murcia_size01.png</string>
                     </dict>
                     </dict>-->
                    
                    <key>12</key>
                    <dict>
                        <key>name</key>
                        <string>Numancia</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/012/12/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/12.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_numancia_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_numancia_size03.png</string>
                            <key>detail</key>
                            <string>escudo_numancia_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>485</key>
                    <dict>
                        <key>name</key>
                        <string>Ponferradina</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/485/485/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/485.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_ponferradina_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_ponferradina_size03.png</string>
                            <key>detail</key>
                            <string>escudo_ponferradina_size01.png</string>
                        </dict>
                    </dict>
                    <!--
                     <key>187</key>
                     <dict>
                     <key>name</key>
                     <string>RM Castilla</string>
                     <key>teamWS</key>
                     <string>/fichas/equipo/187/187/equipo.js2</string>
                     <key>teamInfo</key>
                     <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/187.xml</string>
                     <key>shields</key>
                     <dict>
                     <key>grid</key>
                     <string>escudo_realmadrid_size02.png</string>
                     <key>calendar</key>
                     <string>escudo_realmadrid_size03.png</string>
                     <key>detail</key>
                     <string>escudo_realmadrid_size01.png</string>
                     </dict>
                     </dict>-->
                    
                    <key>152</key>
                    <dict>
                        <key>name</key>
                        <string>Recreativo</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/152/152/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/152.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_recreativo_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_recreativo_size03.png</string>
                            <key>detail</key>
                            <string>escudo_recreativo_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>163</key>
                    <dict>
                        <key>name</key>
                        <string>Sabadell</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/163/163/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/163.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_sabadell_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_sabadell_size03.png</string>
                            <key>detail</key>
                            <string>escudo_sabadell_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>76</key>
                    <dict>
                        <key>name</key>
                        <string>Sporting</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/076/76/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/76.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_sporting_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_sporting_size03.png</string>
                            <key>detail</key>
                            <string>escudo_sporting_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>162</key>
                    <dict>
                        <key>name</key>
                        <string>Tenerife</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/162/162/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/162.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_tenerife_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_tenerife_size03.png</string>
                            <key>detail</key>
                            <string>escudo_tenerife_size01.png</string>
                        </dict>
                    </dict>
                    
                    <key>20</key>
                    <dict>
                        <key>name</key>
                        <string>Zaragoza</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/020/20/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/20.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_zaragoza_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_zaragoza_size03.png</string>
                            <key>detail</key>
                            <string>escudo_zaragoza_size01.png</string>
                        </dict>
                    </dict>
                    <key>15</key>
                    <dict>
                        <key>name</key>
                        <string>Racing</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/015/15/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/15.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_santander_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_santander_size03.png</string>
                            <key>detail</key>
                            <string>escudo_santander_size01.png</string>
                        </dict>
                    </dict>
                    <key>3375</key>
                    <dict>
                        <key>name</key>
                        <string>Llagostera</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/381/3375/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/3375.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_llagostera_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_llagostera_size03.png</string>
                            <key>detail</key>
                            <string>escudo_llagostera_size01.png</string>
                        </dict>
                    </dict>
                    <key>103</key>
                    <dict>
                        <key>name</key>
                        <string>Albacete</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/103/103/equipo.js2</string>
                        <key>teamInfo</key>
                        <string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/103.xml</string>
                        <key>shields</key>
                        <dict>
                            <key>grid</key>
                            <string>escudo_albacete_size02.png</string>
                            <key>calendar</key>
                            <string>escudo_albacete_size03.png</string>
                            <key>detail</key>
                            <string>escudo_albacete_size01.png</string>
                        </dict>
                    </dict>
                    
                </dict>
            </dict>
            <dict>
                <key>name</key>
                <string>calendar</string>
                <key>calendarWS</key>
                <string>/calendario/668b5bae319cc6cc71782cea205304c5/calendario.js2</string>
                <key>resultsURL</key>
                <string>http://resultados.as.com/resultados/futbol/segunda/</string>
                <key>viewType</key>
                <string>principal_view</string>
                <key>available</key>
                <true/>
            </dict>
            <dict>
                <key>name</key>
                <string>clasification</string>
                <key>clasificationWS</key>
                <dict>
                    <key>Fase Grupos</key>
                    <string>/clasificacion/668b5bae319cc6cc71782cea205304c5/clasificacion_regular.js2</string>
                </dict>
                <key>viewType</key>
                <string>principal_view</string>
                <key>available</key>
                <true/>
            </dict>
            <dict>
                <key>name</key>
                <string>carrusel</string>
                <key>carruselWS</key>
                <string>/carrusel/668b5bae319cc6cc71782cea205304c5/carrusel.js2</string>
                <key>viewType</key>
                <string>principal_view</string>
                <key>available</key>
                <true/>
            </dict>
            <dict>
                <key>name</key>
                <string>comparador</string>
                <key>viewType</key>
                <string>principal_view</string>
                <key>available</key>
                <true/>
            </dict>
            <dict>
                <key>name</key>
                <string>search</string>
                <key>queryPath</key>
                <string>/buscador.pl</string>
                <key>viewType</key>
                <string>principal_view</string>
                <key>available</key>
                <true/>
            </dict>
            <dict>
                <key>name</key>
                <string>adidas</string>
                <key>urlWV</key>
                <string>http://www.adidas.es/futbol</string>
                <key>viewType</key>
                <string>external_view</string>
                <key>available</key>
                <true/>
            </dict>
        </array>
    </dict>
</plist>
