<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group --> 
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>

			<key>teams</key>
			<dict>
				<key>19</key>
				<dict>
					<key>name</key>
					<string>Villareal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/019/19/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/19.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_villareal_size02.png</string>
						<key>calendar</key>
						<string>escudo_villareal_size03.png</string>
						<key>detail</key>
						<string>escudo_villareal_size01.png</string>
					</dict>
				</dict>

				<key>108</key>
		  		<dict>
					<key>name</key>
					<string>Eibar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/108/108/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/108.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_eibar_size02.png</string>
						<key>calendar</key>
						<string>escudo_eibar_size03.png</string>
						<key>detail</key>
						<string>escudo_eibar_size01.png</string>
					</dict>
				</dict>

				<key>17</key>
				<dict>
					<key>name</key>
					<string>Valencia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/017/17/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/17.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_valencia_size02.png</string>
						<key>calendar</key>
						<string>escudo_valencia_size03.png</string>
						<key>detail</key>
						<string>escudo_valencia_size01.png</string>
					</dict>
				</dict>

				<key>53</key>
				<dict>
					<key>name</key>
					<string>Sevilla</string>
					<key>teamWS</key>
					<string>/fichas/equipo/053/53/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/53.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sevilla_size02.png</string>
						<key>calendar</key>
						<string>escudo_sevilla_size03.png</string>
						<key>detail</key>
						<string>escudo_sevilla_size01.png</string>
					</dict>
				</dict>

				<key>16</key>
				<dict>
					<key>name</key>
					<string>Real Sociedad</string>
					<key>teamWS</key>
					<string>/fichas/equipo/016/16/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/16.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realsociedad_size02.png</string>
						<key>calendar</key>
						<string>escudo_realsociedad_size03.png</string>
						<key>detail</key>
						<string>escudo_realsociedad_size01.png</string>
					</dict>
				</dict>

				<key>1</key>
				<dict>
					<key>name</key>
					<string>Real Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/001/1/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/1.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realmadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_realmadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_realmadrid_size01.png</string>
					</dict>
				</dict>

				<key>2</key>
				<dict>
					<key>name</key>
					<string>Rayo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/002/2/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/2.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rayo_size02.png</string>
						<key>calendar</key>
						<string>escudo_rayo_size03.png</string>
						<key>detail</key>
						<string>escudo_rayo_size01.png</string>
					</dict>
				</dict>

				<key>7</key>
		  		<dict>
					<key>name</key>
					<string>Deportivo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/007/7/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/7.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_deportivo_size02.png</string>
						<key>calendar</key>
						<string>escudo_deportivo_size03.png</string>
						<key>detail</key>
						<string>escudo_deportivo_size01.png</string>
					</dict>
				</dict>

				<key>10</key>
				<dict>
					<key>name</key>
					<string>Málaga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/010/10/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/10.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_malaga_size02.png</string>
						<key>calendar</key>
						<string>escudo_malaga_size03.png</string>
						<key>detail</key>
						<string>escudo_malaga_size01.png</string>
					</dict>
				</dict>

				<key>136</key>
				<dict>
					<key>name</key>
					<string>Levante</string>
					<key>teamWS</key>
					<string>/fichas/equipo/136/136/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/136.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_levante_size02.png</string>
						<key>calendar</key>
						<string>escudo_levante_size03.png</string>
						<key>detail</key>
						<string>escudo_levante_size01.png</string>
					</dict>
				</dict>

				<key>347</key>
				<dict>
					<key>name</key>
					<string>Granada</string>
					<key>teamWS</key>
					<string>/fichas/equipo/347/347/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/347.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_granada_size02.png</string>
						<key>calendar</key>
						<string>escudo_granada_size03.png</string>
						<key>detail</key>
						<string>escudo_granada_size01.png</string>
					</dict>
				</dict>

				<key>172</key>
				<dict>
					<key>name</key>
					<string>Getafe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/172/172/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/172.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_getafe_size02.png</string>
						<key>calendar</key>
						<string>escudo_getafe_size03.png</string>
						<key>detail</key>
						<string>escudo_getafe_size01.png</string>
					</dict>
				</dict>

				<key>8</key>
				<dict>
					<key>name</key>
					<string>Espanyol</string>
					<key>teamWS</key>
					<string>/fichas/equipo/008/8/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/8.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_espanyol_size02.png</string>
						<key>calendar</key>
						<string>escudo_espanyol_size03.png</string>
						<key>detail</key>
						<string>escudo_espanyol_size01.png</string>
					</dict>
				</dict>

				<key>121</key>
				<dict>
					<key>name</key>
					<string>Elche</string>
					<key>teamWS</key>
					<string>/fichas/equipo/121/121/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/121.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_elche_size02.png</string>
						<key>calendar</key>
						<string>escudo_elche_size03.png</string>
						<key>detail</key>
						<string>escudo_elche_size01.png</string>
					</dict>
				</dict>

				<key>6</key>
				<dict>
					<key>name</key>
					<string>Celta</string>
					<key>teamWS</key>
					<string>/fichas/equipo/006/6/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/6.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_celta_size02.png</string>
						<key>calendar</key>
						<string>escudo_celta_size03.png</string>
						<key>detail</key>
						<string>escudo_celta_size01.png</string>
					</dict>
				</dict>

				<key>342</key>
		  		<dict>
					<key>name</key>
					<string>Córdoba</string>
					<key>teamWS</key>
					<string>/fichas/equipo/342/342/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/342.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cordoba_size02.png</string>
						<key>calendar</key>
						<string>escudo_cordoba_size03.png</string>
						<key>detail</key>
						<string>escudo_cordoba_size01.png</string>
					</dict>
				</dict>

				<key>3</key>
				<dict>
					<key>name</key>
					<string>Barcelona</string>
					<key>teamWS</key>
					<string>/fichas/equipo/003/3/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/3.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_barcelona_size02.png</string>
						<key>calendar</key>
						<string>escudo_barcelona_size03.png</string>
						<key>detail</key>
						<string>escudo_barcelona_size01.png</string>
					</dict>
				</dict>

				<key>5</key>
				<dict>
					<key>name</key>
					<string>Athletic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/5/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/5.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_athletic_size02.png</string>
						<key>calendar</key>
						<string>escudo_athletic_size03.png</string>
						<key>detail</key>
						<string>escudo_athletic_size01.png</string>
					</dict>
				</dict>

				<key>85</key>
				<dict>
					<key>name</key>
					<string>Almería</string>
					<key>teamWS</key>
					<string>/fichas/equipo/085/85/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/85.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_almeria_size02.png</string>
						<key>calendar</key>
						<string>escudo_almeria_size03.png</string>
						<key>detail</key>
						<string>escudo_almeria_size01.png</string>
					</dict>
				</dict>

				<key>42</key>
				<dict>
					<key>name</key>
					<string>Atlético de Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/042/42/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/42.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atleticomadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_atleticomadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_atleticomadrid_size01.png</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias</string>
			<key>noticiasWS</key>
			<string>/futbol/mundial.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>photoGallery</string>
			<key>photoGalleryWS</key>
			<string>http://as.com/tag/listado/G3n3r4_json_qu3ry_combinado.pl?rule=bcdb87b6568be15097513debc8f271ff</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>videos</string>
			<key>videosWS</key>
			<string>/tags/agr_mundial_a-f02.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/d001cacdf99876154d247fe5aa920896/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/primera/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/d001cacdf99876154d247fe5aa920896/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/d001cacdf99876154d247fe5aa920896/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>adidas</string>
			<key>urlWV</key>
			<string>http://www.adidas.es/futbol</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>