<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group --> 
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<key>19</key>
		  		<dict>
					<key>name</key>
					<string>Villarreal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/019/19/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/19.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_villarreal_size02.png</string>
						<key>calendar</key>
						<string>escudo_villarreal_size03.png</string>
						<key>detail</key>
						<string>escudo_villarreal_size01.png</string>
					</dict>
				</dict>

				<key>536</key>
		  		<dict>
					<key>name</key>
					<string>Borussia Moenchengladbach</string>
					<key>teamWS</key>
					<string>/fichas/equipo/037/536/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_moenchengladbach_size02.png</string>
						<key>calendar</key>
						<string>escudo_moenchengladbach_size03.png</string>
						<key>detail</key>
						<string>escudo_moenchengladbach_size01.png</string>
					</dict>
				</dict>

				<key>295</key>
		  		<dict>
					<key>name</key>
					<string>Zürich</string>
					<key>teamWS</key>
					<string>/fichas/equipo/295/295/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_zurich_size02.png</string>
						<key>calendar</key>
						<string>escudo_zurich_size03.png</string>
						<key>detail</key>
						<string>escudo_zurich_size01.png</string>
					</dict>
				</dict>

				<key>294</key>
				<dict>
					<key>name</key>
					<string>Copenhague</string>
					<key>teamWS</key>
					<string>/fichas/equipo/294/294/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/294.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_copenhaguen_size02.png</string>
						<key>calendar</key>
						<string>escudo_copenhaguen_size03.png</string>
						<key>detail</key>
						<string>escudo_copenhaguen_size01.png</string>
					</dict>
				</dict>

				<key>335</key>
		  		<dict>
					<key>name</key>
					<string>Panathinaikos</string>
					<key>teamWS</key>
					<string>/fichas/equipo/335/335/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_panathinaikos_size02.png</string>
						<key>calendar</key>
						<string>escudo_panathinaikos_size03.png</string>
						<key>detail</key>
						<string>escudo_panathinaikos_size01.png</string>
					</dict>
				</dict>

				<key>324</key>
		  		<dict>
					<key>name</key>
					<string>D. Zagreb</string>
					<key>teamWS</key>
					<string>/fichas/equipo/324/324/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_dinamozagreb_size02.png</string>
						<key>calendar</key>
						<string>escudo_dinamozagreb_size03.png</string>
						<key>detail</key>
						<string>escudo_dinamozagreb_size01.png</string>
					</dict>
				</dict>

				<key>215</key>
		  		<dict>
					<key>name</key>
					<string>S. Praga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/215/215/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sparta_size02.png</string>
						<key>calendar</key>
						<string>escudo_sparta_size03.png</string>
						<key>detail</key>
						<string>escudo_sparta_size01.png</string>
					</dict>
				</dict>

				<key>114</key>
		  		<dict>
					<key>name</key>
					<string>PSV</string>
					<key>teamWS</key>
					<string>/fichas/equipo/114/114/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_psv_size02.png</string>
						<key>calendar</key>
						<string>escudo_psv_size03.png</string>
						<key>detail</key>
						<string>escudo_psv_size01.png</string>
					</dict>
				</dict>

				<key>1192</key>
		  		<dict>
					<key>name</key>
					<string>Rio Ave</string>
					<key>teamWS</key>
					<string>/fichas/equipo/194/1192/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rioave_size02.png</string>
						<key>calendar</key>
						<string>escudo_rioave_size03.png</string>
						<key>detail</key>
						<string>escudo_rioave_size01.png</string>
					</dict>
				</dict>

				<key>3607</key>
		  		<dict>
					<key>name</key>
					<string>Asteras Tripolis</string>
					<key>teamWS</key>
					<string>/fichas/equipo/114/3607/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_asteras_size02.png</string>
						<key>calendar</key>
						<string>escudo_asteras_size03.png</string>
						<key>detail</key>
						<string>escudo_asteras_size01.png</string>
					</dict>
				</dict>

				<key>3263</key>
		  		<dict>
					<key>name</key>
					<string>FK Qarabag</string>
					<key>teamWS</key>
					<string>/fichas/equipo/269/3263/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_qarabagh_size02.png</string>
						<key>calendar</key>
						<string>escudo_qarabagh_size03.png</string>
						<key>detail</key>
						<string>escudo_qarabagh_size01.png</string>
					</dict>
				</dict>

				<key>1266</key>
		  		<dict>
					<key>name</key>
					<string>HJK</string>
					<key>teamWS</key>
					<string>/fichas/equipo/268/1266/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_helsinki_size02.png</string>
						<key>calendar</key>
						<string>escudo_helsinki_size03.png</string>
						<key>detail</key>
						<string>escudo_helsinki_size01.png</string>
					</dict>
				</dict>

				<key>166</key>
		  		<dict>
					<key>name</key>
					<string>D. Moscú</string>
					<key>teamWS</key>
					<string>/fichas/equipo/166/166/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_dinamomoscu_size02.png</string>
						<key>calendar</key>
						<string>escudo_dinamomoscu_size03.png</string>
						<key>detail</key>
						<string>escudo_dinamomoscu_size01.png</string>
					</dict>
				</dict>

				<key>4169</key>
		  		<dict>
					<key>name</key>
					<string>Astra Giurgiu</string>
					<key>teamWS</key>
					<string>/fichas/equipo/177/4169/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_astra_size02.png</string>
						<key>calendar</key>
						<string>escudo_astra_size03.png</string>
						<key>detail</key>
						<string>escudo_astra_size01.png</string>
					</dict>
				</dict>

				<key>153</key>
		  		<dict>
					<key>name</key>
					<string>Partizán</string>
					<key>teamWS</key>
					<string>/fichas/equipo/153/153/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_partizan_size02.png</string>
						<key>calendar</key>
						<string>escudo_partizan_size03.png</string>
						<key>detail</key>
						<string>escudo_partizan_size01.png</string>
					</dict>
				</dict>

				<key>473</key>
		  		<dict>
					<key>name</key>
					<string>Saint-Etienne</string>
					<key>teamWS</key>
					<string>/fichas/equipo/473/473/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_saintetienne_size02.png</string>
						<key>calendar</key>
						<string>escudo_saintetienne_size03.png</string>
						<key>detail</key>
						<string>escudo_saintetienne_size01.png</string>
					</dict>
				</dict>

				<key>1659</key>
		  		<dict>
					<key>name</key>
					<string>Dnipro</string>
					<key>teamWS</key>
					<string>/fichas/equipo/162/1659/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_dnipro_size02.png</string>
						<key>calendar</key>
						<string>escudo_dnipro_size03.png</string>
						<key>detail</key>
						<string>escudo_dnipro_size01.png</string>
					</dict>
				</dict>

				<key>112</key>
		  		<dict>
					<key>name</key>
					<string>Brujas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/112/112/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_brujas_size02.png</string>
						<key>calendar</key>
						<string>escudo_brujas_size03.png</string>
						<key>detail</key>
						<string>escudo_brujas_size01.png</string>
					</dict>
				</dict>

				<key>1251</key>
		  		<dict>
					<key>name</key>
					<string>Young Boys</string>
					<key>teamWS</key>
					<string>/fichas/equipo/253/1251/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_yongboys_size02.png</string>
						<key>calendar</key>
						<string>escudo_youngboys_size03.png</string>
						<key>detail</key>
						<string>escudo_youngboys_size01.png</string>
					</dict>
				</dict>

				<key>531</key>
		  		<dict>
					<key>name</key>
					<string>D. Minsk</string>
					<key>teamWS</key>
					<string>/fichas/equipo/032/531/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_dinamominsk_size02.png</string>
						<key>calendar</key>
						<string>escudo_dinamominsk_size03.png</string>
						<key>detail</key>
						<string>escudo_dinamominsk_size01.png</string>
					</dict>
				</dict>

				<key>125</key>
		  		<dict>
					<key>name</key>
					<string>Torino</string>
					<key>teamWS</key>
					<string>/fichas/equipo/125/125/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_torino_size02.png</string>
						<key>calendar</key>
						<string>escudo_torino_size03.png</string>
						<key>detail</key>
						<string>escudo_torino_size01.png</string>
					</dict>
				</dict>

				<key>1244</key>
		  		<dict>
					<key>name</key>
					<string>Lokeren</string>
					<key>teamWS</key>
					<string>/fichas/equipo/246/1244/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lokeren_size02.png</string>
						<key>calendar</key>
						<string>escudo_lokeren_size03.png</string>
						<key>detail</key>
						<string>escudo_lokeren_size01.png</string>
					</dict>
				</dict>

				<key>1661</key>
		  		<dict>
					<key>name</key>
					<string>Metalist</string>
					<key>teamWS</key>
					<string>/fichas/equipo/164/1661/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_metalist_size02.png</string>
						<key>calendar</key>
						<string>escudo_metalist_size03.png</string>
						<key>detail</key>
						<string>escudo_metalist_size01.png</string>
					</dict>
				</dict>

				<key>35</key>
		  		<dict>
					<key>name</key>
					<string>Inter</string>
					<key>teamWS</key>
					<string>/fichas/equipo/035/35/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_inter_size02.png</string>
						<key>calendar</key>
						<string>escudo_inter_size03.png</string>
						<key>detail</key>
						<string>escudo_inter_size01.png</string>
					</dict>
				</dict>

				<key>484</key>
		  		<dict>
					<key>name</key>
					<string>Guingamp</string>
					<key>teamWS</key>
					<string>/fichas/equipo/484/484/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_guingamp_size02.png</string>
						<key>calendar</key>
						<string>escudo_guingamp_size03.png</string>
						<key>detail</key>
						<string>escudo_guingamp_size01.png</string>
					</dict>
				</dict>

				<key>4171</key>
		  		<dict>
					<key>name</key>
					<string>FC Krasnodar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/179/4171/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_krasnodar_size02.png</string>
						<key>calendar</key>
						<string>escudo_krasnodar_size03.png</string>
						<key>detail</key>
						<string>escudo_krasnodar_size01.png</string>
					</dict>
				</dict>

				<key>249</key>
		  		<dict>
					<key>name</key>
					<string>Besiktas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/249/249/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_besiktas_size02.png</string>
						<key>calendar</key>
						<string>escudo_besiktas_size03.png</string>
						<key>detail</key>
						<string>escudo_besiktas_size01.png</string>
					</dict>
				</dict>

				<key>229</key>
		  		<dict>
					<key>name</key>
					<string>Celtic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/229/229/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_celtic_size02.png</string>
						<key>calendar</key>
						<string>escudo_celtic_size03.png</string>
						<key>detail</key>
						<string>escudo_celtic_size01.png</string>
					</dict>
				</dict>

				<key>235</key>
		  		<dict>
					<key>name</key>
					<string>Estoril</string>
					<key>teamWS</key>
					<string>/fichas/equipo/235/235/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_estorilpraia_size02.png</string>
						<key>calendar</key>
						<string>escudo_estorilpraia_size03.png</string>
						<key>detail</key>
						<string>escudo_estorilpraia_size01.png</string>
					</dict>
				</dict>

				<key>966</key>
		  		<dict>
					<key>name</key>
					<string>Salzburgo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/467/966/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_salzburgo_size02.png</string>
						<key>calendar</key>
						<string>escudo_salzburgo_size03.png</string>
						<key>detail</key>
						<string>escudo_salzburgo_size01.png</string>
					</dict>
				</dict>

				<key>53</key>
				<dict>
					<key>name</key>
					<string>Sevilla</string>
					<key>teamWS</key>
					<string>/fichas/equipo/053/53/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2014_2015/teams/53.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sevilla_size02.png</string>
						<key>calendar</key>
						<string>escudo_sevilla_size03.png</string>
						<key>detail</key>
						<string>escudo_sevilla_size01.png</string>
					</dict>
				</dict>

				<key>223</key>
		  		<dict>
					<key>name</key>
					<string>Feyenoord</string>
					<key>teamWS</key>
					<string>/fichas/equipo/223/223/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_feneyoord_size02.png</string>
						<key>calendar</key>
						<string>escudo_feneyoord_size03.png</string>
						<key>detail</key>
						<string>escudo_feneyoord_size01.png</string>
					</dict>
				</dict>

				<key>1111</key>
				<dict>
					<key>name</key>
					<string>Standard</string>
					<key>teamWS</key>
					<string>/fichas/equipo/113/1111/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_standard_size02.png</string>
						<key>calendar</key>
						<string>escudo_standard_size03.png</string>
						<key>detail</key>
						<string>escudo_standard_size01.png</string>
					</dict>
				</dict>

				<key>61</key>
		  		<dict>
					<key>name</key>
					<string>Everton</string>
					<key>teamWS</key>
					<string>/fichas/equipo/061/61/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_everton_size02.png</string>
						<key>calendar</key>
						<string>escudo_everton_size03.png</string>
						<key>detail</key>
						<string>escudo_everton_size01.png</string>
					</dict>
				</dict>

				<key>921</key>
		  		<dict>
					<key>name</key>
					<string>Rijeka</string>
					<key>teamWS</key>
					<string>/fichas/equipo/422/921/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rijeka_size02.png</string>
						<key>calendar</key>
						<string>escudo_rijeka_size03.png</string>
						<key>detail</key>
						<string>escudo_rijeka_size01.png</string>
					</dict>
				</dict>

				<key>124</key>
		  		<dict>
					<key>name</key>
					<string>Lille</string>
					<key>teamWS</key>
					<string>/fichas/equipo/124/124/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lille_size02.png</string>
						<key>calendar</key>
						<string>escudo_lille_size03.png</string>
						<key>detail</key>
						<string>escudo_lille_size01.png</string>
					</dict>
				</dict>

				<key>1787</key>
		  		<dict>
					<key>name</key>
					<string>Apollon</string>
					<key>teamWS</key>
					<string>/fichas/equipo/290/1787/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_apollon_size02.png</string>
						<key>calendar</key>
						<string>escudo_apollon_size03.png</string>
						<key>detail</key>
						<string>escudo_apollon_size01.png</string>
					</dict>
				</dict>

				<key>465</key>
		  		<dict>
					<key>name</key>
					<string>Wolfsburgo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/465/465/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_wolfsburgo_size02.png</string>
						<key>calendar</key>
						<string>escudo_wolfsburgo_size03.png</string>
						<key>detail</key>
						<string>escudo_wolfsburgo_size01.png</string>
					</dict>
				</dict>

				<key>1778</key>
		  		<dict>
					<key>name</key>
					<string>Legia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/281/1778/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_varsovia_size02.png</string>
						<key>calendar</key>
						<string>escudo_varsovia_size03.png</string>
						<key>detail</key>
						<string>escudo_varsovia_size01.png</string>
					</dict>
				</dict>

				<key>1359</key>
		  		<dict>
					<key>name</key>
					<string>Trabzonspor</string>
					<key>teamWS</key>
					<string>/fichas/equipo/361/1359/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_trabzonspor_size02.png</string>
						<key>calendar</key>
						<string>escudo_trabzonspor_size03.png</string>
						<key>detail</key>
						<string>escudo_trabzonspor_size01.png</string>
					</dict>
				</dict>		

				<key>72</key>
		  		<dict>
					<key>name</key>
					<string>Tottenham</string>
					<key>teamWS</key>
					<string>/fichas/equipo/072/72/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_tottenham_size02.png</string>
						<key>calendar</key>
						<string>escudo_tottenham_size03.png</string>
						<key>detail</key>
						<string>escudo_tottenham_size01.png</string>
					</dict>
				</dict>


				<key>953</key>
		  		<dict>
					<key>name</key>
					<string>PAOK</string>
					<key>teamWS</key>
					<string>/fichas/equipo/454/953/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_paok_size02.png</string>
						<key>calendar</key>
						<string>escudo_paok_size03.png</string>
						<key>detail</key>
						<string>escudo_paok_size01.png</string>
					</dict>
				</dict>


				<key>28</key>
		  		<dict>
					<key>name</key>
					<string>Nápoles</string>
					<key>teamWS</key>
					<string>/fichas/equipo/028/28/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_napoles_size02.png</string>
						<key>calendar</key>
						<string>escudo_napoles_size03.png</string>
						<key>detail</key>
						<string>escudo_napoles_size01.png</string>
					</dict>
				</dict>

				<key>461</key>
		  		<dict>
					<key>name</key>
					<string>Sl. Bratislava</string>
					<key>teamWS</key>
					<string>/fichas/equipo/461/461/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bratislava_size02.png</string>
						<key>calendar</key>
						<string>escudo_bratislava_size03.png</string>
						<key>detail</key>
						<string>escudo_bratislava_size01.png</string>
					</dict>
				</dict>

				<key>293</key>
		  		<dict>
					<key>name</key>
					<string>Aalborg BK</string>
					<key>teamWS</key>
					<string>/fichas/equipo/293/293/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_aalborg_size02.png</string>
						<key>calendar</key>
						<string>escudo_aalborg_size03.png</string>
						<key>detail</key>
						<string>escudo_aalborg_size01.png</string>
					</dict>
				</dict> 

				<key>331</key>
		  		<dict>
					<key>name</key>
					<string>Dinamo Kiev</string>
					<key>teamWS</key>
					<string>/fichas/equipo/331/331/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_dinamokiev_size02.png</string>
						<key>calendar</key>
						<string>escudo_dinamokiev_size03.png</string>
						<key>detail</key>
						<string>escudo_dinamokiev_size01.png</string>
					</dict>
				</dict> 

				<key>144</key>
		  		<dict>
					<key>name</key>
					<string>Steaua</string>
					<key>teamWS</key>
					<string>/fichas/equipo/144/144/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_esteaua_size02.png</string>
						<key>calendar</key>
						<string>escudo_esteaua_size03.png</string>
						<key>detail</key>
						<string>escudo_esteaua_size01.png</string>
					</dict>
				</dict> 

				<key>31</key>
		  		<dict>
					<key>name</key>
					<string>Fiorentina</string>
					<key>teamWS</key>
					<string>/fichas/equipo/031/31/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_fiorentina_size02.png</string>
						<key>calendar</key>
						<string>escudo_fiorentina_size03.png</string>
						<key>detail</key>
						<string>escudo_fiorentina_size01.png</string>
					</dict>
				</dict> 

			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/7c43e5456e9bb87f71a690100636a0f2/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/europa_league/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/7c43e5456e9bb87f71a690100636a0f2/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/7c43e5456e9bb87f71a690100636a0f2/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>adidas</string>
			<key>urlWV</key>
			<string>http://www.adidas.es/futbol</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>