<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<key>3847</key>
		  		<dict>
					<key>name</key>
					<string>Huila</string>
					<key>teamWS</key>
					<string>/fichas/equipo/354/3847/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_huila_size02.png</string>
						<key>calendar</key>
						<string>escudo_huila_size03.png</string>
						<key>detail</key>
						<string>escudo_huila_size01.png</string>
					</dict>
				</dict>

				<key>3841</key>
		  		<dict>
					<key>name</key>
					<string>Envigado</string>
					<key>teamWS</key>
					<string>/fichas/equipo/348/3841/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_envigado_size02.png</string>
						<key>calendar</key>
						<string>escudo_envigado_size03.png</string>
						<key>detail</key>
						<string>escudo_envigado_size01.png</string>
					</dict>
				</dict>

				<key>4201</key>
		  		<dict>
					<key>name</key>
					<string>Deportivo Cali</string>
					<key>teamWS</key>
					<string>/fichas/equipo/209/4201/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cali_size02.png</string>
						<key>calendar</key>
						<string>escudo_cali_size03.png</string>
						<key>detail</key>
						<string>escudo_cali_size01.png</string>
					</dict>
				</dict>

				<key>4200</key>
		  		<dict>
					<key>name</key>
					<string>Medellín</string>
					<key>teamWS</key>
					<string>/fichas/equipo/208/4200/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_medellin_size02.png</string>
						<key>calendar</key>
						<string>escudo_medellin_size03.png</string>
						<key>detail</key>
						<string>escudo_medellin_size01.png</string>
					</dict>
				</dict>

				<key>4196</key>
		  		<dict>
					<key>name</key>
					<string>Millonarios</string>
					<key>teamWS</key>
					<string>/fichas/equipo/204/4196/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_millonarios_size02.png</string>
						<key>calendar</key>
						<string>escudo_millonarios_size03.png</string>
						<key>detail</key>
						<string>escudo_millonarios_size01.png</string>
					</dict>
				</dict>

				<key>3855</key>
		  		<dict>
					<key>name</key>
					<string>Nacional</string>
					<key>teamWS</key>
					<string>/fichas/equipo/362/3855/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_nacional_size02.png</string>
						<key>calendar</key>
						<string>escudo_nacional_size03.png</string>
						<key>detail</key>
						<string>escudo_nacional_size01.png</string>
					</dict>
				</dict>

				<key>3840</key>
		  		<dict>
					<key>name</key>
					<string>Tolima</string>
					<key>teamWS</key>
					<string>/fichas/equipo/347/3840/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_tolima_size02.png</string>
						<key>calendar</key>
						<string>escudo_tolima_size03.png</string>
						<key>detail</key>
						<string>escudo_tolima_size01.png</string>
					</dict>
				</dict>

				<key>3851</key>
		  		<dict>
					<key>name</key>
					<string>Junior</string>
					<key>teamWS</key>
					<string>/fichas/equipo/358/3851/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_junior_size02.png</string>
						<key>calendar</key>
						<string>escudo_junior_size03.png</string>
						<key>detail</key>
						<string>escudo_junior_size01.png</string>
					</dict>
				</dict>

				<key>4194</key>
		  		<dict>
					<key>name</key>
					<string>Santa Fe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/202/4194/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_santafe_size02.png</string>
						<key>calendar</key>
						<string>escudo_santafe_size03.png</string>
						<key>detail</key>
						<string>escudo_santafe_size01.png</string>
					</dict>
				</dict>

				<key>3850</key>
		  		<dict>
					<key>name</key>
					<string>Águilas Doradas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/357/3850/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_aguilasdoradas_size02.png</string>
						<key>calendar</key>
						<string>escudo_aguilasdoradas_size03.png</string>
						<key>detail</key>
						<string>escudo_aguilasdoradas_size01.png</string>
					</dict>
				</dict>

				<key>3839</key>
		  		<dict>
					<key>name</key>
					<string>Patriotas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/346/3839/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_patriotas_size02.png</string>
						<key>calendar</key>
						<string>escudo_patriotas_size03.png</string>
						<key>detail</key>
						<string>escudo_patriotas_size01.png</string>
					</dict>
				</dict>

				<key>3849</key>
		  		<dict>
					<key>name</key>
					<string>La Equidad</string>
					<key>teamWS</key>
					<string>/fichas/equipo/356/3849/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_equidad_size02.png</string>
						<key>calendar</key>
						<string>escudo_equidad_size03.png</string>
						<key>detail</key>
						<string>escudo_equidad_size01.png</string>
					</dict>
				</dict>

				<key>4202</key>
		  		<dict>
					<key>name</key>
					<string>Once Caldas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/210/4202/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_oncecaldas_size02.png</string>
						<key>calendar</key>
						<string>escudo_oncecaldas_size03.png</string>
						<key>detail</key>
						<string>escudo_oncecaldas_size01.png</string>
					</dict>
				</dict>

				<key>4208</key>
		  		<dict>
					<key>name</key>
					<string>Cortulúa</string>
					<key>teamWS</key>
					<string>/fichas/equipo/216/4208/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cortulua_size02.png</string>
						<key>calendar</key>
						<string>escudo_cortulua_size03.png</string>
						<key>detail</key>
						<string>escudo_cortulua_size01.png</string>
					</dict>
				</dict>

				<key>4206</key>
		  		<dict>
					<key>name</key>
					<string>Jaguares FC</string>
					<key>teamWS</key>
					<string>/fichas/equipo/214/4206/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_jaguares_size02.png</string>
						<key>calendar</key>
						<string>escudo_jaguares_size03.png</string>
						<key>detail</key>
						<string>escudo_jaguares_size01.png</string>
					</dict>
				</dict>

				<key>4199</key>
		  		<dict>
					<key>name</key>
					<string>Alianza</string>
					<key>teamWS</key>
					<string>/fichas/equipo/207/4199/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_alianza_size02.png</string>
						<key>calendar</key>
						<string>escudo_alianza_size03.png</string>
						<key>detail</key>
						<string>escudo_alianza_size01.png</string>
					</dict>
				</dict>

				<key>3848</key>
		  		<dict>
					<key>name</key>
					<string>Chicó</string>
					<key>teamWS</key>
					<string>/fichas/equipo/355/3848/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_chico_size02.png</string>
						<key>calendar</key>
						<string>escudo_chico_size03.png</string>
						<key>detail</key>
						<string>escudo_chico_size01.png</string>
					</dict>
				</dict>

				<key>4207</key>
		  		<dict>
					<key>name</key>
					<string>Cúcuta</string>
					<key>teamWS</key>
					<string>/fichas/equipo/215/4207/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cucuta_size02.png</string>
						<key>calendar</key>
						<string>escudo_cucuta_size03.png</string>
						<key>detail</key>
						<string>escudo_cucuta_size01.png</string>
					</dict>
				</dict>

				<key>4198</key>
		  		<dict>
					<key>name</key>
					<string>Uniautónoma</string>
					<key>teamWS</key>
					<string>/fichas/equipo/206/4198/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_uniautonoma_size02.png</string>
						<key>calendar</key>
						<string>escudo_uniautonoma_size03.png</string>
						<key>detail</key>
						<string>escudo_uniautonoma_size01.png</string>
					</dict>
				</dict>

				<key>4195</key>
		  		<dict>
					<key>name</key>
					<string>Pasto</string>
					<key>teamWS</key>
					<string>/fichas/equipo/203/4195/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_pasto_size02.png</string>
						<key>calendar</key>
						<string>escudo_pasto_size03.png</string>
						<key>detail</key>
						<string>escudo_pasto_size01.png</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias tag</string>
			<key>noticiasWS</key>
			<string>tag/j/liga_colombiana/a/</string>
			<key>viewType</key>
			<string>tag_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/94fe2f71b38cac1d4bc4f4f41f681824/calendario.js2</string>
			<key>resultsURL</key>
			<string>https://resultados.as.com/resultados/futbol/colombia_ii/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/94fe2f71b38cac1d4bc4f4f41f681824/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/94fe2f71b38cac1d4bc4f4f41f681824/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<!-- <dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>https://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict> -->
	</array>
</dict>
</plist>