<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.diarioas.guialigas"
    android:installLocation="auto">


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- This app has permission to register with GCM and receive message -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <!-- The two elements above ensure that only this application can receive the messages and registration result -->

    <permission
        android:name="${applicationId}.permission.UA_DATA"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.UA_DATA" />
    <!-- The two elements above ensure that only this application has access to the Urban Airship provider -->


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.MyAppCompat"
        tools:replace="icon, theme,label">
           <!--
		REQUIRED for Urban Airship Push. The priority is important to be set lower than the
		application's push intent receiver in order for the push intent receiver to handle push intents
		before the core receiver. This allows the application to launch any activities before Urban
		Airship performs any actions or falls back to launching the application launch intent.
        -->
        <receiver
            android:name="com.urbanairship.CoreReceiver"
            android:exported="false" >
            <intent-filter android:priority="-999" >
                <action android:name="com.urbanairship.push.OPENED" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!--
             REQUIRED for Landing Pages
    		- For more customization details, see com.urbanairship.actions.LandingPageActivity
        -->
        <activity
            android:name="com.urbanairship.actions.LandingPageActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- REQUIRED for Urban Airship -->
        <service
            android:name="com.urbanairship.push.PushService"
            android:label="Push Notification Service" />

        <!-- Required for analytics -->
        <service
            android:name="com.urbanairship.analytics.EventService"
            android:label="Event Service" />

        <!-- Required for Actions -->
        <service android:name="com.urbanairship.actions.ActionService" />

        <!-- Required for Rich Push -->
        <service android:name="com.urbanairship.richpush.RichPushUpdateService" />

        <!-- OPTIONAL for Urban Airship Location (for segments support) -->
        <service
            android:name="com.urbanairship.location.LocationService"
            android:label="Segments Service" />

        <!-- This is required for persisting preferences related to push and location -->
        <provider
            android:name="com.urbanairship.UrbanAirshipProvider"
            android:authorities="${applicationId}.urbanairship.provider"
            android:exported="true"
            android:multiprocess="true"
            android:permission="${applicationId}.permission.UA_DATA" />

        <!-- REQUIRED for Google Play Services (GCM) -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

           <!-- REQUIRED for PlayServiceUtils.handleAnyPlayServicesError to handle Google Play Services recoverable errors. -->
        <activity
            android:name="com.urbanairship.google.PlayServicesErrorActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- REQUIRED for GCM -->
        <receiver
            android:name="com.urbanairship.push.GCMPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        
        
        <activity
            android:name="com.diarioas.guialigas.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.diarioas.guialigas.activities.home.HomeActivity"
            android:screenOrientation="portrait" android:launchMode="singleTop" />
        <activity
            android:name="com.diarioas.guialigas.activities.carrusel.CarruselDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.diarioas.guialigas.activities.team.TeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.diarioas.guialigas.activities.team.TeamSingleCompetitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.diarioas.guialigas.activities.videos.VideoActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />        
        <activity
            android:name="com.diarioas.guialigas.activities.player.PlayerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        SortActivity
        <activity
            android:name="com.diarioas.guialigas.activities.player.comparator.PlayerComparatorStepFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.diarioas.guialigas.activities.player.comparator.PlayerComparatorStepSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.diarioas.guialigas.activities.player.comparator.PlayerComparatorStepThirdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.diarioas.guialigas.activities.palmares.PalmaresDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.diarioas.guialigas.activities.news.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.diarioas.guialigas.activities.news.NewsTagDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.diarioas.guialigas.activities.photo.PhotoGalleryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensor" />
		<activity
            android:name="com.diarioas.guialigas.activities.sort.SortActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service
            android:name=".utils.firebase.FirebaseInstanceIDServiceAs">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".utils.firebase.FirebaseController">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon" />


    </application>

</manifest>