<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<key>24</key>
		  		<dict>
					<key>name</key>
					<string>Roma</string>
					<key>teamWS</key>
					<string>/fichas/equipo/024/24/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_roma_size02.png</string>
						<key>calendar</key>
						<string>escudo_roma_size03.png</string>
						<key>detail</key>
						<string>escudo_roma_size01.png</string>
					</dict>
				</dict>

				<key>35</key>
		  		<dict>
					<key>name</key>
					<string>Inter</string>
					<key>teamWS</key>
					<string>/fichas/equipo/035/35/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_inter_size02.png</string>
						<key>calendar</key>
						<string>escudo_inter_size03.png</string>
						<key>detail</key>
						<string>escudo_inter_size01.png</string>
					</dict>
				</dict>

				<key>1351</key>
		  		<dict>
					<key>name</key>
					<string>Chievo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/353/1351/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_chievo_size02.png</string>
						<key>calendar</key>
						<string>escudo_chievo_size03.png</string>
						<key>detail</key>
						<string>escudo_chievo_size01.png</string>
					</dict>
				</dict>

				<key>1137</key>
		  		<dict>
					<key>name</key>
					<string>Genoa</string>
					<key>teamWS</key>
					<string>/fichas/equipo/139/1137/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_genoa_size02.png</string>
						<key>calendar</key>
						<string>escudo_genoa_size03.png</string>
						<key>detail</key>
						<string>escudo_genoa_size01.png</string>
					</dict>
				</dict>

				<key>21</key>
		  		<dict>
					<key>name</key>
					<string>Atalanta</string>
					<key>teamWS</key>
					<string>/fichas/equipo/021/21/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atalanta_size02.png</string>
						<key>calendar</key>
						<string>escudo_atalanta_size03.png</string>
						<key>detail</key>
						<string>escudo_atalanta_size01.png</string>
					</dict>
				</dict>

				<key>36</key>
		  		<dict>
					<key>name</key>
					<string>Bologna</string>
					<key>teamWS</key>
					<string>/fichas/equipo/036/36/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bologna_size02.png</string>
						<key>calendar</key>
						<string>escudo_bologna_size03.png</string>
						<key>detail</key>
						<string>escudo_bologna_size01.png</string>
					</dict>
				</dict>

				<key>37</key>
		  		<dict>
					<key>name</key>
					<string>Udinese</string>
					<key>teamWS</key>
					<string>/fichas/equipo/037/37/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_udinese_size02.png</string>
						<key>calendar</key>
						<string>escudo_udinese_size03.png</string>
						<key>detail</key>
						<string>escudo_udinese_size01.png</string>
					</dict>
				</dict>

				<key>48</key>
		  		<dict>
					<key>name</key>
					<string>Cagliari</string>
					<key>teamWS</key>
					<string>/fichas/equipo/048/48/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_cagliari_size02.png</string>
						<key>calendar</key>
						<string>escudo_cagliari_size03.png</string>
						<key>detail</key>
						<string>escudo_cagliari_size01.png</string>
					</dict>
				</dict>

				<key>125</key>
		  		<dict>
					<key>name</key>
					<string>Torino</string>
					<key>teamWS</key>
					<string>/fichas/equipo/125/125/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_torino_size02.png</string>
						<key>calendar</key>
						<string>escudo_torino_size03.png</string>
						<key>detail</key>
						<string>escudo_torino_size01.png</string>
					</dict>
				</dict>

				<key>1341</key>
		  		<dict>
					<key>name</key>
					<string>Crotone</string>
					<key>teamWS</key>
					<string>/fichas/equipo/343/1341/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_crotone_size02.png</string>
						<key>calendar</key>
						<string>escudo_crotone_size03.png</string>
						<key>detail</key>
						<string>escudo_crotone_size01.png</string>
					</dict>
				</dict>

				<key>980</key>
		  		<dict>
					<key>name</key>
					<string>Empoli</string>
					<key>teamWS</key>
					<string>/fichas/equipo/481/980/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_empoli_size02.png</string>
						<key>calendar</key>
						<string>escudo_empoli_size03.png</string>
						<key>detail</key>
						<string>escudo_empoli_size01.png</string>
					</dict>
				</dict>

				<key>2863</key>
		  		<dict>
					<key>name</key>
					<string>Sassuolo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/368/2863/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sassuolo_size02.png</string>
						<key>calendar</key>
						<string>escudo_sassuolo_size03.png</string>
						<key>detail</key>
						<string>escudo_sassuolo_size01.png</string>
					</dict>
				</dict>

				<key>130</key>
		  		<dict>
					<key>name</key>
					<string>Sampdoria</string>
					<key>teamWS</key>
					<string>/fichas/equipo/130/130/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sampdoria_size02.png</string>
						<key>calendar</key>
						<string>escudo_sampdoria_size03.png</string>
						<key>detail</key>
						<string>escudo_sampdoria_size01.png</string>
					</dict>
				</dict>

				<key>25</key>
		  		<dict>
					<key>name</key>
					<string>Verona</string>
					<key>teamWS</key>
					<string>/fichas/equipo/025/25/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_verona_size02.png</string>
						<key>calendar</key>
						<string>escudo_verona_size03.png</string>
						<key>detail</key>
						<string>escudo_verona_size01.png</string>
					</dict>
				</dict>

				<key>1346</key>
		  		<dict>
					<key>name</key>
					<string>Pescara</string>
					<key>teamWS</key>
					<string>/fichas/equipo/348/1346/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_pescara_size02.png</string>
						<key>calendar</key>
						<string>escudo_pescara_size02.png</string>
						<key>detail</key>
						<string>escudo_pescara_size01.png</string>
					</dict>
				</dict>

				<!-- uefa -->

				<key>31</key>
		  		<dict>
					<key>name</key>
					<string>Fiorentina</string>
					<key>teamWS</key>
					<string>/fichas/equipo/031/31/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_fiorentina_size02.png</string>
						<key>calendar</key>
						<string>escudo_fiorentina_size03.png</string>
						<key>detail</key>
						<string>escudo_fiorentina_size01.png</string>
					</dict>
				</dict>

				<key>23</key>
		  		<dict>
					<key>name</key>
					<string>Lazio</string>
					<key>teamWS</key>
					<string>/fichas/equipo/023/23/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lazio_size02.png</string>
						<key>calendar</key>
						<string>escudo_lazio_size03.png</string>
						<key>detail</key>
						<string>escudo_lazio_size01.png</string>
					</dict>
				</dict>

				<!-- champions -->

				<key>29</key>
		  		<dict>
					<key>name</key>
					<string>Juventus</string>
					<key>teamWS</key>
					<string>/fichas/equipo/029/29/equipo.js2</string>
					<key>teamInfo</key>
					<string>https://as.com/apps/guia_de_la_liga/data/2015_2016/teams/29.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_juventus_size02.png</string>
						<key>calendar</key>
						<string>escudo_juventus_size03.png</string>
						<key>detail</key>
						<string>escudo_juventus_size01.png</string>
					</dict>
				</dict>

				<key>28</key>
		  		<dict>
					<key>name</key>
					<string>Nápoles</string>
					<key>teamWS</key>
					<string>/fichas/equipo/028/28/equipo.js2</string>
					<key>teamInfo</key>
					<string>https://as.com/apps/guia_de_la_liga/data/2015_2016/teams/28.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_napoles_size02.png</string>
						<key>calendar</key>
						<string>escudo_napoles_size03.png</string>
						<key>detail</key>
						<string>escudo_napoles_size01.png</string>
					</dict>
				</dict>

				<key>22</key>
		  		<dict>
					<key>name</key>
					<string>Milan</string>
					<key>teamWS</key>
					<string>/fichas/equipo/022/22/equipo.js2</string>
					<key>teamInfo</key>
					<string>https://as.com/apps/guia_de_la_liga/data/2015_2016/teams/22.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_milan_size02.png</string>
						<key>calendar</key>
						<string>escudo_milan_size03.png</string>
						<key>detail</key>
						<string>escudo_milan_size01.png</string>
					</dict>
				</dict>

			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias tag</string>
			<key>noticiasWS</key>
			<string>tag/j/liga_italiana/a/</string>
			<key>viewType</key>
			<string>tag_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/b5f3fc58be2c5b0415ed443eb86dbda5/calendario.js2</string>
			<key>resultsURL</key>
			<string>https://resultados.as.com/resultados/futbol/italia/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/b5f3fc58be2c5b0415ed443eb86dbda5/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/b5f3fc58be2c5b0415ed443eb86dbda5/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<!-- <dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>https://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict> -->
	</array>
</dict>
</plist>