<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<key>40</key>
		  		<dict>
					<key>name</key>
					<string>Ajax</string>
					<key>teamWS</key>
					<string>/fichas/equipo/040/40/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/40.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_ajax_size02.png</string>
						<key>calendar</key>
						<string>escudo_ajax_size03.png</string>
						<key>detail</key>
						<string>escudo_ajax_size01.png</string>
					</dict>
				</dict>

				<key>229</key>
		  		<dict>
					<key>name</key>
					<string>Celtic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/229/229/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_celtic_size02.png</string>
						<key>calendar</key>
						<string>escudo_celtic_size03.png</string>
						<key>detail</key>
						<string>escudo_celtic_size01.png</string>
					</dict>
				</dict>

				<key>90</key>
		  		<dict>
					<key>name</key>
					<string>Fenerbahçe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/090/90/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_fenerbahce_size02.png</string>
						<key>calendar</key>
						<string>escudo_fenerbahce_size03.png</string>
						<key>detail</key>
						<string>escudo_fenerbahce_size01.png</string>
					</dict>
				</dict>

				<key>141</key>
		  		<dict>
					<key>name</key>
					<string>Molde</string>
					<key>teamWS</key>
					<string>/fichas/equipo/141/141/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_molde_size02.png</string>
						<key>calendar</key>
						<string>escudo_molde_size03.png</string>
						<key>detail</key>
						<string>escudo_molde_size01.png</string>
					</dict>
				</dict>

                <key>483</key>
                <dict>
                    <key>name</key>
                    <string>Girondins</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/483/483/equipo.js2</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_bordeaux_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_bordeaux_size03.png</string>
                        <key>detail</key>
                        <string>escudo_bordeaux_size01.png</string>
                    </dict>
                </dict>

				<key>65</key>
		  		<dict>
					<key>name</key>
					<string>Liverpool</string>
					<key>teamWS</key>
					<string>/fichas/equipo/065/65/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/65.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_liverpool_size02.png</string>
						<key>calendar</key>
						<string>escudo_liverpool_size03.png</string>
						<key>detail</key>
						<string>escudo_liverpool_size01.png</string>
					</dict>
				</dict>

                <key>3075</key>
                <dict>
                    <key>name</key>
                    <string>Rubin Kazan</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/081/3075/equipo.js2</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_rubinkazan_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_rubinkazan_size03.png</string>
                        <key>detail</key>
                        <string>escudo_rubinkazan_size01.png</string>
                    </dict>
                </dict>

				<key>546</key>
		  		<dict>
					<key>name</key>
					<string>Sion</string>
					<key>teamWS</key>
					<string>/fichas/equipo/047/546/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sion_size02.png</string>
						<key>calendar</key>
						<string>escudo_sion_size03.png</string>
						<key>detail</key>
						<string>escudo_sion_size01.png</string>
					</dict>
				</dict>

				<key>87</key>
		  		<dict>
					<key>name</key>
					<string>Borussia Dortmund</string>
					<key>teamWS</key>
					<string>/fichas/equipo/087/87/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/87.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bayerdortmund_size02.png</string>
						<key>calendar</key>
						<string>escudo_bayerdortmund_size03.png</string>
						<key>detail</key>
						<string>escudo_bayerdortmund_size01.png</string>
					</dict>
				</dict>

                <key>3183</key>
                <dict>
                    <key>name</key>
                    <string>Kuban</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/189/3183/equipo.js2</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_kuban_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_kuban_size03.png</string>
                        <key>detail</key>
                        <string>escudo_kuban_size01.png</string>
                    </dict>
                </dict>

				<key>953</key>
		  		<dict>
					<key>name</key>
					<string>PAOK</string>
					<key>teamWS</key>
					<string>/fichas/equipo/454/953/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_paok_size02.png</string>
						<key>calendar</key>
						<string>escudo_paok_size03.png</string>
						<key>detail</key>
						<string>escudo_paok_size01.png</string>
					</dict>
				</dict>

				<key>4255</key>
		  		<dict>
					<key>name</key>
					<string>Qabala FK</string>
					<key>teamWS</key>
					<string>/fichas/equipo/263/4255/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_qabala_size02.png</string>
						<key>calendar</key>
						<string>escudo_qabala_size03.png</string>
						<key>detail</key>
						<string>escudo_qabala_size01.png</string>
					</dict>
				</dict>

				<key>112</key>
		  		<dict>
					<key>name</key>
					<string>Brujas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/112/112/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_brujas_size02.png</string>
						<key>calendar</key>
						<string>escudo_brujas_size03.png</string>
						<key>detail</key>
						<string>escudo_brujas_size01.png</string>
					</dict>
				</dict>

				<key>1778</key>
		  		<dict>
					<key>name</key>
					<string>Legia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/281/1778/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_varsovia_size02.png</string>
						<key>calendar</key>
						<string>escudo_varsovia_size03.png</string>
						<key>detail</key>
						<string>escudo_varsovia_size01.png</string>
					</dict>
				</dict>

				<key>1781</key>
		  		<dict>
					<key>name</key>
					<string>Midtjylland</string>
					<key>teamWS</key>
					<string>/fichas/equipo/284/1781/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_midtjylland_size02.png</string>
						<key>calendar</key>
						<string>escudo_midtjylland_size03.png</string>
						<key>detail</key>
						<string>escudo_midtjylland_size01.png</string>
					</dict>
				</dict>

				<key>28</key>
		  		<dict>
					<key>name</key>
					<string>Nápoles</string>
					<key>teamWS</key>
					<string>/fichas/equipo/028/28/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_napoles_size02.png</string>
						<key>calendar</key>
						<string>escudo_napoles_size03.png</string>
						<key>detail</key>
						<string>escudo_napoles_size01.png</string>
					</dict>
				</dict>

				<key>531</key>
		  		<dict>
					<key>name</key>
					<string>D. Minsk</string>
					<key>teamWS</key>
					<string>/fichas/equipo/032/531/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_dinamominsk_size02.png</string>
						<key>calendar</key>
						<string>escudo_dinamominsk_size03.png</string>
						<key>detail</key>
						<string>escudo_dinamominsk_size01.png</string>
					</dict>
				</dict>

                <key>543</key>
                <dict>
                    <key>name</key>
                    <string>R. Viena</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/044/543/equipo.js2</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_rapidwien_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_rapidwien_size03.png</string>
                        <key>detail</key>
                        <string>escudo_rapidwien_size01.png</string>
                    </dict>
                </dict>

                <key>1871</key>
                <dict>
                    <key>name</key>
                    <string>Viktoria Plzen</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/374/1871/equipo.js2</string>
                    <key>teamInfo</key>
                    <string>http://as.com/apps/guia_de_la_liga/data/teams/1871.xml</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_viktoria_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_viktoria_size03.png</string>
                        <key>detail</key>
                        <string>escudo_viktoria_size01.png</string>
                    </dict>
                </dict>

				<key>19</key>
		  		<dict>
					<key>name</key>
					<string>Villarreal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/019/19/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/19.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_villarreal_size02.png</string>
						<key>calendar</key>
						<string>escudo_villarreal_size03.png</string>
						<key>detail</key>
						<string>escudo_villarreal_size01.png</string>
					</dict>
				</dict>

                <key>544</key>
                <dict>
                        <key>name</key>
                        <string>Sl Liberec</string>
                        <key>teamWS</key>
                        <string>/fichas/equipo/045/544/equipo.js2</string>
                        <key>shields</key>
                        <dict>
                                <key>grid</key>
                                <string>escudo_liberec_size02.png</string>
                                <key>calendar</key>
                                <string>escudo_liberec_size03.png</string>
                                <key>detail</key>
                                <string>escudo_liberec_size01.png</string>
                        </dict>
                </dict>

				<key>190</key>
		  		<dict>
					<key>name</key>
					<string>Groningen</string>
					<key>teamWS</key>
					<string>/fichas/equipo/190/190/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_groningen_size02.png</string>
						<key>calendar</key>
						<string>escudo_groningen_size03.png</string>
						<key>detail</key>
						<string>escudo_groningen_size01.png</string>
					</dict>
				</dict>

                <key>338</key>
                <dict>
                    <key>name</key>
                    <string>Marsella</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/338/338/equipo.js2</string>
                    <key>teamInfo</key>
                    <string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/338.xml</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_marsella_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_marsella_size03.png</string>
                        <key>detail</key>
                        <string>escudo_marsella_size01.png</string>
                    </dict>
                </dict>

				<key>83</key>
		  		<dict>
					<key>name</key>
					<string>Braga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/083/83/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_braga_size02.png</string>
						<key>calendar</key>
						<string>escudo_braga_size03.png</string>
						<key>detail</key>
						<string>escudo_braga_size01.png</string>
					</dict>
				</dict>

				<key>1659</key>
		  		<dict>
					<key>name</key>
					<string>Dnipro</string>
					<key>teamWS</key>
					<string>/fichas/equipo/162/1659/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_dnipro_size02.png</string>
						<key>calendar</key>
						<string>escudo_dnipro_size03.png</string>
						<key>detail</key>
						<string>escudo_dnipro_size01.png</string>
					</dict>
				</dict>

                <key>23</key>
                <dict>
                    <key>name</key>
                    <string>Lazio</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/023/23/equipo.js2</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_lazio_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_lazio_size03.png</string>
                        <key>detail</key>
                        <string>escudo_lazio_size01.png</string>
                    </dict>
                </dict>

				<key>140</key>
		  		<dict>
					<key>name</key>
					<string>Rosenborg</string>
					<key>teamWS</key>
					<string>/fichas/equipo/140/140/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rosenborg_size02.png</string>
						<key>calendar</key>
						<string>escudo_rosenborg_size03.png</string>
						<key>detail</key>
						<string>escudo_rosenborg_size01.png</string>
					</dict>
				</dict>

				<key>473</key>
		  		<dict>
					<key>name</key>
					<string>Saint-Etienne</string>
					<key>teamWS</key>
					<string>/fichas/equipo/473/473/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_saintetienne_size02.png</string>
						<key>calendar</key>
						<string>escudo_saintetienne_size03.png</string>
						<key>detail</key>
						<string>escudo_saintetienne_size01.png</string>
					</dict>
				</dict>

				<key>249</key>
		  		<dict>
					<key>name</key>
					<string>Besiktas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/249/249/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_besiktas_size02.png</string>
						<key>calendar</key>
						<string>escudo_besiktas_size03.png</string>
						<key>detail</key>
						<string>escudo_besiktas_size01.png</string>
					</dict>
				</dict>

				<key>561</key>
		  		<dict>
					<key>name</key>
					<string>Lokomotiv</string>
					<key>teamWS</key>
					<string>/fichas/equipo/062/561/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lokomotiv_size02.png</string>
						<key>calendar</key>
						<string>escudo_lokomotiv_size03.png</string>
						<key>detail</key>
						<string>escudo_lokomotiv_size01.png</string>
					</dict>
				</dict>

				<key>3640</key>
		  		<dict>
					<key>name</key>
					<string>Skënderbeu</string>
					<key>teamWS</key>
					<string>/fichas/equipo/147/3640/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_skenderbeu_size02.png</string>
						<key>calendar</key>
						<string>escudo_skenderbeu_size03.png</string>
						<key>detail</key>
						<string>escudo_skenderbeu_size01.png</string>
					</dict>
				</dict>

				<key>39</key>
		  		<dict>
					<key>name</key>
					<string>Sp. Portugal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/039/39/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/39.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lisboa_size02.png</string>
						<key>calendar</key>
						<string>escudo_lisboa_size03.png</string>
						<key>detail</key>
						<string>escudo_lisboa_size01.png</string>
					</dict>
				</dict>

				<key>1458</key>
		  		<dict>
					<key>name</key>
					<string>Basilea</string>
					<key>teamWS</key>
					<string>/fichas/equipo/460/1458/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/1458.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_basilea_size02.png</string>
						<key>calendar</key>
						<string>escudo_basilea_size03.png</string>
						<key>detail</key>
						<string>escudo_basilea_size01.png</string>
					</dict>
				</dict>

				<key>209</key>
		  		<dict>
					<key>name</key>
					<string>Os Belenenses</string>
					<key>teamWS</key>
					<string>/fichas/equipo/209/209/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_belenenses_size02.png</string>
						<key>calendar</key>
						<string>escudo_belenenses_size03.png</string>
						<key>detail</key>
						<string>escudo_belenenses_size01.png</string>
					</dict>
				</dict>

				<key>31</key>
		  		<dict>
					<key>name</key>
					<string>Fiorentina</string>
					<key>teamWS</key>
					<string>/fichas/equipo/031/31/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_fiorentina_size02.png</string>
						<key>calendar</key>
						<string>escudo_fiorentina_size03.png</string>
						<key>detail</key>
						<string>escudo_fiorentina_size01.png</string>
					</dict>
				</dict>

				<key>284</key>
		  		<dict>
					<key>name</key>
					<string>Lech Poznan</string>
					<key>teamWS</key>
					<string>/fichas/equipo/284/284/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_poznan_size02.png</string>
						<key>calendar</key>
						<string>escudo_poznan_size03.png</string>
						<key>detail</key>
						<string>escudo_poznan_size01.png</string>
					</dict>
				</dict>

				<key>115</key>
		  		<dict>
					<key>name</key>
					<string>Anderlecht</string>
					<key>teamWS</key>
					<string>/fichas/equipo/115/115/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/115.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_anderlecht_size02.png</string>
						<key>calendar</key>
						<string>escudo_anderlecht_size03.png</string>
						<key>detail</key>
						<string>escudo_anderlecht_size01.png</string>
					</dict>
				</dict>

				<key>197</key>
		  		<dict>
					<key>name</key>
					<string>Mónaco</string>
					<key>teamWS</key>
					<string>/fichas/equipo/197/197/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/197.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_monaco_size02.png</string>
						<key>calendar</key>
						<string>escudo_monaco_size03.png</string>
						<key>detail</key>
						<string>escudo_monaco_size01.png</string>
					</dict>
				</dict>

				<key>3263</key>
		  		<dict>
					<key>name</key>
					<string>FK Qarabag</string>
					<key>teamWS</key>
					<string>/fichas/equipo/269/3263/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_qarabagh_size02.png</string>
						<key>calendar</key>
						<string>escudo_qarabagh_size03.png</string>
						<key>detail</key>
						<string>escudo_qarabagh_size01.png</string>
					</dict>
				</dict>

                <key>72</key>
                <dict>
                    <key>name</key>
                    <string>Tottenham</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/072/72/equipo.js2</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_tottenham_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_tottenham_size03.png</string>
                        <key>detail</key>
                        <string>escudo_tottenham_size01.png</string>
                    </dict>
                </dict>

				<key>916</key>
		  		<dict>
					<key>name</key>
					<string>APOEL</string>
					<key>teamWS</key>
					<string>/fichas/equipo/417/916/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/916.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_apoel_size02.png</string>
						<key>calendar</key>
						<string>escudo_apoel_size03.png</string>
						<key>detail</key>
						<string>escudo_apoel_size01.png</string>
					</dict>
				</dict>

				<key>3607</key>
		  		<dict>
					<key>name</key>
					<string>Asteras Tripolis</string>
					<key>teamWS</key>
					<string>/fichas/equipo/114/3607/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_asteras_size02.png</string>
						<key>calendar</key>
						<string>escudo_asteras_size03.png</string>
						<key>detail</key>
						<string>escudo_asteras_size01.png</string>
					</dict>
				</dict>

				<key>468</key>
		  		<dict>
					<key>name</key>
					<string>Schalke 04</string>
					<key>teamWS</key>
					<string>/fichas/equipo/468/468/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/468.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_schalke04_size02.png</string>
						<key>calendar</key>
						<string>escudo_schalke04_size03.png</string>
						<key>detail</key>
						<string>escudo_schalke04_size01.png</string>
					</dict>
				</dict>

				<key>215</key>
		  		<dict>
					<key>name</key>
					<string>S. Praga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/215/215/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sparta_size02.png</string>
						<key>calendar</key>
						<string>escudo_sparta_size03.png</string>
						<key>detail</key>
						<string>escudo_sparta_size01.png</string>
					</dict>
				</dict>

				<key>5</key>
		  		<dict>
					<key>name</key>
					<string>Athletic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/5/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/5.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_athletic_size02.png</string>
						<key>calendar</key>
						<string>escudo_athletic_size03.png</string>
						<key>detail</key>
						<string>escudo_athletic_size01.png</string>
					</dict>
				</dict>

                <key>3679</key>
                <dict>
                    <key>name</key>
                    <string>Augsburgo</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/186/3679/equipo.js2</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_ausburgo_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_ausburgo_size03.png</string>
                        <key>detail</key>
                        <string>escudo_ausburgo_size01.png</string>
                    </dict>
                </dict>

                <key>1181</key>
                <dict>
                    <key>name</key>
                    <string>AZ Alkmaar</string>
                    <key>teamWS</key>
                    <string>/fichas/equipo/183/1181/equipo.js2</string>
                    <key>shields</key>
                    <dict>
                        <key>grid</key>
                        <string>escudo_az_size02.png</string>
                        <key>calendar</key>
                        <string>escudo_az_size03.png</string>
                        <key>detail</key>
                        <string>escudo_az_size01.png</string>
                    </dict>
                </dict>

				<key>153</key>
		  		<dict>
					<key>name</key>
					<string>Partizán</string>
					<key>teamWS</key>
					<string>/fichas/equipo/153/153/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_partizan_size02.png</string>
						<key>calendar</key>
						<string>escudo_partizan_size03.png</string>
						<key>detail</key>
						<string>escudo_partizan_size01.png</string>
					</dict>
				</dict>

			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias</string>
			<key>noticiasWS</key>
			<string>rss/futbol/uefa.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/5b22c8ccb4d9eb55c65cb4ba1ac74f14/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/europa_league/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/5b22c8ccb4d9eb55c65cb4ba1ac74f14/clasificacion_grupos.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/5b22c8ccb4d9eb55c65cb4ba1ac74f14/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<!-- <dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>http://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict> -->
	</array>
</dict>
</plist>
