
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>group</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>

			<!-- equipos -->
			<key>teamsByGroup</key>
			<dict>

				<!-- Grupo A -->
				<key>A</key>
				<array>

			  	<dict>
						<key>id</key>
						<string>961</string>
						<key>name</key>
						<string>Francia</string>
						<key>teamWS</key>
						<string>/fichas/equipo/462/961/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_francia_size02.png</string>
							<key>calendar</key>
							<string>escudo_francia_size03.png</string>
							<key>detail</key>
							<string>escudo_francia_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>2080</string>
						<key>name</key>
						<string>Rumanía</string>
						<key>teamWS</key>
						<string>/fichas/equipo/084/2080/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_rumania_size02.png</string>
							<key>calendar</key>
							<string>escudo_rumania_size03.png</string>
							<key>detail</key>
							<string>escudo_rumania_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>2729</string>
						<key>name</key>
						<string>Albania</string>
						<key>teamWS</key>
						<string>/fichas/equipo/234/2729/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_albania_size02.png</string>
							<key>calendar</key>
							<string>escudo_albania_size03.png</string>
							<key>detail</key>
							<string>escudo_albania_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1907</string>
						<key>name</key>
						<string>Suiza</string>
						<key>teamWS</key>
						<string>/fichas/equipo/410/1907/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_suiza_size02.png</string>
							<key>calendar</key>
							<string>escudo_suiza_size03.png</string>
							<key>detail</key>
							<string>escudo_suiza_size01.png</string>
						</dict>
					</dict>

				</array>

				<!-- Grupo B -->
				<key>B</key>
				<array>

					<dict>
						<key>id</key>
						<string>1889</string>
						<key>name</key>
						<string>Inglaterra</string>
						<key>teamWS</key>
						<string>/fichas/equipo/392/1889/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_inglaterra_size02.png</string>
							<key>calendar</key>
							<string>escudo_inglaterra_size03.png</string>
							<key>detail</key>
							<string>escudo_inglaterra_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1892</string>
						<key>name</key>
						<string>Rusia</string>
						<key>teamWS</key>
						<string>/fichas/equipo/395/1892/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_rusia_size02.png</string>
							<key>calendar</key>
							<string>escudo_rusia_size03.png</string>
							<key>detail</key>
							<string>escudo_rusia_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1910</string>
						<key>name</key>
						<string>Gales</string>
						<key>teamWS</key>
						<string>/fichas/equipo/413/1910/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_gales_size02.png</string>
							<key>calendar</key>
							<string>escudo_gales_size03.png</string>
							<key>detail</key>
							<string>escudo_gales_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>2726</string>
						<key>name</key>
						<string>Eslovaquia</string>
						<key>teamWS</key>
						<string>/fichas/equipo/231/2726/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_eslovaquia_size02.png</string>
							<key>calendar</key>
							<string>escudo_eslovaquia_size03.png</string>
							<key>detail</key>
							<string>escudo_eslovaquia_size01.png</string>
						</dict>
					</dict>

				</array>

				<!-- Grupo C -->
				<key>C</key>
				<array>

					<dict>
						<key>id</key>
						<string>1894</string>
						<key>name</key>
						<string>Alemania</string>
						<key>teamWS</key>
						<string>/fichas/equipo/397/1894/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_alemania_size02.png</string>
							<key>calendar</key>
							<string>escudo_alemania_size03.png</string>
							<key>detail</key>
							<string>escudo_alemania_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>2725</string>
						<key>name</key>
						<string>Ucrania</string>
						<key>teamWS</key>
						<string>/fichas/equipo/230/2725/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_ucrania_size02.png</string>
							<key>calendar</key>
							<string>escudo_ucrania_size03.png</string>
							<key>detail</key>
							<string>escudo_ucrania_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1902</string>
						<key>name</key>
						<string>Polonia</string>
						<key>teamWS</key>
						<string>/fichas/equipo/405/1902/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_polonia_size02.png</string>
							<key>calendar</key>
							<string>escudo_polonia_size03.png</string>
							<key>detail</key>
							<string>escudo_polonia_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1940</string>
						<key>name</key>
						<string>Irlanda del N.</string>
						<key>teamWS</key>
						<string>/fichas/equipo/443/1940/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_irlandanorte_size02.png</string>
							<key>calendar</key>
							<string>escudo_irlandanorte_size03.png</string>
							<key>detail</key>
							<string>escudo_irlandanorte_size01.png</string>
						</dict>
					</dict>

				</array>

				<!-- Grupo D -->
				<key>D</key>
				<array>

					<dict>
						<key>id</key>
						<string>956</string>
						<key>name</key>
						<string>España</string>
						<key>teamWS</key>
						<string>/fichas/equipo/457/956/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_espana_size02.png</string>
							<key>calendar</key>
							<string>escudo_espana_size03.png</string>
							<key>detail</key>
							<string>escudo_espana_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1911</string>
						<key>name</key>
						<string>República Checa</string>
						<key>teamWS</key>
						<string>/fichas/equipo/414/1911/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_rcheca_size02.png</string>
							<key>calendar</key>
							<string>escudo_rcheca_size03.png</string>
							<key>detail</key>
							<string>escudo_rcheca_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1915</string>
						<key>name</key>
						<string>Turquía</string>
						<key>teamWS</key>
						<string>/fichas/equipo/418/1915/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_turquia_size02.png</string>
							<key>calendar</key>
							<string>escudo_turquia_size03.png</string>
							<key>detail</key>
							<string>escudo_turquia_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1885</string>
						<key>name</key>
						<string>Croacia</string>
						<key>teamWS</key>
						<string>/fichas/equipo/388/1885/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_croacia_size02.png</string>
							<key>calendar</key>
							<string>escudo_croacia_size03.png</string>
							<key>detail</key>
							<string>escudo_croacia_size01.png</string>
						</dict>
					</dict>

				</array>

				<!-- Grupo E -->
				<key>E</key>
				<array>

					<dict>
						<key>id</key>
						<string>1897</string>
						<key>name</key>
						<string>Bélgica</string>
						<key>teamWS</key>
						<string>/fichas/equipo/400/1897/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_belgica_size02.png</string>
							<key>calendar</key>
							<string>escudo_belgica_size03.png</string>
							<key>detail</key>
							<string>escudo_belgica_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1890</string>
						<key>name</key>
						<string>Italia</string>
						<key>teamWS</key>
						<string>/fichas/equipo/393/1890/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_italia_size02.png</string>
							<key>calendar</key>
							<string>escudo_italia_size03.png</string>
							<key>detail</key>
							<string>escudo_italia_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1898</string>
						<key>name</key>
						<string>Irlanda</string>
						<key>teamWS</key>
						<string>/fichas/equipo/401/1898/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_irlanda_size02.png</string>
							<key>calendar</key>
							<string>escudo_irlanda_size03.png</string>
							<key>detail</key>
							<string>escudo_irlanda_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>1906</string>
						<key>name</key>
						<string>Suecia</string>
						<key>teamWS</key>
						<string>/fichas/equipo/409/1906/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_suecia_size02.png</string>
							<key>calendar</key>
							<string>escudo_suecia_size03.png</string>
							<key>detail</key>
							<string>escudo_suecia_size01.png</string>
						</dict>
					</dict>

				</array>

				<!-- Grupo F -->
				<key>F</key>
				<array>

					<dict>
						<key>id</key>
						<string>1844</string>
						<key>name</key>
						<string>Portugal</string>
						<key>teamWS</key>
						<string>/fichas/equipo/347/1844/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_portugal_size02.png</string>
							<key>calendar</key>
							<string>escudo_portugal_size03.png</string>
							<key>detail</key>
							<string>escudo_portugal_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>2730</string>
						<key>name</key>
						<string>Islandia</string>
						<key>teamWS</key>
						<string>/fichas/equipo/235/2730/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_islandia_size02.png</string>
							<key>calendar</key>
							<string>escudo_islandia_size03.png</string>
							<key>detail</key>
							<string>escudo_islandia_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>958</string>
						<key>name</key>
						<string>Austria</string>
						<key>teamWS</key>
						<string>/fichas/equipo/459/958/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_austria_size02.png</string>
							<key>calendar</key>
							<string>escudo_austria_size03.png</string>
							<key>detail</key>
							<string>escudo_austria_size01.png</string>
						</dict>
					</dict>

					<dict>
						<key>id</key>
						<string>2076</string>
						<key>name</key>
						<string>Hungría</string>
						<key>teamWS</key>
						<string>/fichas/equipo/080/2076/equipo.js2</string>
						<key>shields</key>
						<dict>
							<key>grid</key>
							<string>escudo_hungria_size02.png</string>
							<key>calendar</key>
							<string>escudo_hungria_size03.png</string>
							<key>detail</key>
							<string>escudo_hungria_size01.png</string>
						</dict>
					</dict>

				</array>

			</dict>
		</dict>

		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias</string>
			<key>noticiasWS</key>
			<string>rss/futbol/eurocopa.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/b5259a96bd3fcf53c9d33e58dc9314a0/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/eurocopa/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/b5259a96bd3fcf53c9d33e58dc9314a0/clasificacion_grupos.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/b5259a96bd3fcf53c9d33e58dc9314a0/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>http://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>