<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>

			<key>teams</key>
			<dict>
				<key>19</key>
				<dict>
					<key>name</key>
					<string>Villarreal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/019/19/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/19.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_villarreal_size02.png</string>
						<key>calendar</key>
						<string>escudo_villarreal_size03.png</string>
						<key>detail</key>
						<string>escudo_villarreal_size01.png</string>
					</dict>
				</dict>

				<key>108</key>
					<dict>
					<key>name</key>
					<string>Eibar</string>
					<key>teamWS</key>
					<string>/fichas/equipo/108/108/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/108.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_eibar_size02.png</string>
						<key>calendar</key>
						<string>escudo_eibar_size03.png</string>
						<key>detail</key>
						<string>escudo_eibar_size01.png</string>
					</dict>
				</dict>

				<key>17</key>
				<dict>
					<key>name</key>
					<string>Valencia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/017/17/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/17.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_valencia_size02.png</string>
						<key>calendar</key>
						<string>escudo_valencia_size03.png</string>
						<key>detail</key>
						<string>escudo_valencia_size01.png</string>
					</dict>
				</dict>

				<key>53</key>
				<dict>
					<key>name</key>
					<string>Sevilla</string>
					<key>teamWS</key>
					<string>/fichas/equipo/053/53/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/53.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sevilla_size02.png</string>
						<key>calendar</key>
						<string>escudo_sevilla_size03.png</string>
						<key>detail</key>
						<string>escudo_sevilla_size01.png</string>
					</dict>
				</dict>

				<key>16</key>
				<dict>
					<key>name</key>
					<string>Real Sociedad</string>
					<key>teamWS</key>
					<string>/fichas/equipo/016/16/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/16.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realsociedad_size02.png</string>
						<key>calendar</key>
						<string>escudo_realsociedad_size03.png</string>
						<key>detail</key>
						<string>escudo_realsociedad_size01.png</string>
					</dict>
				</dict>

				<key>1</key>
				<dict>
					<key>name</key>
					<string>Real Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/001/1/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/1.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_realmadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_realmadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_realmadrid_size01.png</string>
					</dict>
				</dict>

				<key>2</key>
				<dict>
					<key>name</key>
					<string>Rayo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/002/2/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/2.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rayo_size02.png</string>
						<key>calendar</key>
						<string>escudo_rayo_size03.png</string>
						<key>detail</key>
						<string>escudo_rayo_size01.png</string>
					</dict>
				</dict>

				<key>7</key>
					<dict>
					<key>name</key>
					<string>Deportivo</string>
					<key>teamWS</key>
					<string>/fichas/equipo/007/7/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/7.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_deportivo_size02.png</string>
						<key>calendar</key>
						<string>escudo_deportivo_size03.png</string>
						<key>detail</key>
						<string>escudo_deportivo_size01.png</string>
					</dict>
				</dict>

				<key>10</key>
				<dict>
					<key>name</key>
					<string>Málaga</string>
					<key>teamWS</key>
					<string>/fichas/equipo/010/10/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/10.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_malaga_size02.png</string>
						<key>calendar</key>
						<string>escudo_malaga_size03.png</string>
						<key>detail</key>
						<string>escudo_malaga_size01.png</string>
					</dict>
				</dict>

				<key>136</key>
				<dict>
					<key>name</key>
					<string>Levante</string>
					<key>teamWS</key>
					<string>/fichas/equipo/136/136/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/136.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_levante_size02.png</string>
						<key>calendar</key>
						<string>escudo_levante_size03.png</string>
						<key>detail</key>
						<string>escudo_levante_size01.png</string>
					</dict>
				</dict>

				<key>347</key>
				<dict>
					<key>name</key>
					<string>Granada</string>
					<key>teamWS</key>
					<string>/fichas/equipo/347/347/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/347.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_granada_size02.png</string>
						<key>calendar</key>
						<string>escudo_granada_size03.png</string>
						<key>detail</key>
						<string>escudo_granada_size01.png</string>
					</dict>
				</dict>

				<key>172</key>
				<dict>
					<key>name</key>
					<string>Getafe</string>
					<key>teamWS</key>
					<string>/fichas/equipo/172/172/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/172.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_getafe_size02.png</string>
						<key>calendar</key>
						<string>escudo_getafe_size03.png</string>
						<key>detail</key>
						<string>escudo_getafe_size01.png</string>
					</dict>
				</dict>

				<key>8</key>
				<dict>
					<key>name</key>
					<string>Espanyol</string>
					<key>teamWS</key>
					<string>/fichas/equipo/008/8/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/8.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_espanyol_size02.png</string>
						<key>calendar</key>
						<string>escudo_espanyol_size03.png</string>
						<key>detail</key>
						<string>escudo_espanyol_size01.png</string>
					</dict>
				</dict>

				<key>121</key>
				<dict>
					<key>name</key>
					<string>Las Palmas</string>
					<key>teamWS</key>
					<string>/fichas/equipo/009/9/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/9.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_palmas_size02.png</string>
						<key>calendar</key>
						<string>escudo_palmas_size03.png</string>
						<key>detail</key>
						<string>escudo_palmas_size01.png</string>
					</dict>
				</dict>

				<key>6</key>
				<dict>
					<key>name</key>
					<string>Celta</string>
					<key>teamWS</key>
					<string>/fichas/equipo/006/6/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/6.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_celta_size02.png</string>
						<key>calendar</key>
						<string>escudo_celta_size03.png</string>
						<key>detail</key>
						<string>escudo_celta_size01.png</string>
					</dict>
				</dict>

				<key>76</key>
					<dict>
					<key>name</key>
					<string>Sporting</string>
					<key>teamWS</key>
					<string>/fichas/equipo/076/76/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/76.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_sporting_size02.png</string>
						<key>calendar</key>
						<string>escudo_sporting_size03.png</string>
						<key>detail</key>
						<string>escudo_sporting_size01.png</string>
					</dict>
				</dict>

				<key>3</key>
				<dict>
					<key>name</key>
					<string>Barcelona</string>
					<key>teamWS</key>
					<string>/fichas/equipo/003/3/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/3.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_barcelona_size02.png</string>
						<key>calendar</key>
						<string>escudo_barcelona_size03.png</string>
						<key>detail</key>
						<string>escudo_barcelona_size01.png</string>
					</dict>
				</dict>

				<key>5</key>
				<dict>
					<key>name</key>
					<string>Athletic</string>
					<key>teamWS</key>
					<string>/fichas/equipo/005/5/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/5.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_athletic_size02.png</string>
						<key>calendar</key>
						<string>escudo_athletic_size03.png</string>
						<key>detail</key>
						<string>escudo_athletic_size01.png</string>
					</dict>
				</dict>

				<key>171</key>
				<dict>
					<key>name</key>
					<string>Betis</string>
					<key>teamWS</key>
					<string>/fichas/equipo/171/171/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/171.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_betis_size02.png</string>
						<key>calendar</key>
						<string>escudo_betis_size03.png</string>
						<key>detail</key>
						<string>escudo_betis_size01.png</string>
					</dict>
				</dict>

				<key>42</key>
				<dict>
					<key>name</key>
					<string>Atlético de Madrid</string>
					<key>teamWS</key>
					<string>/fichas/equipo/042/42/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/42.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_atleticomadrid_size02.png</string>
						<key>calendar</key>
						<string>escudo_atleticomadrid_size03.png</string>
						<key>detail</key>
						<string>escudo_atleticomadrid_size01.png</string>
					</dict>
				</dict>
			</dict>
		</dict>

		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias</string>
			<key>noticiasWS</key>
			<string>rss/futbol/primera.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/8baeb906e58f27a81029b40b7bd1516d/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/primera/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/d001cacdf99876154d247fe5aa920896/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/d001cacdf99876154d247fe5aa920896/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
