<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<key>55</key>
		  		<dict>
					<key>name</key>
					<string>Aston Villa</string>
					<key>teamWS</key>
					<string>/fichas/equipo/055/55/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_aston_villa_size02.png</string>
						<key>calendar</key>
						<string>escudo_aston_villa_size03.png</string>
						<key>detail</key>
						<string>escudo_aston_villa_size01.png</string>
					</dict>
				</dict>

				<key>64</key>
		  		<dict>
					<key>name</key>
					<string>Leicester</string>
					<key>teamWS</key>
					<string>/fichas/equipo/064/64/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_leicester_size02.png</string>
						<key>calendar</key>
						<string>escudo_leicester_size03.png</string>
						<key>detail</key>
						<string>escudo_leicester_size01.png</string>
					</dict>
				</dict>

				<key>1424</key>
		  		<dict>
					<key>name</key>
					<string>WBA</string>
					<key>teamWS</key>
					<string>/fichas/equipo/426/1424/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_wba_size02.png</string>
						<key>calendar</key>
						<string>escudo_wba_size03.png</string>
						<key>detail</key>
						<string>escudo_wba_size01.png</string>
					</dict>
				</dict>

				<key>65</key>
		  		<dict>
					<key>name</key>
					<string>Liverpool</string>
					<key>teamWS</key>
					<string>/fichas/equipo/065/65/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_liverpool_size02.png</string>
						<key>calendar</key>
						<string>escudo_liverpool_size03.png</string>
						<key>detail</key>
						<string>escudo_liverpool_size01.png</string>
					</dict>
				</dict>

				<key>4238</key>
		  		<dict>
					<key>name</key>
					<string>Bournemouth</string>
					<key>teamWS</key>
					<string>/fichas/equipo/246/4238/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bournemouth_size02.png</string>
						<key>calendar</key>
						<string>escudo_bournemouth_size03.png</string>
						<key>detail</key>
						<string>escudo_bournemouth_size01.png</string>
					</dict>
				</dict>

				<key>70</key>
		  		<dict>
					<key>name</key>
					<string>Southampton</string>
					<key>teamWS</key>
					<string>/fichas/equipo/070/70/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_southampton_size02.png</string>
						<key>calendar</key>
						<string>escudo_southampton_size03.png</string>
						<key>detail</key>
						<string>escudo_southampton_size01.png</string>
					</dict>
				</dict>

				<key>1044</key>
		  		<dict>
					<key>name</key>
					<string>Norwich City</string>
					<key>teamWS</key>
					<string>/fichas/equipo/046/1044/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_norwich_size02.png</string>
						<key>calendar</key>
						<string>escudo_norwich_size03.png</string>
						<key>detail</key>
						<string>escudo_norwich_size01.png</string>
					</dict>
				</dict>

				<key>1027</key>
		  		<dict>
					<key>name</key>
					<string>Crystal Palace</string>
					<key>teamWS</key>
					<string>/fichas/equipo/029/1027/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_crystal_size02.png</string>
						<key>calendar</key>
						<string>escudo_crystal_size03.png</string>
						<key>detail</key>
						<string>escudo_crystal_size01.png</string>
					</dict>
				</dict>

				<key>61</key>
		  		<dict>
					<key>name</key>
					<string>Everton</string>
					<key>teamWS</key>
					<string>/fichas/equipo/061/61/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_everton_size02.png</string>
						<key>calendar</key>
						<string>escudo_everton_size03.png</string>
						<key>detail</key>
						<string>escudo_everton_size01.png</string>
					</dict>
				</dict>

				<key>1140</key>
		  		<dict>
					<key>name</key>
					<string>Watford</string>
					<key>teamWS</key>
					<string>/fichas/equipo/142/1140/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_watford_size02.png</string>
						<key>calendar</key>
						<string>escudo_watford_size03.png</string>
						<key>detail</key>
						<string>escudo_watford_size01.png</string>
					</dict>
				</dict>

				<key>73</key>
		  		<dict>
					<key>name</key>
					<string>West Ham</string>
					<key>teamWS</key>
					<string>/fichas/equipo/073/73/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_westham_size02.png</string>
						<key>calendar</key>
						<string>escudo_westham_size03.png</string>
						<key>detail</key>
						<string>escudo_westham_size01.png</string>
					</dict>
				</dict>

				<key>69</key>
		  		<dict>
					<key>name</key>
					<string>Newcastle</string>
					<key>teamWS</key>
					<string>/fichas/equipo/069/69/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_newcastle_size02.png</string>
						<key>calendar</key>
						<string>escudo_newcastle_size03.png</string>
						<key>detail</key>
						<string>escudo_newcastle_size01.png</string>
					</dict>
				</dict>

				<key>71</key>
		  		<dict>
					<key>name</key>
					<string>Sunderland</string>
					<key>teamWS</key>
					<string>/fichas/equipo/071/71/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_suderland_size02.png</string>
						<key>calendar</key>
						<string>escudo_suderland_size03.png</string>
						<key>detail</key>
						<string>escudo_suderland_size01.png</string>
					</dict>
				</dict>

				<key>1032</key>
		  		<dict>
					<key>name</key>
					<string>Stoke City</string>
					<key>teamWS</key>
					<string>/fichas/equipo/034/1032/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_stoke_size02.png</string>
						<key>calendar</key>
						<string>escudo_stoke_size03.png</string>
						<key>detail</key>
						<string>escudo_stoke_size01.png</string>
					</dict>
				</dict>

				<!-- uefa -->

				<key>72</key>
		  		<dict>
					<key>name</key>
					<string>Tottenham</string>
					<key>teamWS</key>
					<string>/fichas/equipo/072/72/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_tottenham_size02.png</string>
						<key>calendar</key>
						<string>escudo_tottenham_size03.png</string>
						<key>detail</key>
						<string>escudo_tottenham_size01.png</string>
					</dict>
				</dict>

				<key>2203</key>
		  		<dict>
					<key>name</key>
					<string>Swansea City</string>
					<key>teamWS</key>
					<string>/fichas/equipo/207/2203/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_swansea_size02.png</string>
						<key>calendar</key>
						<string>escudo_swansea_size03.png</string>
						<key>detail</key>
						<string>escudo_swansea_size01.png</string>
					</dict>
				</dict>

				<!-- champions -->

				<key>67</key>
		  		<dict>
					<key>name</key>
					<string>Manchester</string>
					<key>teamWS</key>
					<string>/fichas/equipo/067/67/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/67.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_manchester_size02.png</string>
						<key>calendar</key>
						<string>escudo_manchester_size03.png</string>
						<key>detail</key>
						<string>escudo_manchester_size01.png</string>
					</dict>
				</dict>

				<key>66</key>
		  		<dict>
					<key>name</key>
					<string>Manchester City</string>
					<key>teamWS</key>
					<string>/fichas/equipo/066/66/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/66.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_manchester_city_size02.png</string>
						<key>calendar</key>
						<string>escudo_manchester_city_size03.png</string>
						<key>detail</key>
						<string>escudo_manchester_city_size01.png</string>
					</dict>
				</dict>

				<key>58</key>
		  		<dict>
					<key>name</key>
					<string>Chelsea</string>
					<key>teamWS</key>
					<string>/fichas/equipo/058/58/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/58.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_chelsea_size02.png</string>
						<key>calendar</key>
						<string>escudo_chelsea_size03.png</string>
						<key>detail</key>
						<string>escudo_chelsea_size01.png</string>
					</dict>
				</dict>

				<key>54</key>
		  		<dict>
					<key>name</key>
					<string>Arsenal</string>
					<key>teamWS</key>
					<string>/fichas/equipo/054/54/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/54.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_arsenal_size02.png</string>
						<key>calendar</key>
						<string>escudo_arsenal_size03.png</string>
						<key>detail</key>
						<string>escudo_arsenal_size01.png</string>
					</dict>
				</dict>

			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>noticias tag</string>
			<key>noticiasWS</key>
			<string>tag/j/liga_inglesa/a/</string>
			<key>viewType</key>
			<string>tag_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/0a989f5ad157ecb66308b35a2dc9d56c/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/inglaterra/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/0a989f5ad157ecb66308b35a2dc9d56c/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/0a989f5ad157ecb66308b35a2dc9d56c/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Apuesta en bet365</string>
			<key>urlWV</key>
			<string>http://www.bet365.es</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
