<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- menu -->
	<key>menu</key>
	<array>
		<dict>
			<key>name</key>
			<string>grid</string>
			<!-- alpha|group -->
			<key>order</key>
			<string>alpha</string>
			<key>default</key>
			<true/>
			<!-- tendriamos que definir los tipos de vista que tendriamos, en principio 4, principal_view, con subsection_view, external_view o web_view -->
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
			<key>teams</key>
			<dict>

				<key>197</key>
		  		<dict>
					<key>name</key>
					<string>Mónaco</string>
					<key>teamWS</key>
					<string>/fichas/equipo/197/197/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_monaco_size02.png</string>
						<key>calendar</key>
						<string>escudo_monaco_size03.png</string>
						<key>detail</key>
						<string>escudo_monaco_size01.png</string>
					</dict>
				</dict>

				<key>124</key>
		  		<dict>
					<key>name</key>
					<string>Lille</string>
					<key>teamWS</key>
					<string>/fichas/equipo/124/124/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lille_size02.png</string>
						<key>calendar</key>
						<string>escudo_lille_size03.png</string>
						<key>detail</key>
						<string>escudo_lille_size01.png</string>
					</dict>
				</dict>

				<key>134</key>
		  		<dict>
					<key>name</key>
					<string>Nantes</string>
					<key>teamWS</key>
					<string>/fichas/equipo/134/134/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_nantes_size02.png</string>
						<key>calendar</key>
						<string>escudo_nantes_size03.png</string>
						<key>detail</key>
						<string>escudo_nantes_size01.png</string>
					</dict>
				</dict>

				<key>1496</key>
		  		<dict>
					<key>name</key>
					<string>Stade de Reims</string>
					<key>teamWS</key>
					<string>/fichas/equipo/498/1496/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_stade_size02.png</string>
						<key>calendar</key>
						<string>escudo_stade_size03.png</string>
						<key>detail</key>
						<string>escudo_stade_size01.png</string>
					</dict>
				</dict>

				<key>484</key>
		  		<dict>
					<key>name</key>
					<string>Guingamp</string>
					<key>teamWS</key>
					<string>/fichas/equipo/484/484/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_guingamp_size02.png</string>
						<key>calendar</key>
						<string>escudo_guingamp_size03.png</string>
						<key>detail</key>
						<string>escudo_guingamp_size01.png</string>
					</dict>
				</dict>

				<key>473</key>
		  		<dict>
					<key>name</key>
					<string>Saint-Etienne</string>
					<key>teamWS</key>
					<string>/fichas/equipo/473/473/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_etienne_size02.png</string>
						<key>calendar</key>
						<string>escudo_etienne_size03.png</string>
						<key>detail</key>
						<string>escudo_etienne_size01.png</string>
					</dict>
				</dict>

				<key>476</key>
		  		<dict>
					<key>name</key>
					<string>Bastia</string>
					<key>teamWS</key>
					<string>/fichas/equipo/476/476/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bastia_size02.png</string>
						<key>calendar</key>
						<string>escudo_bastia_size03.png</string>
						<key>detail</key>
						<string>escudo_bastia_size01.png</string>
					</dict>
				</dict>

				<key>123</key>
		  		<dict>
					<key>name</key>
					<string>Rennes</string>
					<key>teamWS</key>
					<string>/fichas/equipo/123/123/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_rennes_size02.png</string>
						<key>calendar</key>
						<string>escudo_rennes_size03.png</string>
						<key>detail</key>
						<string>escudo_rennes_size01.png</string>
					</dict>
				</dict>

				<key>118</key>
		  		<dict>
					<key>name</key>
					<string>Niza</string>
					<key>teamWS</key>
					<string>/fichas/equipo/118/118/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_niza_size02.png</string>
						<key>calendar</key>
						<string>escudo_niza_size03.png</string>
						<key>detail</key>
						<string>escudo_niza_size01.png</string>
					</dict>
				</dict>

				<key>3680</key>
		  		<dict>
					<key>name</key>
					<string>Evian</string>
					<key>teamWS</key>
					<string>/fichas/equipo/187/3680/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_evian_size02.png</string>
						<key>calendar</key>
						<string>escudo_evian_size03.png</string>
						<key>detail</key>
						<string>escudo_evian_size01.png</string>
					</dict>
				</dict>

				<key>350</key>
		  		<dict>
					<key>name</key>
					<string>Toulouse</string>
					<key>teamWS</key>
					<string>/fichas/equipo/350/350/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_toulouse_size02.png</string>
						<key>calendar</key>
						<string>escudo_toulouse_size03.png</string>
						<key>detail</key>
						<string>escudo_toulouse_size01.png</string>
					</dict>
				</dict>

				<key>480</key>
		  		<dict>
					<key>name</key>
					<string>Montpellier</string>
					<key>teamWS</key>
					<string>/fichas/equipo/480/480/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_montpellier_size02.png</string>
						<key>calendar</key>
						<string>escudo_montpellier_size03.png</string>
						<key>detail</key>
						<string>escudo_montpellier_size01.png</string>
					</dict>
				</dict>

				<key>1114</key>
		  		<dict>
					<key>name</key>
					<string>Lorient</string>
					<key>teamWS</key>
					<string>/fichas/equipo/116/1114/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lorient_size02.png</string>
						<key>calendar</key>
						<string>escudo_lorient_size03.png</string>
						<key>detail</key>
						<string>escudo_lorient_size01.png</string>
					</dict>
				</dict>

				<key>193</key>
		  		<dict>
					<key>name</key>
					<string>Caen</string>
					<key>teamWS</key>
					<string>/fichas/equipo/193/193/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_caen_size02.png</string>
						<key>calendar</key>
						<string>escudo_caen_size03.png</string>
						<key>detail</key>
						<string>escudo_caen_size01.png</string>
					</dict>
				</dict>

				<key>120</key>
		  		<dict>
					<key>name</key>
					<string>Lens</string>
					<key>teamWS</key>
					<string>/fichas/equipo/120/120/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_lens_size02.png</string>
						<key>calendar</key>
						<string>escudo_lens_size03.png</string>
						<key>detail</key>
						<string>escudo_lens_size01.png</string>
					</dict>
				</dict>

				<key>220</key>
		  		<dict>
					<key>name</key>
					<string>Metz</string>
					<key>teamWS</key>
					<string>/fichas/equipo/220/220/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_metz_size02.png</string>
						<key>calendar</key>
						<string>escudo_metz_size03.png</string>
						<key>detail</key>
						<string>escudo_metz_size01.png</string>
					</dict>
				</dict>

				<!-- uefa -->

				<key>106</key>
		  		<dict>
					<key>name</key>
					<string>Lyon</string>
					<key>teamWS</key>
					<string>/fichas/equipo/106/106/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_olimpiquelyon_size02.png</string>
						<key>calendar</key>
						<string>escudo_olimpiquelyon_size03.png</string>
						<key>detail</key>
						<string>escudo_olimpiquelyon_size01.png</string>
					</dict>
				</dict>

				<key>483</key>
		  		<dict>
					<key>name</key>
					<string>Girondins</string>
					<key>teamWS</key>
					<string>/fichas/equipo/483/483/equipo.js2</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_bordeaux_size02.png</string>
						<key>calendar</key>
						<string>escudo_bordeaux_size03.png</string>
						<key>detail</key>
						<string>escudo_bordeaux_size01.png</string>
					</dict>
				</dict>

				<!-- champions -->

				<key>49</key>
		  		<dict>
					<key>name</key>
					<string>PSG</string>
					<key>teamWS</key>
					<string>/fichas/equipo/049/49/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/49.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_psg_size02.png</string>
						<key>calendar</key>
						<string>escudo_psg_size03.png</string>
						<key>detail</key>
						<string>escudo_psg_size01.png</string>
					</dict>
				</dict>

				<key>338</key>
		  		<dict>
					<key>name</key>
					<string>Marsella</string>
					<key>teamWS</key>
					<string>/fichas/equipo/338/338/equipo.js2</string>
					<key>teamInfo</key>
					<string>http://as.com/apps/guia_de_la_liga/data/2015_2016/teams/338.xml</string>
					<key>shields</key>
					<dict>
						<key>grid</key>
						<string>escudo_marsella_size02.png</string>
						<key>calendar</key>
						<string>escudo_marsella_size03.png</string>
						<key>detail</key>
						<string>escudo_marsella_size01.png</string>
					</dict>
				</dict>

			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ordenacion</string>
			<key>viewType</key>
			<string>sort_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>calendar</string>
			<key>calendarWS</key>
			<string>/calendario/7fa706c952c0fec15c690989a89ebeff/calendario.js2</string>
			<key>resultsURL</key>
			<string>http://resultados.as.com/resultados/futbol/francia/</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>clasification</string>
			<key>clasificationWS</key>
			<dict>
				<key>Fase Grupos</key>
				<string>/clasificacion/7fa706c952c0fec15c690989a89ebeff/clasificacion_regular.js2</string>
			</dict>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>carrusel</string>
			<key>carruselWS</key>
			<string>/carrusel/7fa706c952c0fec15c690989a89ebeff/carrusel.js2</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>comparador</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>search</string>
			<key>queryPath</key>
			<string>/buscador.pl</string>
			<key>viewType</key>
			<string>principal_view</string>
			<key>available</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>adidas</string>
			<key>urlWV</key>
			<string>http://www.adidas.es/futbol</string>
			<key>viewType</key>
			<string>external_view</string>
			<key>available</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
